.fade {
  animation: bs-fade-in .15s linear;
}

@keyframes bs-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
  // tr&.in    { display: table-row; }
  // tbody&.in { display: table-row-group; }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height;
}
