//
// Badges
// --------------------------------------------------


.badge {
  position: relative;
  top: -.1em;
  display: inline-block;
  padding-right: .6em;
  padding-left: .6em;
  font-size: .75em;
  font-weight: $badge-font-weight;
  line-height: $line-height-base;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $badge-bg;
  @include border-radius($badge-border-radius);

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  &.pull-left,
  &.pull-right {
    top: .2em;
  }

  // Account for badges in navs
  .list-group-item.active > &,
  .nav-pills > .active > a > & {
    color: $badge-active-color;
    background-color: $badge-active-bg;
  }
  .list-group-item > & {
    float: right;
  }
  .list-group-item > & + & {
    margin-right: 5px;
  }
  .nav-pills > li > a > & {
    margin-left: 3px;
  }
}

// Hover state, but only for links
a.badge {
  @include hover-focus {
    color: $badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
