//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  padding: $jumbotron-padding ($jumbotron-padding / 2);
  margin-bottom: $jumbotron-padding;
  color: $jumbotron-color;
  background-color: $jumbotron-bg;

  .container &,
  .container-fluid & {
    @include border-radius($border-radius-lg); // Only round corners at higher resolutions if contained in a container
  }
}

.jumbotron-heading {
  color: $jumbotron-heading-color;
}

.jumbotron-hr {
  border-top-color: darken($jumbotron-bg, 10%);
}

@include media-sm {
  .jumbotron {
    padding: ($jumbotron-padding * 1.6) 0;

    .container &,
    .container-fluid & {
      padding-left:  ($jumbotron-padding * 2);
      padding-right: ($jumbotron-padding * 2);
    }
  }

  .jumbotron-heading {
    font-size: ($font-size-base * 4.5);
  }
}
