@use "mixins/border-radius";
@use "mixins/gradients";
@use "mixins/transition";
@use "variables";
@use "vendor/rfs";

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: variables.$nav-link-padding-y variables.$nav-link-padding-x;
  @include rfs.font-size(variables.$nav-link-font-size);
  font-weight: variables.$nav-link-font-weight;
  color: variables.$nav-link-color;
  text-decoration: if(variables.$link-decoration == none, null, none);
  @include transition.transition(variables.$nav-link-transition);

  &:hover,
  &:focus {
    color: variables.$nav-link-hover-color;
    text-decoration: if(variables.$link-hover-decoration == underline, none, null);
  }

  // Disabled state lightens text
  &.disabled {
    color: variables.$nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  border-bottom: variables.$nav-tabs-border-width solid variables.$nav-tabs-border-color;

  .nav-link {
    margin-bottom: -(variables.$nav-tabs-border-width);
    border: variables.$nav-tabs-border-width solid transparent;
    @include border-radius.border-top-radius(variables.$nav-tabs-border-radius);

    &:hover,
    &:focus {
      border-color: variables.$nav-tabs-link-hover-border-color;
    }

    &.disabled {
      color: variables.$nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: variables.$nav-tabs-link-active-color;
    background-color: variables.$nav-tabs-link-active-bg;
    border-color: variables.$nav-tabs-link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -(variables.$nav-tabs-border-width);
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-radius.border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius.border-radius(variables.$nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: variables.$nav-pills-link-active-color;
    @include gradients.gradient-bg(variables.$nav-pills-link-active-bg);
  }
}


//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
