@use "colors" as *;
@use "config" as *;
@use "variables" as *;

// scss-docs-start placeholder-tokens
$placeholder-tokens: (
  --placeholder-opacity-max: .5,
  --placeholder-opacity-min: .2,
) !default;
// scss-docs-end placeholder-tokens

@layer components {
  .placeholder {
    @each $prop, $value in $placeholder-tokens {
      #{$prop}: #{$value};
    }

    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    background-color: currentcolor;
    opacity: var(--placeholder-opacity-max);

    &.btn::before {
      display: inline-block;
      content: "";
    }
  }

  // Sizing
  .placeholder-xs {
    min-height: .6em;
  }

  .placeholder-sm {
    min-height: .8em;
  }

  .placeholder-lg {
    min-height: 1.2em;
  }

  // Animation
  .placeholder-glow {
    .placeholder {
      animation: placeholder-glow 2s ease-in-out infinite;
    }
  }

  @keyframes placeholder-glow {
    50% {
      opacity: var(--placeholder-opacity-min);
    }
  }

  .placeholder-wave {
    mask-image: linear-gradient(130deg, $black 55%, rgba(0, 0, 0, calc(1 - var(--placeholder-opacity-min))) 75%, $black 95%);
    mask-size: 200% 100%;
    animation: placeholder-wave 2s linear infinite;
  }

  @keyframes placeholder-wave {
    100% {
      mask-position: -200% 0%;
    }
  }
}
