@use "config" as *;
@use "variables" as *;
@use "mixins/border-radius" as *;
@use "mixins/box-shadow" as *;
@use "mixins/reset-text" as *;

// scss-docs-start popover-variables
$popover-font-size:                 var(--font-size-sm) !default;
$popover-bg:                        var(--bg-body) !default;
$popover-max-width:                 280px !default;
$popover-border-width:              var(--border-width) !default;
$popover-border-color:              var(--border-color-translucent) !default;
$popover-border-radius:             var(--border-radius-lg) !default;
$popover-inner-border-radius:       calc(#{$popover-border-radius} - #{$popover-border-width}) !default;
$popover-box-shadow:                var(--box-shadow) !default;

$popover-header-font-size:          $font-size-base !default;
$popover-header-bg:                 var(--bg-1) !default;
$popover-header-color:              $headings-color !default;
$popover-header-padding-y:          $spacer * .75 !default;
$popover-header-padding-x:          $spacer !default;

$popover-body-color:                var(--fg-body) !default;
$popover-body-padding-y:            $spacer * .75 !default;
$popover-body-padding-x:            $spacer !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
// scss-docs-end popover-variables

@layer components {
  .popover {
    // scss-docs-start popover-css-vars
    --popover-zindex: #{$zindex-popover};
    --popover-max-width: #{$popover-max-width};
    --popover-font-size: #{$popover-font-size};
    --popover-bg: #{$popover-bg};
    --popover-border-width: #{$popover-border-width};
    --popover-border-color: #{$popover-border-color};
    --popover-border-radius: #{$popover-border-radius};
    --popover-inner-border-radius: #{$popover-inner-border-radius};
    --popover-box-shadow: #{$popover-box-shadow};
    --popover-header-padding-x: #{$popover-header-padding-x};
    --popover-header-padding-y: #{$popover-header-padding-y};
    --popover-header-font-size: #{$popover-header-font-size};
    --popover-header-color: #{$popover-header-color};
    --popover-header-bg: #{$popover-header-bg};
    --popover-body-padding-x: #{$popover-body-padding-x};
    --popover-body-padding-y: #{$popover-body-padding-y};
    --popover-body-color: #{$popover-body-color};
    --popover-arrow-width: #{$popover-arrow-width};
    --popover-arrow-height: #{$popover-arrow-height};
    --popover-arrow-border: var(--popover-border-color);
    // scss-docs-end popover-css-vars

    z-index: var(--popover-zindex);
    display: block;
    max-width: var(--popover-max-width);
    // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
    // So reset our font and text properties to avoid inheriting weird values.
    @include reset-text();
    font-size: var(--popover-font-size);
    // Allow breaking very long words so they don't overflow the popover's bounds
    word-wrap: break-word;
    background-color: var(--popover-bg);
    background-clip: padding-box;
    border: var(--popover-border-width) solid var(--popover-border-color);
    @include border-radius(var(--popover-border-radius));
    @include box-shadow(var(--popover-box-shadow));

    .popover-arrow {
      display: block;
      width: var(--popover-arrow-width);
      height: var(--popover-arrow-height);

      &::before,
      &::after {
        position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
        border-width: 0;
      }
    }
  }

  .bs-popover-top {
    > .popover-arrow {
      bottom: calc(-1 * (var(--popover-arrow-height)) - var(--popover-border-width));

      &::before,
      &::after {
        border-width: var(--popover-arrow-height) calc(var(--popover-arrow-width) * .5) 0;
      }

      &::before {
        bottom: 0;
        border-block-start-color: var(--popover-arrow-border);
      }

      &::after {
        bottom: var(--popover-border-width);
        border-block-start-color: var(--popover-bg);
      }
    }
  }

  .bs-popover-end {
    > .popover-arrow {
      left: calc(-1 * (var(--popover-arrow-height)) - var(--popover-border-width));
      width: var(--popover-arrow-height);
      height: var(--popover-arrow-width);

      &::before,
      &::after {
        border-width: calc(var(--popover-arrow-width) * .5) var(--popover-arrow-height) calc(var(--popover-arrow-width) * .5) 0;
      }

      &::before {
        left: 0;
        border-inline-end-color: var(--popover-arrow-border);
      }

      &::after {
        left: var(--popover-border-width);
        border-inline-end-color: var(--popover-bg);
      }
    }
  }

  .bs-popover-bottom {
    > .popover-arrow {
      top: calc(-1 * (var(--popover-arrow-height)) - var(--popover-border-width));

      &::before,
      &::after {
        border-width: 0 calc(var(--popover-arrow-width) * .5) var(--popover-arrow-height);
      }

      &::before {
        top: 0;
        border-block-end-color: var(--popover-arrow-border);
      }

      &::after {
        top: var(--popover-border-width);
        border-block-end-color: var(--popover-bg);
      }
    }

    // This will remove the popover-header's border just below the arrow
    .popover-header::before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: var(--popover-arrow-width);
      margin-inline-start: calc(-.5 * var(--popover-arrow-width));
      content: "";
      border-block-end: var(--popover-border-width) solid var(--popover-header-bg);
    }
  }

  .bs-popover-start {
    > .popover-arrow {
      right: calc(-1 * (var(--popover-arrow-height)) - var(--popover-border-width));
      width: var(--popover-arrow-height);
      height: var(--popover-arrow-width);

      &::before,
      &::after {
        border-width: calc(var(--popover-arrow-width) * .5) 0 calc(var(--popover-arrow-width) * .5) var(--popover-arrow-height);
      }

      &::before {
        right: 0;
        border-inline-start-color: var(--popover-arrow-border);
      }

      &::after {
        right: var(--popover-border-width);
        border-inline-start-color: var(--popover-bg);
      }
    }
  }

  .bs-popover-auto {
    &[data-bs-placement^="top"] {
      @extend .bs-popover-top;
    }
    &[data-bs-placement^="right"] {
      @extend .bs-popover-end;
    }
    &[data-bs-placement^="bottom"] {
      @extend .bs-popover-bottom;
    }
    &[data-bs-placement^="left"] {
      @extend .bs-popover-start;
    }
  }

  // Offset the popover to account for the popover arrow
  .popover-header {
    padding: var(--popover-header-padding-y) var(--popover-header-padding-x);
    margin-bottom: 0; // Reset the default from Reboot
    font-size: var(--popover-header-font-size);
    color: var(--popover-header-color);
    background-color: var(--popover-header-bg);
    border-block-end: var(--popover-border-width) solid var(--popover-border-color);
    @include border-top-radius(var(--popover-inner-border-radius));

    &:empty {
      display: none;
    }
  }

  .popover-body {
    padding: var(--popover-body-padding-y) var(--popover-body-padding-x);
    color: var(--popover-body-color);
  }
}
