// Disable animation if transitions are disabled
@if $enable-transitions {
  @keyframes progress-bar-stripes {
    0% { background-position-x: $progress-height; }
  }
}

.progress {
  display: flex;
  @include progress-size($progress-height, $progress-font-size, $progress-border-radius);
  overflow: hidden; // force rounded corners by cropping it
  background-color: $progress-bg;
  @include box-shadow($progress-box-shadow);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: $progress-bar-color;
  text-align: center;
  white-space: nowrap;
  background-color: $progress-bar-bg;
  @include transition($progress-bar-transition);
}

.progress-bar-striped {
  @include gradient-striped();
  background-size: $progress-height $progress-height;
}

//
// Progress Sizes
//
.progress-lg {
  @include progress-size($progress-height-lg, $progress-font-size-lg, $progress-border-radius-lg);
}

.progress-sm {
  @include progress-size($progress-height-sm, $progress-font-size-sm, $progress-border-radius-sm);
}

@if $enable-transitions {
  .progress-bar-animated {
    animation: progress-bar-stripes $progress-bar-animation-timing;

    @if $enable-prefers-reduced-motion-media-query {
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
}
