//
// Spinners
//

%spinner {
  position: relative;
  display: inline-block;
  width: $spinner-width;
  height: $spinner-height;
  overflow: hidden;
  text-indent: -999em;
  vertical-align: text-bottom;
}

//
// Rotating border
//

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.spinner-border {
  @extend %spinner;
  border: $spinner-border-width solid;
  border-color: currentColor transparent currentColor currentColor;
  border-radius: 50%;
  animation: rotate .75s linear infinite;

  &.spinner-sm {
    width: $spinner-width-sm;
    height: $spinner-height-sm;
    border-width: $spinner-border-width-sm;
  }
}


//
// Growing circle
//

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-grow {
  @extend %spinner;
  background-color: currentColor;
  border-radius: 50%;
  animation: grow .75s linear infinite;

  &.spinner-sm {
    width: $spinner-width-sm;
    height: $spinner-height-sm;
  }
}
