// Margin

.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        $spacer   !important; }
.m-t { margin-top:    $spacer-y !important; }
.m-r { margin-right:  $spacer-x !important; }
.m-b { margin-bottom: $spacer-y !important; }
.m-l { margin-left:   $spacer-x !important; }
.m-x { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.m-y { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.m-x-auto { margin-right: auto  !important; margin-left: auto !important; }

.m-a-2 { margin:        ($spacer * 2)   !important; }
.m-t-2 { margin-top:    ($spacer-y * 2) !important; }
.m-r-2 { margin-right:  ($spacer-y * 2) !important; }
.m-b-2 { margin-bottom: ($spacer-y * 2) !important; }
.m-l-2 { margin-left:   ($spacer-y * 2) !important; }
.m-x-2 { margin-right:  ($spacer-x * 2) !important; margin-left:   ($spacer-x * 2) !important; }
.m-y-2 { margin-top:    ($spacer-y * 2) !important; margin-bottom: ($spacer-y * 2) !important; }

.m-a-3 { margin:        ($spacer * 3) !important; }
.m-t-3 { margin-top:    ($spacer-y * 3) !important; }
.m-r-3 { margin-right:  ($spacer-y * 3) !important; }
.m-b-3 { margin-bottom: ($spacer-y * 3) !important; }
.m-l-3 { margin-left:   ($spacer-y * 3) !important; }
.m-x-3 { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
.m-y-3 { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

// Padding

.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-right:  0 !important; padding-left:   0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        $spacer  !important; }
.p-t { padding-top:    $spacer-y !important; }
.p-r { padding-right:  $spacer-x !important; }
.p-b { padding-bottom: $spacer-y !important; }
.p-l { padding-left:   $spacer-x !important; }
.p-x { padding-right:  $spacer-x !important; padding-left:   $spacer-x !important; }
.p-y { padding-top:    $spacer-y !important; padding-bottom: $spacer-y !important; }

.p-a-2 { padding:        ($spacer * 2)   !important; }
.p-t-2 { padding-top:    ($spacer-y * 2) !important; }
.p-r-2 { padding-right:  ($spacer-y * 2) !important; }
.p-b-2 { padding-bottom: ($spacer-y * 2) !important; }
.p-l-2 { padding-left:   ($spacer-y * 2) !important; }
.p-x-2 { padding-right:  ($spacer-x * 2) !important; padding-left:   ($spacer-x * 2) !important; }
.p-y-2 { padding-top:    ($spacer-y * 2) !important; padding-bottom: ($spacer-y * 2) !important; }

.p-a-3 { padding:        ($spacer * 3)   !important; }
.p-t-3 { padding-top:    ($spacer-y * 3) !important; }
.p-r-3 { padding-right:  ($spacer-y * 3) !important; }
.p-b-3 { padding-bottom: ($spacer-y * 3) !important; }
.p-l-3 { padding-left:   ($spacer-y * 3) !important; }
.p-x-3 { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
.p-y-3 { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }

// Positioning

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;
}
