<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li><a href="{{ .Site.Params.repo }}">GitHub</a></li>
      <li><a href="https://twitter.com/{{ .Site.Params.twitter }}">Twitter</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
      <li><a href="/docs/{{ .Site.Params.docs_version }}/about/overview/">About</a></li>
    </ul>
    <p>Designed and built with all the love in the world by the <a href="/docs/{{ .Site.Params.docs_version }}/about/team/">Bootstrap team</a> with the help of <a href="{{ .Site.Params.repo }}/graphs/contributors">our contributors</a>.</p>
    <p>Currently v{{ .Site.Params.current_version }}. Code licensed <a href="{{ .Site.Params.repo }}/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
