<p>
  Options can be passed via data attributes or JavaScript. For data attributes, append the option name to <code>data-bs-</code>, as in <code>data-bs-animation=""</code>.
  Make sure to change the case type of the option name from camelcase to kebab-case when passing the options via data attributes.
  For example, use <code>data-bs-custom-class="beautifier"</code> instead of <code>data-bs-customClass="beautifier"</code>.
</p>

<div class="bd-callout bd-callout-???">
  <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">Added in v5.2.0</small>

  <div class="small">
    <p>
      All components support an <strong>experimental</strong> reserved data attribute <code>data-bs-config</code> that
      can house simple component configuration as a JSON string.
    </p>

    <p>
      When an element has <code>data-bs-config='{"delay":0, "title":123}'</code> and <code>data-bs-title="456"</code> attributes,
      the final <code>title</code> value will be <code>456</code> and the separate data attributes will override values given on <code>data-bs-config</code>.
    </p>
    <p>
      In addition, existing data attributes are able to house JSON values like <code>data-bs-delay='{"show":0,"hide":150}'</code>.
    </p>
  </div>
</div>
