<div class="skippy visually-hidden-focusable overflow-hidden">
  <div class="container-xl">
    <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
    {{ if (eq .Page.Layout "docs") -}}
    <a class="d-inline-flex p-2 m-1" href="#bd-docs-nav" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">Skip to docs navigation</a>
    <a class="d-inline-flex p-2 m-1" href="#TableOfContents" data-bs-toggle="collapse" data-bs-target="#tocContents">Skip to pages TableOfContents</a>
    {{- end }}
  </div>
</div>
