/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer {
  width: 100%;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer img {
  width: 200px;
}

code {
  font-size: 80%;
}
