<!doctype html>
<html lang="en" data-theme="auto">
  <script>
    const theme = localStorage.getItem('theme')
    if (theme === null) {
      localStorage.setItem('theme', window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
    } else if (theme === 'dark') {
      document.documentElement.setAttribute('data-theme', theme)
    }
  </script>

  <head>
    {{ partial "header" . }}
  </head>
  {{ block "body_override" . }}<body>{{ end }}
    {{ partial "skippy" . }}
    {{ partial "icons" . }}

    {{ partial "docs-navbar" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer" . }}
    {{ partial "scripts" . }}

    {{ block "footer" . }}
    {{ end }}
  </body>
</html>
