<!doctype html>
<html lang="en">
  <head>
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "skippy" . }}

    {{ partial "docs-navbar" . }}

    <nav class="bd-subnavbar pt-2 pb-3 pb-md-2 mb-4">
      <div class="container d-flex align-items-md-center flex-column flex-md-row">
        <div class="d-flex align-items-center mb-2 mb-md-0 mr-md-auto">
          <a class="link-dark" href="/" onclick="ga('send', 'event', 'Subnav', 'click', 'Bootstrap');">Bootstrap</a>
          {{ partial "icons/booticon-chevron-right.svg" (dict "class" "booticon d-inline-block mx-2 flex-shrink-0" "width" "12px" "height" "12px") }}
          <a class="link-dark" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" onclick="ga('send', 'event', 'Subnav', 'click', 'Documentation');">Documentation</a>
          {{ partial "icons/booticon-chevron-right.svg" (dict "class" "booticon d-inline-block mx-2 flex-shrink-0" "width" "12px" "height" "12px") }}

          <div class="dropdown">
            <button class="btn btn-link dropdown-toggle p-0 link-dark" id="bd-versions" data-toggle="dropdown" aria-expanded="false">
              v{{ .Site.Params.docs_version }}
            </button>
            <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
              <a class="dropdown-item active" href="/docs/{{ .Site.Params.docs_version }}/">Latest (5.0.x)</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/docs/{{ .Site.Params.docs_version }}/">v4.3.1</a>
              <a class="dropdown-item" href="https://getbootstrap.com/docs/4.2/">v4.2.1</a>
              <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/">v4.0.0</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/">v4 Alpha 6</a>
              <a class="dropdown-item" href="https://getbootstrap.com/docs/3.4/">v3.4.1</a>
              <a class="dropdown-item" href="https://getbootstrap.com/docs/3.3/">v3.3.7</a>
              <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/docs/versions/">All versions</a>
            </div>
          </div>
        </div>
        <form class="bd-search d-flex align-items-center">
          <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="{{ .Site.Params.docs_version }}">
          <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            {{ partial "icons/menu.svg" (dict "width" "30" "height" "30") }}
          </button>
        </form>
      </div>
    </nav>

    <div class="container">
      <div class="row flex-xl-nowrap">
        <div class="col-md-3 bd-sidebar">
          {{ partial "docs-sidebar" . }}
        </div>

        <main class="col-md-9 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">{{ .Title | markdownify }}</h1>
          <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
          {{ partial "ads" . }}

          {{ if .Page.Params.sections }}
            <div class="row my-5">
              {{ range .Page.Params.sections }}
                <div class="col-md-6 mb-4">
                  <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                    <strong class="d-block h5 mb-0">{{ .title }}</strong>
                    <span class="text-secondary">{{ .description }}</span>
                  </a>
                </div>
              {{ end }}
            </div>
          {{ end }}

          {{ if (eq .Page.Params.toc true) }}
            <strong class="d-block h3 mt-5 mb-3">On this page</strong>
            <nav class="bd-toc mb-5" aria-label="Secondary navigation">
              {{ .TableOfContents }}
            </nav>
          {{ end }}

          {{ .Content }}
        </main>
      </div>
    </div>

    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
