<!doctype html>
<html lang="en">
  <head>
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "skippy" . }}

    {{ partial "docs-navbar" . }}

    <header class="py-5 border-bottom">
      <div class="container pt-md-1 pb-md-4">
        <h1 class="bd-title mt-0">{{ .Title | markdownify }}</h1>
        <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
        {{ if eq .Title "Examples" }}
        <a href="{{ .Site.Params.download.source }}" class="btn btn-lg btn-bd-primary" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">Download source code</a>
        <a href="{{ .Site.Params.download.dist_examples }}" class="btn btn-lg btn-bd-primary mt-3 mt-sm-0 ml-sm-3 ml-md-5" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download Examples');">Download Examples</a>
        {{ end }}
        {{ partial "ads" . }}
      </div>
    </header>

    <main class="bd-content order-1 py-5" id="content">
      <div class="container">
        {{ .Content }}
      </div>
    </main>

    {{ partial "footer" . }}
    {{ partial "scripts" . }}
  </body>
</html>
