// Alerts

.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;

  h4 {
      color: @text-color;
  }
  hr {
    border-top-color: darken(@border, 5%);
  }
  b, strong, .close {
      color: @text-color;
  }
  .alert-link,
  .close:hover,
  .close:focus {
      color: darken(@text-color, 10%);
  }
}
