// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@color; @background) {
  &:extend(.btn);
  color: @color;
  background-color: @background;

  &:focus,
  &.focus {
    color: @color;
    background-color: darken(@background, 10%);
  }
  &:hover {
    color: @color;
    background-color: darken(@background, 10%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);

    &:hover,
    &:focus,
    &.focus {
      color: @color;
      background-color: darken(@background, 17%);
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background;
    }
  }
  &-outline {
    background-color: transparent;
    color: @background;
    border: 1px solid currentColor;
    .box-shadow(none);
    &:hover,
    &.focus {
      color: darken(@background, 17%);
      border-color: darken(@background, 17%);
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      color: @background;
      border-color: @background;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Button sizes
.button-size(@height; @padding-horizontal; @font-size; @border-radius) {
  padding: 0 @padding-horizontal;
  height: @height;
  font-size: @font-size;
  line-height: @height;
  border-radius: @border-radius;
}
