// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}
.button-variant-gradient(@color; @firstcolor; @secondcolor; @border) {
  background: @firstcolor; /* Old browsers */
  background: -moz-linear-gradient(top,  @firstcolor 0%, @secondcolor 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@firstcolor), color-stop(100%,@secondcolor)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  @firstcolor 0%,@secondcolor 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  @firstcolor 0%,@secondcolor 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  @firstcolor 0%,@secondcolor 100%); /* IE10+ */
  background: linear-gradient(to bottom,  @firstcolor 0%,@secondcolor 100%); /* W3C */
  color: @color;
  border-color: @border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@firstcolor, 10%);
    border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @firstcolor;
      border-color: @border;
    }
  }

  .badge {
    color: @firstcolor;
    background-color: @color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}
