// List Groups

.list-group-item-variant(@state; @background; @color) {
  .list-group-item-@{state} {
    color: inherit;
    background-color: @background;

    .list-group-item-heading {
      color: @color;
    }

    a& {
      color: @color;

      &:hover,
      &:focus {
        color: @color;
        background-color: darken(@background, 5%);
      }
      &.active,
      &.active:hover,
      &.active:focus {
        color: #fff;
        background-color: @color;
      }
    }
  }
}
