//
// Volusion Mixins
// --------------------------------------------------


// Font-smoothing
// --------------------------------------------------

.font-smoothing(@font-smoothing:antialiased) { 
  -webkit-font-smoothing: @font-smoothing;
     -moz-font-smoothing: @font-smoothing;
      -ms-font-smoothing: @font-smoothing;
          font-smoothing: @font-smoothing;
}