---
import { getConfig } from '@libs/config'
import { getVersionedDocsPath } from '@libs/path'
import Code from '@shortcodes/Code.astro'
---

<section class="row g-3 md:g-5 mb-5 pb-5 justify-content-center">
  <div class="md:col-8 mx-auto text-center">
    <h4 class="fw-semibold">Read our getting started guides</h4>
    <p>Get a jump on including Bootstrap's source files in a new project with our official guides.</p>
    <div class="d-flex flex-wrap align-items-center justify-content-center gap-4 mt-4">
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('guides/npm/')}
      >
        <img
          class="d-block mb-2"
          src={getVersionedDocsPath('/assets/img/npm.svg')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-3">npm</span>
      </a>
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('guides/webpack/')}
      >
        <img
          class="d-block mb-2"
          src={getVersionedDocsPath('/assets/img/webpack.svg')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-3">Webpack</span>
      </a>
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('guides/parcel/')}
      >
        <img
          class="d-block mb-2"
          src={getVersionedDocsPath('/assets/img/parcel.png')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-3">Parcel</span>
      </a>
      <a
        class="d-flex flex-column align-items-center text-decoration-none animate-img"
        href={getVersionedDocsPath('guides/vite/')}
      >
        <img
          class="d-block mb-2"
          src={getVersionedDocsPath('/assets/img/vite.svg')}
          alt=""
          width="72"
          height="72"
          loading="lazy"
        />
        <span class="fg-3">Vite</span>
      </a>
    </div>
  </div>
</section>
