// ALERT STYLES
// ------------

// Base alert styles
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: @baseLineHeight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: @warningBackground;
  border: 1px solid @warningBorder;
  .border-radius(4px);
}
.alert,
.alert-heading {
  color: @warningText;
}

// Adjust close link position
.alert .close {
  position: relative;
  right: -21px;
  line-height: 18px;
}

// Alternate styles
// ----------------

.alert-success {
  background-color: @successBackground;
  border-color: @successBorder;  
}
.alert-success,
.alert-success .alert-heading {
  color: @successText;
}
.alert-danger,
.alert-error {
  background-color: @errorBackground;
  border-color: @errorBorder;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: @errorText;
}
.alert-info {
  background-color: @infoBackground;
  border-color: @infoBorder;
}
.alert-info,
.alert-info .alert-heading {
  color: @infoText;
}


// Block alerts
// ------------------------
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}


// Span alert
// ----------
form .alert.span1 , .form-inline .alert.span1  { .alert-inline-columns(1);}
form .alert.span2 , .form-inline .alert.span2  { .alert-inline-columns(2);}
form .alert.span3 , .form-inline .alert.span3  { .alert-inline-columns(3);}
form .alert.span4 , .form-inline .alert.span4  { .alert-inline-columns(4);}
form .alert.span5 , .form-inline .alert.span5  { .alert-inline-columns(5);}
form .alert.span6 , .form-inline .alert.span6  { .alert-inline-columns(6);}
form .alert.span7 , .form-inline .alert.span7  { .alert-inline-columns(7);}
form .alert.span8 , .form-inline .alert.span8  { .alert-inline-columns(8);}
form .alert.span9 , .form-inline .alert.span9  { .alert-inline-columns(9);}
form .alert.span10, .form-inline .alert.span10 { .alert-inline-columns(10);}
form .alert.span11, .form-inline .alert.span11 { .alert-inline-columns(11);}
form .alert.span12, .form-inline .alert.span12 { .alert-inline-columns(12);}

.form-horizontal .alert.span1  { .alert-horizontal-columns(1);}
.form-horizontal .alert.span2  { .alert-horizontal-columns(2);}
.form-horizontal .alert.span3  { .alert-horizontal-columns(3);}
.form-horizontal .alert.span4  { .alert-horizontal-columns(4);}
.form-horizontal .alert.span5  { .alert-horizontal-columns(5);}
.form-horizontal .alert.span6  { .alert-horizontal-columns(6);}
.form-horizontal .alert.span7  { .alert-horizontal-columns(7);}
.form-horizontal .alert.span8  { .alert-horizontal-columns(8);}
.form-horizontal .alert.span9  { .alert-horizontal-columns(9);}
.form-horizontal .alert.span10 { .alert-horizontal-columns(10);}
.form-horizontal .alert.span11 { .alert-horizontal-columns(11);}
.form-horizontal .alert.span12 { .alert-horizontal-columns(12);}
