
.decision {
  padding: 24px 12px 24px 0;
  cursor: pointer;
  border-top: 1px solid @brand-smoke-plus-10;
  border-bottom: 1px solid @brand-smoke-plus-10;
  margin-bottom: 0 !important;

  + .decision {
    margin-top: -1px;
  }

  dd:last-child {
    margin-bottom: 0;
  }
  dl {
    margin-top: 8px;
  }

  .caret {
    color: @brand-light-blue;
    padding-bottom: 8px;
  }

  .media-left {
    display: none;
  }

  @media (min-width: @screen-xs) {
    padding: 24px 24px 24px 22px;
    border-left: 2px solid transparent;
    
    .media-left {
      display: block;
    }
    &:hover {
      border-left-color: @brand-light-blue;
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: disabled;
    border-left-color: transparent;
  }

  &:hover {
    .tw-checkbox-button,
    .tw-radio-button {
      border-color: @brand-light-blue;
    }
  }
}
