/*
  Baseline's documentation styles
  Special styles for presenting Baseline's documentation and examples
*/


/* Body and structure
-------------------------------------------------- */

// Give us a gradient background
body {
  #gradient > .vertical-three-colors(#eee, #fff, 0.15, #fff);
  background-attachment: fixed;
  background-position: 0 40px;
  position: relative;
}

// Give us some love on HTML5 elements (hardly use these in Basline thus far though)
header,
section,
footer,
article,
aside {
  display: block;
}

// Break up sections
section {
  padding-top: @baseline * 4;
  margin-bottom: @baseline * -2;
}

// Blueprint-style header and footer
#masthead,
#footer {
  #gradient > .vertical(darken(@blue-dark, 7.5%), darken(@blue, 7.5%));
  div.inner {
    background: transparent url(../img/grid-20px.png) 0 -1px;
    padding: 40px 0;
    .box-shadow(inset 0 10px 30px rgba(0,0,0,.25));
  }
  h1, p, small {
    color: #fff;
    text-shadow: 0 2px 0 rgba(0,0,0,.25);
  }
}
#masthead {
  margin-top: @baseline * 2;
  margin-bottom: @baseline * -2;
  h1 {
    margin-bottom: 0;
  }
  p.lead {
    .font(300,20px,30px);
    margin: 5px 0;
  }
  a.btn {
    #gradient > .vertical(@purple, darken(@purple, 15%));
    display: block;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 0;
    @shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 0 rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.4);
    .box-shadow(@shadow);
    .transition(all .2s linear);
  }
  small {
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: @baseline;
    color: rgba(255,255,255,.5);
    a {
      color: #fff;
    }
  }
}

// Page footer
#footer {
  margin-top: @baseline * 4;
  p {
    margin-bottom: 0;
  }
}


/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 20px;
  margin-bottom: 20px;
  .column,
  .columns {
    background: rgba(0,0,0,.1);
    text-align: center;
    .border-radius(3px);
    height: 30px;
    line-height: 30px;
  }
  &:hover {
    .column,
    .columns {
      background: rgba(0,0,0,.25);
    }
  }
}


/* Hashgrid.js grid (press G & H to view)
-------------------------------------------------- */

#grid {
  width: 980px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
}
#grid div.vert {
  #translucent > .background(#00CED1, .075);
  width: 39px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-right: 19px;
}
#grid div.vert.first-line {
  margin-left: 19px;
}
#grid div.horiz {
  height: @baseline - 1;
  border-bottom: 1px solid rgba(255,0,0,.1);
  margin: 0;
  padding: 0;
  &:nth-child(5n) {
    border-color: rgba(255,0,0,.25);
  }
}



/* Render mini layout previews
-------------------------------------------------- */

div.mini-layout {
  height: 340px;
  margin-bottom: @baseline;
  padding: 9px;
  border: 1px solid rgba(0,0,0,.25);
  .border-radius(6px);
  .box-shadow(0 1px 3px rgba(0,0,0,.125));
  // Default mini layout (fixed container)
  div {
    .border-radius(3px);
    &.mini-layout-body {
      background-color: rgba(141,192,219,.25);
      margin: 0 auto;
      width: 450px;
      height: 340px;
    }
  }
  // Fluid layout (sidebar)
  &.fluid {
    div.mini-layout-sidebar,
    div.mini-layout-header,
    div.mini-layout-body {
      float: left;
    }
    div.mini-layout-sidebar {
      background-color: rgba(141,192,219,.5);
      width: 90px;
      height: 340px;
    }
    div.mini-layout-body {
      width: 400px;
      margin-left: 10px;
    }
  }
}



/* Topbar special styles
-------------------------------------------------- */

div.topbar-wrapper {
  position: relative;
  height: 40px;
  margin: 5px 0 15px;
  div.topbar {
    position: absolute;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    .border-radius(4px);
  }
}
