body {
  #gradient > .vertical-three-colors(#eee, #fff, 0.15, #fff);
  background-attachment: fixed;
  background-position: 0 40px;
  position: relative;
}

// Give us some love
header,
section,
footer,
article,
aside {
  display: block;
}

#masthead,
#footer {
  #gradient > .vertical(darken(@blue-dark, 5%), darken(@blue, 7.5%));
  div.inner {
    background: transparent url(../img/grid-20px.png) 0 -1px;
    padding: 40px 0;
    .box-shadow(inset 0 10px 30px rgba(0,0,0,.25));
  }
  h1, p, small {
    color: #fff;
    text-shadow: 0 2px 0 rgba(0,0,0,.25);
  }
}
#masthead {
  margin-top: @baseline * 2;
  margin-bottom: @baseline * -2;
  h1 {
    margin-bottom: 0;
  }
  p.lead {
    .font(300,20px,30px);
    margin: 5px 0;
  }
  a.btn {
    #gradient > .vertical(@purple, darken(@purple, 15%));
    display: block;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border: 0;
    @shadow: inset 0 1px 0 rgba(255,255,255,.25), inset 0 -1px 0 rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.4);
    .box-shadow(@shadow);
    .transition(all .2s linear);
  }
  small {
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: @baseline;
    color: rgba(255,255,255,.5);
    a {
      color: #fff;
    }
  }
}

// Page footer
#footer {
  margin-top: @baseline * 4;
  p {
    margin-bottom: 0;
  }
}

// Show the grids
.show-grid {
  margin-top: 20px;
  margin-bottom: 20px;
  .column,
  .columns {
    background: rgba(0,0,0,.1);
    text-align: center;
    .border-radius(3px);
    height: 30px;
    line-height: 30px;
  }
  &:hover {
    .column,
    .columns {
      background: rgba(0,0,0,.25);
    }
  }
}

// Break up sections
section {
  padding-top: @baseline * 4;
  margin-bottom: @baseline * -2;
}

// Hashgrid.js grid
#grid {
  width: 980px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
}
#grid div.vert {
  width: 39px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-right: 19px;
}
#grid div.vert.first-line {
  margin-left: 19px;
}
#grid div.horiz {
  height: 19px;
  border-bottom: 1px solid rgba(255,0,0,.1);
  margin: 0;
  padding: 0;
  &:nth-child(5n) {
    border-color: rgba(255,0,0,.25);
  }
}
