//
// Grid system
// --------------------------------------------------


// Set the container width, and override it for fixed navbars in media queries
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container { width: 940px; }

// Fixed (940px)
#grid > .core(@gridColumnWidth, @gridGutterWidth, @gridRowWidth);

// Reset utility classes due to specificity
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}
