//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  .container-fixed();

  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
  @media (min-width: @screen-xl-min) {
    width: @container-xl;
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  .container-fixed();
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  .make-row();
}


// Columns
//
// Common styles for small and large grid columns

.make-grid-columns();


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(xs);


// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(md);
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-xl-min) {
  .make-grid(xl);
}

@media (max-width: @screen-xs-max) {
  .container {
    padding-right: @padding-container-collapse-xs;
    padding-left: @padding-container-collapse-xs;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .container {
    padding-right: @padding-container-collapse;
    padding-left: @padding-container-collapse;
  }
}

[class*="col-sm"],
[class*="col-md"],
[class*="col-lg"],
[class*="col-xl"] {
  margin-bottom: (@spacer-y * 2);
}

[class*="col-xs"] {
  margin-bottom: 0;
}

@media (min-width: @screen-sm-min) {
  [class*="col-sm"] {
    margin-bottom: 0;
  }
}

@media (min-width: @screen-md-min) {
  [class*="col-md"] {
    margin-bottom: 0;
  }
}

@media (min-width: @screen-lg-min) {
  [class*="col-lg"] {
    margin-bottom: 0;
  }
}

@media (min-width: @screen-xl-min) {
  [class*="col-xl"] {
    margin-bottom: 0;
  }
}

.row-equal-height {
  display: flex;
  flex-wrap: wrap;

  > [class*="col-"] {
    display: flex;
  }
  .col-xs-12 {
    margin-bottom: 16px;
  }
}
