// Manta customized LESS file, using the Bootstrap lib.



//------------------ mixins --------------------------

.navbar-search-expander(@screen, @width) {
  @media (min-width: @screen) {
    .transition(all 100ms ease-in);
    &:focus {
      width: @width;
      margin-left: -100px;
    }
  }
}



//------------------  generic  -----------------------

.content {
  background-color: @neutralWhite;
}

.navbar-search {
  .navbar-search-expander(@screen-sm, 244px);
  .navbar-search-expander(@screen-md, 326px);
}

//------------------ fonts ---------------------------

@font-face {
  font-family: 'vegurlight';
  src: url('@{display-font-path}@{display-font-name}.eot');
  src: url('@{display-font-path}@{display-font-name}.eot?#iefix') format('embedded-opentype'),
       url('@{display-font-path}@{display-font-name}.woff') format('woff'),
       url('@{display-font-path}@{display-font-name}.ttf') format('truetype'),
       url('@{display-font-path}@{display-font-name}.svg#Vegur-Light') format('svg');
}

