// Manta Color Pallette
@warmLighter     : #fff2c5;
@warmMidlight    : #dab132;
@warmMiddark     : #bb4924;
@warmDark        : #f99a00;

@coolLightest    : #cdd6de;
@coolLighter     : #aad1e4;
@coolLight       : #83bdcc;
@coolMidlight    : #529fba;
@coolMiddark     : #516d85;
@coolDark        : #909090;
@coolDarker      : #5b5b5b;
//@coolDarkest     : #000000;
@coolDarkest     : #2d3236;
//@coolDarkest     : #404040;
@coolDarkest     : #252525;

@neutralWhite    : #ffffff;
@neutralLightest : #f1f1f1;
@neutralLighter  : #e0e0e0;
@neutralLight    : #cccccc;
@neutralMidlight : #909090;
@neutralMiddark  : #5b5b5b;
@neutralDarker   : #404040;
@neutralDarkest  : #252525;

@naturalMiddark  : #7ca950;

@errorLight      : #dab4b6;
@errorDark       : #a95056;

