@link-color:            @warmMiddark;
  //uses the above
  @link-hover-color:      @link-color;
  @btn-warning-color:              @link-color;
  @pagination-color:                     @link-color;
  @badge-active-color:          @link-color;
@input-bg:                       @neutralLightest;
@navbar-default-link-color:                @neutralLighter;
  //uses the above
  @navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-link-active-color:         @neutralLightest;
@navbar-default-link-disabled-color:       @neutralMidlight;
  // uses the above
  @navbar-default-brand-color:               @navbar-default-link-color;
  @navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
  @navbar-default-brand-hover-bg:            transparent;
