@font-face { font-family: elena-web; src: url('/static/fonts/Elena/regular.woff'); }
@font-face { font-family: elena-web; src: url('/static/fonts/Elena/regularitalic.woff'); font-style: italic; }
@font-face { font-family: elena-web; src: url('/static/fonts/Elena/bold.woff'); font-weight: bold; }
@font-face { font-family: elena-web; src: url('/static/fonts/Elena/bolditalic.woff'); font-weight: bold; font-style: italic; }
