.navbar{
  margin-bottom:0;
  @media (min-width: @screen-md-min) {
    margin-bottom:20px;
  }
}
.navbar-header-wrapper{

  background-color:@header-bg;

  &.horizontal-tiling-bg{
    background-image: url('../background.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-size: 100% 60px;
  }
  &.tiling-bg{
    background-image: url('../background.png');
    background-repeat: repeat;
  }


  @media (min-width:@screen-sm-min){
    height:120px;
    padding:20px 0;
    &.horizontal-tiling-bg{
      background-size:100% 100%;
    }
  }
}

.navbar-brand{
  padding: 14px 0;
  img{
    width:auto;
    height: 27px;
  }
  @media (min-width:@screen-sm-min){
    padding:10px;
    img{
      height:45px;
    }
  }
  @media (min-width:@screen-md-min){
    padding:10px 0;
  }
}



.navbar-profile{
  display:none;
  clear:left;
  padding-top:10px;
  padding-bottom:10px;
  &.in,
  &.collapsing{
    display:block;
  }
  img{
    width : @avatar-size-medium;
    height: @avatar-size-medium;
  }
  a{
    background-color:#fff;
    &:last-child{
      position:relative;
      float:right;
      .glyphicon{
        font-size:28px;
      }
      strong{
        display:none;
      }
      .badge{
        position:absolute;
        top: 8px;
        right: 22px;
      }
    }
  }
  img{
    margin-right:5px;
  }
  button{
    width:100%;
  }
  @media (min-width: @grid-float-breakpoint){
    clear:none;
    float:right;
    display:block;
    padding:0;
    min-width:200px;
    margin-right:15px;
    margin-top:12px;
    a{
      display:block;
      padding:5px;
      &:last-child{
        float:none;
        background-color:#fbfbfb;
        border-top: 1px solid #EEE;
        .glyphicon{
          font-size:@font-size-small;
        }
        strong{
          display:inline;
        }
        .badge{
          position:relative;
          top:0;
          right:0;
        }
      }
    }
    .badge{
      float:right;
    }
  }
  @media (min-width: @screen-sm-min){
    button{
      width:auto;
      float:right;
    }
  }
  @media (min-width: @screen-md-min){
    margin-right:0;
  }
}


.navbar-search{
  display:none;
  &.in,
  &.collapsing{
    display:block;
  }
  input[type=text]{
    border-radius:40px;
  }
  .input-group-addon{
    border-radius:20px 0 0 20px;
    background-color:#fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
  }
  @media (min-width: @grid-float-breakpoint) {
    display:block;
    margin-top:8px;
    .input-group-addon{
      border-color:#999;
      cursor:text;
    }
    .form-control{
      border-color:#999;
      font-size:@font-size-medium;
    }
  }
}

.navbar-nav-wrapper{
  border:1px solid #ccc;
  border-width:1px 0;

}
.navbar-nav a{
  font-family: @font-family-display;
  font-size:@font-size-small;
}