
@sprite-image-width: 168px;
@sprite-image-height:132px;

@sprite-base-width:   28px;
@sprite-base-height:  28px;
@sprite-small-width:  16px;
@sprite-small-height: 16px;

@sprite-ratio:           1;
@sprite-ratio-sm:        1;


@sprite-scaled-width:  @sprite-base-width*@sprite-ratio;
@sprite-scaled-height: @sprite-base-height*@sprite-ratio;


@sprite-row-2:    @sprite-base-height * -1;
@sprite-row-3:    @sprite-base-height * -2;
@sprite-row-4:    @sprite-base-height * -3;
@sprite-row-5:    @sprite-row-4 + (@sprite-small-height*-1);
@sprite-row-6:    @sprite-row-5 + (@sprite-small-height*-1);



.sprite{
  background:       url('/static/img/icons.png') no-repeat 0 0 transparent;
  background-size:  @sprite-image-width*@sprite-ratio @sprite-image-height*@sprite-ratio;
  width:            @sprite-scaled-width;
  height:           @sprite-scaled-height;
  display:          inline-block;
  vertical-align:   middle;
}
.sprite-size-small{
  width:            @sprite-small-width;
  height:           @sprite-small-height;
}
.sprite-speech-bubble{
  background-position: 0 0;
}
.sprite-speech-bubble-small{
  .sprite-size-small;
  background-position: 0 @sprite-row-5;
}

.sprite-calendar{
  background-position: (@sprite-scaled-width * -1) 0;
}
.sprite-calendar-2{
  background-position: (@sprite-scaled-width * -4) @sprite-row-2;
}

.sprite-calendar-small{
  .sprite-size-small;
  background-position: (@sprite-small-width * -1) @sprite-row-5;
}

.sprite-map-marker{
  background-position: (@sprite-scaled-width * -2) 0;
}
.sprite-pushpin{
  background-position: (@sprite-scaled-width * -3) 0;
}
.sprite-lock{
  background-position: (@sprite-scaled-width * -4) 0;
}
.sprite-attending{
  background-position: (@sprite-scaled-width * 0) @sprite-row-2;
}
.sprite-user{
  background-position: (@sprite-scaled-width * 0) @sprite-row-3;
}
.sprite-user-group{
  background-position: (@sprite-scaled-width * -1) @sprite-row-3;
}

.sprite-envelope{
  background-position: (@sprite-scaled-width * -1) @sprite-row-2;
}
.sprite-envelope-small{
  .sprite-size-small;
  background-position: (@sprite-small-width * -2) @sprite-row-5;
}
.label-warning{
  .sprite-envelope{
    background-position:(@sprite-scaled-width * -2) @sprite-row-3;
  }
  .sprite-envelope-small{
    background-position: (@sprite-small-width * -1) @sprite-row-6;
  }
}

.sprite-quote{
  background-position: (@sprite-scaled-width * -2) @sprite-row-2;
}

.sprite-search-small{
  .sprite-size-small;
  background-position: (@sprite-small-width * -3) @sprite-row-5;
}

.sprite-ok-small{
  .sprite-size-small;
  background-position: (@sprite-small-width * -4) @sprite-row-5;
}

.sprite-logout{
  .sprite-size-small;
  background-position:  (@sprite-small-width * -8) @sprite-row-5;
}

.sprite-menu-2{
  background-position: (@sprite-scaled-width * -4) 0;
}

.sprite-speech-bubble-single{
  background-position: (@sprite-scaled-width * -5) 0;
}

.sprite-microcosm{
  background-position: (@sprite-scaled-width * -5) @sprite-row-2;
}

.sprite-branch-arrow-right{
  .sprite-size-small;
  background-position: 0 @sprite-row-6;
}

.sprite-pencil{
  background-position: (@sprite-scaled-width * -3) @sprite-row-3;
}
.sprite-pencil-small{
  .sprite-size-small;
  background-position: (@sprite-small-width * -5) @sprite-row-5;
}


////////////////////////
//  Pagination icons  //
////////////////////////

.sprite-arrow-reply{
  .sprite-size-small;
  background-position: (@sprite-small-width * 0) @sprite-row-4;
}
.sprite-arrow-forward{
  .sprite-size-small;
  background-position: (@sprite-small-width * -1) @sprite-row-4;
}
.sprite-arrow-left{
  .sprite-size-small;
  background-position: (@sprite-small-width * -2) @sprite-row-4;
}
.sprite-arrow-right{
  .sprite-size-small;
  background-position: (@sprite-small-width * -3) @sprite-row-4;
}
.sprite-arrow-jump-left{
  .sprite-size-small;
  background-position: (@sprite-small-width * -4) @sprite-row-4;
}
.sprite-arrow-jump-right{
  .sprite-size-small;
  background-position: (@sprite-small-width * -5) @sprite-row-4;
}


/////////////////////
//  editing icons  //
/////////////////////

.sprite-format-link{
  .sprite-size-small;
  background-position:(@sprite-small-width * -6) @sprite-row-4;
}
.sprite-format-list{
  .sprite-size-small;
  background-position:(@sprite-small-width * -7) @sprite-row-4;
}
.sprite-format-img{
  .sprite-size-small;
  background-position:(@sprite-small-width * -8) @sprite-row-4;
}
.sprite-help-small{
  .sprite-size-small;
  background-position:(@sprite-small-width * -6) @sprite-row-5;
}

////////////////////////////////////////////
//  popup dialog "speech bubbles" arrows  //
////////////////////////////////////////////

.sprite-nib-up{
  width:16px;
  height:8px;
  background-position:(@sprite-small-width * -7)  @sprite-row-5;
}
.sprite-nib-down{
  width:16px;
  height:8px;
  background-position:(@sprite-small-width * -7) @sprite-row-5 - 8px;
}