
// .list-microcosms,
// .list-microcosms ul{
//   margin:0;
//   padding:0;
//   list-style:none;
// }
// .list-microcosms{
//   border-radius:3px;
//   border:1px solid #eee;
//   h2{
//     font-size:@font-size-base;
//     margin: 0 0 6px;
//     display:inline-block;
//     color:#333;
//     &:hover{
//       text-decoration: underline;
//     }
//   }
//   &>li{
//     padding:15px;
//     border-bottom:1px solid #eee;
//     &:last-child{
//       border-bottom:0;
//     }

//     &>p{
//       font-size:@font-size-small;
//     }
//     img{
//       width:@avatar-size-small;
//       height:@avatar-size-small;
//       border-radius:3px;
//     }

//     &:hover{
//       .muted{
//         color:#999;
//       }
//     }
//   }
// }
// .microcosm-item-actions{
//   margin-top:10px;
//   a{
//     color:#999;
//     &.muted{
//       color:#ccc;
//     }
//   }
//   .progress{
//     margin-left:10px;
//   }
// }


// .microcosm-item-update{
//   a{
//     color:@brand-primary;
//     display:block;
//     padding: 15px 0;
//     text-align: center;
//     background-color: #EFF9FF;
//   }
//   .glyphicon{
//     color:@brand-primary;
//   }
// }
.microcosm-item-update-title{
  font-size:@font-size-small;
  color:#666;
  strong{
    font-size:@font-size-base;
  }
}
.microcosm-item-update-text{
  font-family:@font-family-serif;
  font-size:16px;
  margin:10px 0;
  color:#666;
}


.microcosm-item-search{
  h2{
    color:@brand-primary;
    text-decoration: underline;
  }
  p{
    font-size:@font-size-small;
    color:#999;
    margin-bottom:5px;
    strong{
      color:#666;
    }
  }
}
.microcosm-item-search-parent{
  color:@brand-success;
  text-decoration: underline;
  &:hover{
    color:@brand-success;
  }
}




.pills-event {
    display: inline-block;
    border: 1px solid #89ADDB;
    border-radius: 5px;
    color: #3175AA;
    margin-left: 5px;
    span {
      padding: 0 5px;
      border-radius: 5px;
      &:last-child {
        border-left: 1px solid #89ADDB;
        background-color: #DDE9FF;
        border-radius: 0 5px 5px 0;
      }
    }
}


.microcosm-item-moderation{
  font-size:@font-size-small;
  color:#666;
  @media (min-width: @grid-float-breakpoint){
    .checkbox{
      margin:7px 10px 0 0;
      float:right;
      label{
        float:right;
      }
      input{
        margin: 2px 5px 0 0;
      }
    }
    select{
      float: right;
      width: 65%;
    }
  }
}