.microcosm-item-search{
  h2{
    color:@brand-primary;
    text-decoration: underline;
  }
  p{
    font-size:@font-size-small;
    color:#999;
    margin-bottom:5px;
    strong{
      color:#666;
    }
  }
}
.microcosm-item-search-parent{
  color:@brand-success;
  text-decoration: underline;
  &:hover{
    color:@brand-success;
  }
}




.microcosm-item-moderation{
  font-size:@font-size-small;
  color:#666;
  @media (min-width: @grid-float-breakpoint){
    .checkbox{
      margin:7px 10px 0 0;
      float:right;
      label{
        float:right;
      }
      input{
        margin: 2px 5px 0 0;
      }
    }
    select{
      float: right;
      width: 65%;
    }
  }
}