// RESPONSIVE CLASSES
// ------------------

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none;
  visibility: hidden;
}

// Visibility utilities

// For desktops
.visible-phone     { display: none; }
.visible-tablet    { display: none; }
.visible-desktop   { display: block; }
.hidden-phone      { display: block; }
.hidden-tablet     { display: block; }
.hidden-desktop    { display: none; }

// Phones only
@media (max-width: 767px) {
  // Show
  .visible-phone     { display: block; }
  // Hide
  .hidden-phone      { display: none; }
  // Hide everything else
  .hidden-desktop    { display: block; }
  .visible-desktop   { display: none; }
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Show
  .visible-tablet    { display: block; }
  // Hide
  .hidden-tablet     { display: none; }
  // Hide everything else
  .hidden-desktop    { display: block; }
  .visible-desktop   { display: none; }
}
