//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (min-width: 1200px) {

  // Set the container width, and override it for fixed navbars in media queries
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }

  // Fixed grid
  #grid > .core(@gridColumnWidth1200, @gridGutterWidth1200, @gridRowWidth1200);
  #grid > .input(@gridColumnWidth1200, @gridGutterWidth1200, @gridRowWidth1200);

  // Thumbnails
  .thumbnails {
    margin-left: -@gridGutterWidth1200;
  }
  .thumbnails > li {
    margin-left: @gridGutterWidth1200;
  }

}
