//
// Responsive: Utility classes
// --------------------------------------------------


// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none;
  visibility: hidden;
}

// Visibility utilities

// For desktops (980px to 1199px)
.visible-phone    { display: none !important; }
.visible-tablet   { display: none !important; }
.visible-wide     { display: none !important; }
.hidden-phone     { }
.hidden-tablet    { }
.hidden-desktop   { display: none !important; }
.hidden-normal    { display: none !important; }
.hidden-wide      { }
.visible-desktop  { display: inherit !important; }
.visible-normal   { display: inherit !important; }

// Phones only
@media (max-width: 767px) {
  // Everything else
  .hidden-desktop   { display: inherit !important; }
  .hidden-normal    { display: inherit !important; }
  .visible-desktop  { display: none !important; }
  .visible-normal   { display: none !important; }
  
  // Show
  .visible-phone    { display: inherit !important; } // Use inherit to restore previous behavior
  
  // Hide
  .hidden-phone     { display: none !important; }
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Everything else
  .hidden-desktop   { display: inherit !important; }
  .hidden-normal    { display: inherit !important; }
  .visible-desktop  { display: none !important; }
  .visible-normal   { display: none !important; }
  
  // Show
  .visible-tablet   { display: inherit !important; }
  
  // Hide
  .hidden-tablet    { display: none !important; }
}

// Desktops (1200px and above) only
@media (min-width: 1200px) {
  // Everything else
  .hidden-normal    { display: inherit !important; }
  .visible-normal   { display: none !important; }
  
  // Show
  .visible-wide     { display: inherit !important; }
  
  // Hide
  .hidden-wide      { display: none !important; }
}
