//
// Responsive: Navbar
// --------------------------------------------------


// TABLETS AND BELOW
// -----------------
@media (max-width: 767px) {

  .row-offcanvas {
    position: relative;
    overflow: hidden;
    //FIXME! infinite loop happening
    //in Chrome at 767px - x, where 0<x<@grid-column-width-768 * 8
    .transition(all 0.25s ease-out);
  }
  .row-offcanvas.active {
    overflow: visible;
  }
  .row-offcanvas-right.active {
    right: @grid-column-width-768 * 8;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: @grid-column-width-768 * 8;
  }
  .sidebar-offcanvas-right {
    right: -@grid-column-width-768 * 8;
  }

}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

  .row-offcanvas.active {
    overflow: visible;
  }
  .row-offcanvas-right.active {
    right: @grid-column-width-768 * 5;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: @grid-column-width-768 * 5;
  }
  .sidebar-offcanvas-right {
    right: -@grid-column-width-768 * 5;
  }

}