@import "variables.less";
@import "mixins.less";
@import "font-awesome.less";

html {
    height: 100%;
}

body {
    height: 100%;
}

.login-logo {
    text-align:center;
    margin: 200px 0 50px 0;
}

.login-container {
    width: 400px;
    margin: 0 auto 100px auto;
}

.navbar {
    .brand {
        margin-left: 0;
        padding-top:2px;
        padding-bottom:2px;
    }

    .navbar-search {
        .submit {
            display:none;
        }

        .input-append {
            padding-top:0;

            .btn {
                margin-left:0;
                margin-top:0;
                float:none;
            }
            .search-query {
                padding-right: 0;
                vertical-align:top;
            }
        }
    }

}

.ef-edit {
    color: #CC9C00;
}

.ef-input {
    background-color: @warningBackground;
    border: 1px solid @warningBorder;
    &.ef-input-error {
        background-color: @errorBackground;
        border: 1px solid @errorBorder;
    }
}

.ef-alert {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 1020;
    padding-top: 40px;
    margin-bottom: 18px;

    .navbar-inner {
        background-color: @errorBackground;
        #gradient > .vertical(@errorBackground, @errorBorder);
    }

    .navbar-text {
        margin-bottom: 0;
        line-height: @navbarHeight;
        text-align: center;
    }
}

select {
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    @transition: border linear .2s, box-shadow linear .2s;
    .transition(@transition);
    background-color: @inputBackground;
    border: 1px solid @inputBorder;
    .border-radius(@inputBorderRadius);

    &:focus {
        border-color: rgba(82, 168, 236, 0.8);
        .box-shadow(~"inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)");
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
    }
}

p {
    &.reverse {
        margin: @baseLineHeight / 2 0 0;
    }
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    .container-content {
        padding-top: 65px;
        padding-bottom: 65px;
        &.no-nav {
            padding-top: 0;
        }
    }
}

.sticky-footer {
    margin-top: -65px;
    height: 65px;
    .clearfix;
}

.no-js-hide {
    display: none;
}


.widget-form {
    width: 50%;
    min-width: 600px;
    .center-element;
}

.dashboard {
    .clearfix;
}

.dashboard-column {
    list-style: none;
    float: left;
}

.widget {
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .border-radius(4px);
    margin:0 0 30px 0;

    .widget-header {
        .clearfix;
        margin: 0 5px 10px 5px;
        padding: 7px 3px 0 3px;
        border-bottom: 1px solid rgba(0,0,0,0.05);

        .widget-controls {
            line-height: 23px;
        }
    }

    .widget-content {
        .center-element;
        .clearfix;
        padding: 10px 20px;

        .widget-largenumber {
            width:100%;
            font-size: 30px;
            line-height: normal;
            .border-radius(4px);
            background: @grayLighter;

            td, th {
                padding: 10px;
            }
            th {
                text-align:center;
            }
            .number {
                text-align:center;
                background: #7CEE32;
                .border-radius(4px);
            }
        }

        .widget-largenumber-text {
            width: 48%;
            .center-element;
            line-height: 55px;
            font-size: 50px;
        }
        .widget-largenumber-number {
            width: 48%;
            .center-element;
            line-height: 55px;
            font-size: 50px;
        }
    }
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

.note {
    border-bottom: solid 1px @grayLight;
    padding:10px 0 5px 0;

    .author {
        font-weight:bold;
    }
}

.attachments {
    .clearfix;

    .attachment {
        margin: 5px 5px -10px;
        width: 175px;
        float: left;

        .attachment-image {
            height: 150px;
            line-height: 150px;
            text-align: center;
        }

        .attachment-data {
            text-align: center;
        }
    }
}

.appointments {
    .clearfix;
}

.appointment {
    border: 1px solid rgba(0, 0, 0, 0.05);
    .border-radius(4px);
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));
    margin-bottom: 10px;

    .appointment-title {
        .clearfix;

        font-weight: bold;

        .appointment-title-4 {
            width: 25%;
        }
        .appointment-controls:after {
            float: right;
            padding: 5px;
            font-family: FontAwesome;
            font-size: 4/3em;
            content: "\f067";
        }

        &.appointment-open {
            .appointment-controls:after {
                float: right;
                padding: 5px;
                font-family: FontAwesome;
                font-size: 4/3em;
                content: "\f068";
            }
        }
    }
}
