
.tile {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in-out;

  padding: @padding-container-collapse-xs;
  background-color: @brand-smoke-plus-20;
  border: 1px solid @brand-smoke-plus-20;
  border-radius: @border-radius-base;
  font-size: @font-size-small;

  width: 100%;
  margin-bottom: @grid-gutter-width;

  &:hover:not(.tile-disabled),
  &:focus:not(.tile-disabled) {
    border-color: @brand-light-blue;
  }

  &:active:not(.tile-disabled) {
    background-color: @brand-smoke-plus-10;
    border: 1px solid @brand-light-blue;
  }

  p {
    margin-bottom: 0;
  }

  .circle {
    margin-bottom: 16px;
    color: @brand-light-blue;
  }

  .tile-ribbon-benefit {
    position: absolute;
    top: 24px;
    left: -40px;
    width: 160px;
    background-color: @brand-light-blue;
    text-align:center;
    color: @brand-white;
    font-weight: @tile-font-weight;
    font-size: @font-size-small;
    line-height: @line-height-large;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .tile-icon {
    float: left;
    margin-right: @padding-container-collapse-xs;
  }
  .tile-text {
    overflow-y: hidden;
    text-align: left;
  }
}

.tile-disabled {
  background-color: @brand-white;
  border: 1px solid @brand-smoke-plus-10;
  cursor: not-allowed;
  color: @brand-smoke-minus-10;

  h5,
  .circle,
  .icon,
  .glyphicon {
    color: @brand-smoke-minus-10;
  }
}

.tile-inverse {
  background-color: @brand-white;
}

/* Backwards compaibility for early tile implementation */
.tile-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: (-0.5 * @grid-gutter-width);
    margin-left: (-0.5 * @grid-gutter-width);

    > [class*="col-"] {
        display: flex;
    }
}


@media (min-width: @screen-sm-min) {
  .tile {
    padding: @padding-container-collapse;

    .tile-icon {
      float: none;
      margin-right: auto;
    }
    .tile-text {
      text-align: center;
    }
  }
}

@media (min-width: @screen-lg-min) {
  .tile {
    padding: @padding-container;
  }
}
