.section,
.footer {
    padding-top: 64px;
    padding-bottom: 64px;
}
@media (min-width: @screen-md-min) {
    .section,
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

.bg-default {
    background-color: @gray-base;

    :not(.panel) {
        h1, h2 {
            color: @brand-blue;
        }
    }
}
.jumbotron,
.bg-primary,
.bg-info {
    h1, h2, h3, h4, h5, h6, small {
        color: @brand-white;
    }
}

.bg-info .btn-default {
    border-color: @brand-white;
    background-color: @brand-white;

    &:hover {
        border-color: @brand-smoke-plus-20;
        background-color: @brand-smoke-plus-20;
        color: @brand-light-blue;
    }
    &:active {
        border-color: @brand-smoke-plus-10;
        background-color: @brand-smoke-plus-10;
        color: @brand-light-blue;
    }
}

.nav,
.navbar,
.pager,
.dropdown-menu {
    a {
        text-decoration: none;
    }
}
a.btn {
    text-decoration: none;
}

address {
    margin-bottom: 16px;
}
.footer {
    background-color: @gray-base;
}
blockquote footer {
    background-color: transparent;
}

@media (max-width: @screen-xs-max) {
    footer {
        position: relative;
    }
}

.well,
.form-control,
.btn:active,
.btn.active {
    box-shadow: none;
}

.btn-default[disabled] .glyphicon {
    color: @gray-light;
}

.bg-info a:not(.btn) {
    color: @brand-white;

    &:hover,
    &:focus {
        color: @brand-smoke-plus-20;
    }

    &:active {
        color: @brand-smoke-plus-10;
    }
}

.navbar[data-spy~=affix] + * {
    margin-top: 0;
}
.navbar[data-spy~=affix].affix + * {
    margin-top: @navbar-height;
}

@media (min-width: @screen-md-min) {
    .navbar + .jumbotron,
    .navbar + .jumbotron-image {
        margin-top: (-1 * @navbar-height);
    }
    .navbar.affix + .jumbotron,
    .navbar.affix + .jumbotron-image {
        margin-top: 0px;
    }
}

.navbar + .jumbotron,
.navbar + .jumbotron-image > .jumbotron {
    padding-bottom: 64px;

    @media (min-width: @screen-md-min) {
        padding-top: 140px;
        padding-bottom: 104px;
    }
}

.navbar {
    > .container .navbar-brand,
    > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}


@media (max-width: @screen-sm-max) {
    .navbar {
        background-color: @brand-primary;
        border-bottom-color: transparent;
    }
}


.footer {
    font-size: @font-size-small;
    line-height: @line-height-computed;

    a:not(.btn) {

        color: @brand-grey-plus-10;

        &:hover,
        &:focus {
            color: @brand-grey;
        }

        &:active {
            color: @brand-blue-plus-20;
        }
    }
}
.footer,
.bg-default {
    background-color: @gray-base;

    h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
    }
}

.badge {
    top: -1px;
    position: relative;
}
.list-group-item > .badge {
    top: 0;
}

.modal-content {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
}

.dropdown-menu > li:not(.dropdown-header) {
    padding-left: 0;
}
.nav > .navbar-icon > a {
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.navbar {
    .glyphicon {
        font-size: 22px;
        line-height: 22px;

        + .badge {
            margin-top: -25px;
            margin-left: -12px;
            min-width: 18px;
            padding: 2px 3px;
            border: 2px solid @brand-blue;
        }
    }
}

.dropdown-menu li,
.dropdown-menu li > a,
.nav li > a,
.btn {
  .icon {
      font-size: 24px;
      vertical-align: middle;
  }
}
li,
li > a {
  > .glyphicon:first-child,
  > .icon:first-child,
  > .currency-flag:first-child,
  > .circle:first-child {
      margin-left: -4px;
      margin-right: 12px;
  }
}
.btn {
  .glyphicon:first-child,
  .icon:first-child,
  .currency-flag:first-child,
  .circle:first-child {
      margin-left: -3px;
      margin-right: 11px;
  }
}

li .circle {
  display: inline-block;
  vertical-align: bottom;
}

.btn .currency-flag,
.dropdown-menu li .currency-flag {
  margin-top: 4px;
}
.btn .circle .icon,
.dropdown-menu li .circle .icon {
  float: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.tw-select-transcluded a {
  color: @link-color !important;
  text-decoration: none;
}
.tw-select-filter {
  border: 0;
}
.tw-select-filter-link:hover,
.tw-select-filter-link:active {
  background-color: @brand-white !important;
}

.icon-sm {
    font-size: 16px;
}
.icon-md {
    font-size: 24px;
}
.icon-lg {
    font-size: 32px;
}
.icon-xl {
    font-size: 40px;
}
.icon-xxl {
    font-size: 48px;
}
