//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Quick margins
.top15 {
  margin-top: 15px;
}
.top30 {
  margin-top: 30px;
}
.bottom15 {
  margin-bottom: 15px;
}
.bottom30 {
  margin-bottom: 30px;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}