//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;


// Scaffolding
// -------------------------

@body-background:         #fff;
@text-color:              @grayDark;


// Links
// -------------------------

@link-color:              #428bca;
@link-color-hover:        darken(@link-color, 15%);


// Typography
// -------------------------

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         @font-size-base * 1.25; // ~18px
@font-size-small:         @font-size-base * 0.85; // ~12px
@font-size-mini:          @font-size-base * 0.75; // ~11px

@line-height-base:        20px;

@headings-font-family:    inherit; // empty to use BS default, @font-family-base
@headings-font-weight:    500;


// Component sizing
// -------------------------
// Based on 14px font-size and 1.5 line-height

@padding-large:           11px 19px; // 44px
@padding-small:           2px 10px;  // 26px
@padding-mini:            0 6px;   // 22px

@border-radius-base:      4px;
@border-radius-large:     6px;
@border-radius-small:     3px;


// Tables
// -------------------------

@table-background:                   transparent; // overall background-color
@table-background-accent:            #f9f9f9; // for striping
@table-background-hover:             #f5f5f5; // for hover

@table-border:                       #ddd; // table and cell border


// Buttons
// -------------------------

@btn-background:                     #a7a9aa;
@btn-border:                         @btn-background;

@btn-background-primary:             @link-color;
@btn-border-primary:                 @btn-background-primary;

@btn-background-success:             #5cb85c;
@btn-border-success:                 @btn-background-success;

@btn-background-warning:             #f0ad4e;
@btn-border-warning:                 @btn-background-warning;

@btn-background-danger:              #d9534f;
@btn-border-danger:                  @btn-background-danger;

@btn-background-info:                #5bc0de;
@btn-border-info:                    @btn-background-info;



// Forms
// -------------------------

@input-background:               #fff;
@input-background-disabled:      @grayLighter;

@input-border:                   #ccc;
@input-border-radius:            @border-radius-base;
@input-border-radius-search:     20px;

@input-color-placeholder:        @grayLight;

@input-height:                   @line-height-base + 14px; // base line-height + 12px vertical padding + 2px top/bottom border

@form-actions-background:        #f5f5f5;


// Dropdowns
// -------------------------

@dropdown-background:            #fff;
@dropdown-border:                rgba(0,0,0,.15);
@dropdown-divider-top:           #e5e5e5;
@dropdown-divider-bottom:        #fff;

@dropdown-link-color:            @grayDark;
@dropdown-link-color-hover:      #fff;
@dropdown-link-color-active:     #fff;

@dropdown-link-background-active:  @link-color;
@dropdown-link-background-hover:   @dropdown-link-background-active;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

@zindex-dropdown:          1000;
@zindex-popover:           1010;
@zindex-tooltip:           1030;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


// Glyphicons font path
// -------------------------
@glyphicons-font-path:          "../fonts";


// Navbar
// -------------------------

// Responsive collapsing
// @navbar-collapse-width:            979px;
// @navbar-collapse-width-desktop:    @navbar-collapse-width + 1;

// Basics of a navbar
@navbar-height:                    50px;
@navbar-text:                      #777;
@navbar-bg:                        #eee;

// Navbar brand label
@navbar-brand-color:               @navbar-link-color;
@navbar-brand-color-hover:         darken(@navbar-link-color, 10%);
@navbar-brand-bg-hover:            transparent;

// Navbar links
@navbar-link-color:                #777;
@navbar-link-color-hover:          #333;
@navbar-link-color-active:         #555;
@navbar-link-bg-hover:             transparent;
@navbar-link-bg-active:            darken(@navbar-bg, 10%);

// Inverted navbar
@navbar-inverse-text:                       @grayLight;
@navbar-inverse-bg:                         #222;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-color-hover:          darken(@navbar-inverse-link-color, 10%);
@navbar-inverse-brand-bg-hover:             transparent;

// Inverted navbar links
@navbar-inverse-link-color:                 @grayLight;
@navbar-inverse-link-color-hover:           #fff;
@navbar-inverse-link-color-active:          @navbar-inverse-link-color-hover;
@navbar-inverse-link-bg-hover:              transparent;
@navbar-inverse-link-bg-active:             @navbar-inverse-bg;

// Inverted navbar search
// Normal navbar needs no special styles or vars
@navbar-inverse-search-background:          lighten(@navbar-inverse-bg, 25%);
@navbar-inverse-search-background-focus:    #fff;
@navbar-inverse-search-border:              @navbar-inverse-bg;
@navbar-inverse-search-placeholder-color:   #ccc;



// Pagination
// -------------------------

@pagination-background:                #fff;
@pagination-background-active:         #f5f5f5;
@pagination-border:                    #ddd;


// Jumbotron
// -------------------------

@jumbotron-background:           @grayLighter;
@jumbotron-heading-color:        inherit;
@jumbotron-lead-color:           inherit;


// Form states and alerts
// -------------------------

@state-warning-text:             #c09853;
@state-warning-background:       #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-background, -10), 3%);

@state-error-text:               #b94a48;
@state-error-background:         #f2dede;
@state-error-border:             darken(spin(@state-error-background, -10), 3%);

@state-success-text:             #468847;
@state-success-background:       #dff0d8;
@state-success-border:           darken(spin(@state-success-background, -10), 5%);

@state-info-text:                #3a87ad;
@state-info-background:          #d9edf7;
@state-info-border:              darken(spin(@state-info-background, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltip-color:               #fff;
@tooltip-background:          rgba(0,0,0,.9);
@tooltip-arrow-width:         5px;
@tooltip-arrow-color:         @tooltip-background;

@popover-background:          #fff;
@popover-arrow-width:         10px;
@popover-arrow-color:         #fff;
@popover-title-background:    darken(@popover-background, 3%);

// Special enhancement for popovers
@popover-arrow-outer-width:   @popover-arrow-width + 1;
@popover-arrow-outer-color:   rgba(0,0,0,.25);


// Miscellaneous
// -------------------------

// Hr border color
@hr-border:                   @grayLighter;

// Horizontal forms & lists
@component-offset-horizontal: 180px;

// Wells
@well-background:             #f5f5f5;



// GRID
// --------------------------------------------------

// Default 940px grid
@grid-columns:              12;
@grid-column-width:         60px;
@grid-gutter-width:         20px;
@grid-row-width:            (@grid-columns * @grid-column-width) + (@grid-gutter-width * (@grid-columns - 1));
