// WELLS
// -----

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background: -moz-linear-gradient(center top , #FFFFFF 0%, #F4F4F4 100%) repeat scroll 0 0 transparent;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  .border-radius(4px);
  .box-shadow(0 2px 5px rgba(0,0,0,0.25));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}
