{
"env": {
  "example": {
    "presets": ["es2015"],
    "plugins": [
      "angular2-annotations",
      "transform-decorators-legacy",
      "transform-class-properties",
      "transform-flow-strip-types"
      ]
    }
  }
}
