# https://github.com/browserslist/browserslist#readme

>= 1%
last 1 major version
not dead
Chrome >= 60
Firefox >= 60
Edge >= 16.16299
Explorer 11
iOS >= 10
Safari >= 10
Android >= 6
not ExplorerMobile <= 11
