# editorconfig.org

root = true

[Makefile]
indent_style = tab
indent_size = 8

[*.css]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
