# Enforce Unix newlines
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.rb    text eol=lf
*.scss  text eol=lf
*.svg   text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf
*.yml   text eol=lf

# Don't diff or textually merge source maps
*.map   binary

bootstrap.css linguist-vendored=false
bootstrap.js linguist-vendored=false
