{
  "rules": {
    "property-blacklist": [
      "transition"
    ],
    "function-blacklist": ["calc"],
    "scss/dollar-variable-default": [
      true,
      {
        "ignore": "local"
      }
    ]
  }
}
