//
// Docs color palette classes
//

.bg-red-light     { background-color: $red-light; }
.bg-orange-light  { background-color: $orange-light; }
.bg-yellow-light  { background-color: $yellow-light; }
.bg-green-light   { background-color: $green-light; }
.bg-teal-light    { background-color: $teal-light; }
.bg-blue-light    { background-color: $blue-light; }
.bg-pink-light    { background-color: $pink-light; }
.bg-purple-light  { background-color: $purple-light; }

.bg-red-dark      { background-color: $red-dark; }
.bg-orange-dark   { background-color: $orange-dark; }
.bg-yellow-dark   { background-color: $yellow-dark; }
.bg-green-dark    { background-color: $green-dark; }
.bg-teal-dark     { background-color: $teal-dark; }
.bg-blue-dark     { background-color: $blue-dark; }
.bg-pink-dark     { background-color: $pink-dark; }
.bg-purple-dark   { background-color: $purple-dark; }

.bg-gray-light    { background-color: $gray-lighter; }
.bg-gray-dark     { background-color: $gray-dark; }
