//
// Home navigation
//

.bd-nav-home {
  margin-bottom: 0;
  background-color: #563d7c;
  border-bottom: 0;

  .navbar-brand > a {
    font-weight: 500;
    color: #fff;
  }

  .nav-link {
    font-weight: 500;
    color: #cdbfe3;

    &:hover,
    &:focus {
      color: #fff;
      background-color: rgba(0,0,0,.5);
    }
  }
}


//
// Homepage
//

.bd-navbar {
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: $bd-graphite;

  .nav-link {
    color: $bd-graphite-light;

    &.active,
    &:hover,
    &:focus {
      color: #fff;
      background-color: transparent;
    }
  }
}

//
// .bd-header {
//   @include clearfix;
//   padding-bottom: .5rem;
//   margin-bottom: 1rem;
//   border-bottom: 1px solid rgba(255,255,255,.25);
//
//   .bd-header-mark {
//     float: left;
//     padding-top: .6rem;
//     padding-bottom: .6rem;
//     font-size: 1.25rem;
//     font-weight: 500;
//   }
// }
//
// .bd-header-nav {
//   padding-bottom: 1rem;
//   margin-bottom: 2rem;
//   border-bottom: .0625rem solid #eee;
//
//   .nav-link {
//     display: inline-block;
//     padding: 1.2rem .75rem;
//
//     &:hover {
//       background-color: transparent;
//     }
//   }
//
//   @include media-breakpoint-up(sm) {
//     float: right;
//     padding-bottom: 0;
//     margin-bottom: 0;
//     border-bottom: 0;
//   }
// }


//
// Masthead (headings and download button)
//

.bd-masthead {
  position: relative;
  padding: ($grid-gutter-width / 2);
  text-align: center;

  .bd-booticon {
    margin: 0 auto 2rem;
    color: $bd-purple;
    border-color: $bd-purple;
  }

  h1 {
    font-weight: 300;
    line-height: 1;
  }

  .lead {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  .version {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }

  .btn {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: $gray;
    border-color: $gray;

    &:hover {
      color: #fff;
      background-color: $gray;
    }
  }

  .carbonad {
    margin-bottom: -2rem !important;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 2rem;
    padding-bottom: 2rem;

    .btn {
      width: auto;
    }

    .carbonad {
      margin-bottom: 0 !important;
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 4rem;

    .bd-header {
      margin-bottom: 4rem;
    }

    h1 {
      font-size: 4rem;
    }

    .lead {
      font-size: 1.5rem;
    }

    .carbonad {
      margin-top: 3rem !important;
    }
  }

  @include media-breakpoint-up(lg) {
    .lead {
      width: 80%;
      font-size: 2rem;
    }
  }
}


//
// Homepage featurettes
//

.bd-featurette {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;

  .highlight {
    text-align: left;
  }
}

.bd-featurette-title {
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: normal;
  color: #333;
}
.half-rule {
  width: 6rem;
  margin: 2.5rem auto;
}
.bd-featurette h4 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: normal;
  color: #333;
}
.bd-featurette-img {
  display: block;
  margin-bottom: 1.25rem;
  color: #333;
}
.bd-featurette-img:hover {
  color: $brand-primary;
  text-decoration: none;
}
.bd-featurette-img img {
  display: block;
  margin-bottom: 1rem;
}

@media (min-width: 480px) {
  .bd-featurette .img-responsive {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .bd-featurette {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .bd-featurette-title {
    font-size: 2.5rem;
  }
  .bd-featurette .lead {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .bd-featurette .img-responsive {
    margin-top: 0;
  }
}


//
// Featured Expo sites
//

.bd-featured-sites {
  margin-right: -1px;
  margin-left: -1px;
}
.bd-featured-sites .col-xs-6 {
  padding: 1px;
}
.bd-featured-sites .img-responsive {
  margin-top: 0;
}

@media (min-width: 768px) {
  .bd-featured-sites .col-sm-3:first-child img {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  .bd-featured-sites .col-sm-3:last-child img {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}
