// scss-lint:disable VendorPrefix

//
// Main navbar
//

.bd-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030; // over everything in bootstrap
  min-height: 4rem;
  background-color: $bd-purple;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);

  .navbar-nav {
    .nav-link {
      color: $bd-purple-light;

      &.active,
      &:hover {
        color: #fff;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
  }

  // .navbar-brand {
  //   color: #fff;
  // }

  .bd-navbar-brand-wrap {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}
