// scss-lint:disable VendorPrefix

//
// Main navbar
//

.bd-navbar {
  // @include media-breakpoint-up(md) {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1030; // over everything in bootstrap
  min-height: 4rem;
    // max-height: calc(100vh - 4rem);
    // overflow-y: auto;
  // }
  // padding-right: 0;
  // padding-left: 0;
  // margin-bottom: 2rem;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05);

  .navbar-nav {
    .nav-link {
      color: $bd-graphite-light;

      &.active,
      &:hover,
      &:focus {
        color: $gray-dark;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
        color: darken($gray-dark, 15%);
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
  }

  .navbar-brand {
    color: $bd-purple;
  }

  .bd-navbar-brand-wrap {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}
