@mixin alert-variant($bg-color, $border-color, $color, $link-color: darken($color, 10%)) {
  color: $color;
  @include gradient-bg($bg-color);
  border-color: $border-color;

  .alert-link {
    color: $link-color;
  }
}
