// Alerts

@mixin alert-variant($background, $border, $text-color, $alert-separator, $alert-link) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: $alert-separator;
  }
  .alert-link {
    color: $alert-link;
  }
}
