@mixin alert-variant($background, $border, $color, $link-color: darken($color, 10%)) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  .alert-link {
    color: $link-color;
  }
}
