@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    $result: ();

    @for $i from 1 through length($shadow) {
      @if nth($shadow, $i) != "none" {
        $result: append($result, nth($shadow, $i), "comma");
      }
    }
    @if (length($result) > 0) {
      box-shadow: $result;
    }
  }
}
