@mixin caret-down {
  border-top: 0;
  border-right: $caret-width solid;
  border-bottom: $caret-width solid;
  border-left: 0;
}

@mixin caret-up {
  border-top: $caret-width solid;
  border-right: 0;
  border-bottom: 0;
  border-left: $caret-width solid;
}

@mixin caret-right {
  border-top: $caret-width solid;
  border-right: $caret-width solid;
  border-bottom: 0;
  border-left: 0;
}

@mixin caret-left {
  border-top: 0;
  border-right: 0;
  border-bottom: $caret-width solid;
  border-left: $caret-width solid;
}

@mixin caret($direction: down) {
  @if $enable-caret {
    &::after {
      display: inline-block;
      margin-left: $caret-spacing;
      vertical-align: $caret-vertical-align;
      content: "";
      padding: $caret-width;
      border-radius: 0;
      transform: rotate(45deg);
      @if $direction == down {
        @include caret-down();
      } @else if $direction == up {
        @include caret-up();
      } @else if $direction == right {
        @include caret-right();
      }
    }

    @if $direction == left {
      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
        margin-right: $caret-spacing;
        vertical-align: $caret-vertical-align;
        content: "";
        padding: $caret-width;
        border-radius: 0;
        transform: rotate(45deg);
        @include caret-left();
      }
    }

    &:empty::after {
      margin-left: 0;
    }
  }
}
