// Container mixins

@mixin make-container($gutter: $grid-gutter-width) {
  --#{$variable-prefix}gutter-x: #{$gutter};
  width: 100%;
  padding-right: var(--#{$variable-prefix}gutter-x);
  padding-left: var(--#{$variable-prefix}gutter-x);
  margin-right: auto;
  margin-left: auto;
}
