// List Groups

@mixin list-group-item-variant(
  $state,
  $bg-color,
  $color,
  $hover-bg-color: darken($bg-color, 5%),
  $hover-color: $color,
  $active-bg-color: $color,
  $active-color: color-contrast($color)
) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $bg-color;

    &.list-group-item-action {
      &:hover,
      &:focus {
        color: $hover-color;
        background-color: $hover-bg-color;
      }

      &.active {
        color: $active-color;
        background-color: $active-bg-color;
        border-color: $active-color;
      }
    }
  }
}
