// Pagination

@mixin pagination-size($padding-y, $padding-x, $font-size, $border-radius) {
  .page-link {
    padding: $padding-y $padding-x;
    @include font-size($font-size);
  }

  .page-item {
    @if $pagination-margin-left == (-$pagination-border-width) {
      &:first-child {
        .page-link {
          @include border-left-radius($border-radius);
        }
      }

      &:last-child {
        .page-link {
          @include border-right-radius($border-radius);
        }
      }
    } @else {
      //Add border-radius to all pageLinks in case they have left margin
      .page-link {
        @include border-radius($border-radius);
      }
    }
  }
}

@mixin pagination-variant(
  $color,
  $hover-background: $color,
  $hover-border: $color,
  $hover-color: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($color),
  $disabled-color: $color
) {
  .page-link {
    color: $color;

    &:hover {
      background: $hover-background;
      color: $hover-color;
      border-color: $hover-border;
    }

    &:focus {
      background: $hover-background;
      color: $hover-color;
      border-color: $hover-border;
      box-shadow: 0 0 0 $pagination-focus-width rgba($color, 0.5);
    }
  }

  .page-item {
    &.active .page-link {
      @include gradient-bg($active-background);
      border-color: $active-border;
      color: $active-color;
    }

    &.disabled .page-link {
      color: $disabled-color;
      opacity: $pagination-disabled-opacity;
    }
  }
}
