// Tables

@mixin table-row-variant($state, $background, $hover-background) {
  .table-#{$state} {
    &,
    th,
    td {
      background-color: $background;
    }
  }

  .table-hover {
    .table-#{$state} {
      @include hover {
        background-color: $hover-background;

        td,
        th {
          background-color: $hover-background;
        }
      }
    }
  }
}

@mixin table-inverse-row-variant($state, $background, $hover-background) {
  .table-inverse .table-#{$state} {
    &,
    th,
    td {
      background-color: $background;
    }
  }

  .table-inverse.table-hover {
    .table-#{$state} {
      @include hover {
        background-color: $hover-background;

        td,
        th {
          background-color: $hover-background;
        }
      }
    }
  }
}
