/* Account page */
.list-group-item > * {
  margin-left: -2px;
}

.pips {
  width: 32px;
  margin-top: 14px;
  transition: margin ease .15s;
}
.pip {
  display: block;
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  margin-left: 13px;
  background-color: #00a4df;
  border-radius: 2px;
  transition: margin ease .15s;
}
.list-group-item:hover .pips {
  margin-top: 10px;
}
.list-group-item:hover .pip {
  margin-bottom: 8px;
}

.table > tbody > .active > td {
  border-top-width: 16px;
  border-bottom-width: 16px;
}
/* End account page */



/* Expand list title line when expanded
@media (min-width: 768px) {
  .list-group-item-heading + p {
    transition: font-size ease .15s, line-height ease .15s, margin ease .15s, font-weight ease .15s;
  }
  .active .list-group-item-heading + p {
    max-width: 1000px !important;
    margin-top: 24px;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
  }
}
*/

/*
@media (min-width: 768px) {
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .list-group-item {
    opacity: 0;
    animation: slideInFromRight .25s ease forwards;
  }
  .list-group-item:nth-child(1) {
    animation-delay: 1.1s;
  }
  .list-group-item:nth-child(2) {
    animation-delay: 1.2s;
  }
  .list-group-item:nth-child(3) {
    animation-delay: 1.3s;
  }
  .list-group-item:nth-child(4) {
    animation-delay: 1.4s;
  }
  .list-group-item:nth-child(5) {
    animation-delay: 1.5s;
  }
  .list-group-item:nth-child(6) {
    animation-delay: 1.6s;
  }
  .list-group-item:nth-child(7) {
    animation-delay: 1.7s;
  }
  .list-group-item:nth-child(8) {
    animation-delay: 1.8s;
  }
  .list-group-item:nth-child(9) {
    animation-delay: 1.9s;
  }
  .list-group-item:nth-child(10) {
    animation-delay: 2s;
  }
  .list-group-item:nth-child(11) {
    animation-delay: 2.1s;
  }
  .list-group-item:nth-child(12) {
    animation-delay: 2.2s;
  }
}
*/


@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes dropdownSlideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@media (max-width: 420px) {
  .dropdown-menu {
    position: fixed;
    top: auto;
    right: 16px;
    right: 0;
    bottom: 16px;
    bottom: 0;
    left: 16px;
    left: 0;
    z-index: 1200;
    width: auto !important;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: calc(100% - 64px) !important;
    border-radius: 0;
  }

  .dropdown.open:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1199;
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    background-color: rgba(46, 67, 105, .8);
    animation: dropdownFadeIn .15s ease both !important;
  }

  .open > .dropdown-menu {
    animation: dropdownSlideUp .15s ease both !important;
  }

  .dropdown-menu:after {
    position: fixed;
    top: 12px;
    right: 15px;
    display: block;
    font-size: 40px;
    color: #00b9ff;
    cursor: pointer;
    content: '×';
  }

  .dropdown-menu:after:hover {
    color: #0094cc;
  }
}

@media (min-width: 768px) {
  .sequence-date {
    position: absolute;
    top: 2px;
    left: -130px;
    font-size: 12px;
  }
  .sequence-date-variant {
    padding-left: 100px;
  }
  .sequence-lg .sequence-date {
    top: 8px;
    left: -154px;
  }
}
@media (max-width: 767px) {
  .sequence-date {
    float: right;
    font-weight: bold;
  }
}

.sequence > .active {
  padding-bottom: 24px;
}


.nav-stacked li ul {
  display: none;
}
.nav-stacked li.expanded ul {
  display: block;
}
