/* Account page */
.list-group-item > * {
  margin-left: -2px;
}

.pips {
  width: 32px;
  margin-top: 14px;
  -webkit-transition: margin ease .15s;
       -o-transition: margin ease .15s;
          transition: margin ease .15s;
}
.pip {
  display: block;
  width: 4px;
  height: 4px;
  margin-bottom: 4px;
  margin-left: 13px;
  background-color: #00a4df;
  border-radius: 2px;
  -webkit-transition: margin ease .15s;
       -o-transition: margin ease .15s;
          transition: margin ease .15s;
}
.list-group-item:hover .pips {
  margin-top: 10px;
}
.list-group-item:hover .pip {
  margin-bottom: 8px;
}

.table > tbody > .active > td {
  border-top-width: 16px;
  border-bottom-width: 16px;
}
/* End account page */


.feature-tour-cover {
  z-index: 100;
}
