
/* navbar top + sm */

/*
.navbar-top.navbar-primary.navbar-default {
  border:0;
}
*/

.navbar-nav {
  margin:0;
}

.navbar-top .navbar-toggle {
  margin: 20px 0 10px 0;
  /*
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: -30px;
  float: left;
  padding: 14px 15px;
  */
}



.navbar-top.navbar-default {
  border-top-style:solid;
  border-top-width:1px;
  border-bottom:0;
}


.navbar-top .navbar-toggle span {
  float:left;
  padding-left:5px;
}
.navbar-top .navbar-toggle span.glyphicon {
  float:right;
  padding-right:5px;
}

@media (max-width: 767px) {
  .navbar-top.navbar-primary .col-md-12 {
    padding-bottom:20px;
  }
  .navbar-top a {
    border-radius: 4px;
  }
  /*
  .area-header .navbar-default.navbar-top a {
    padding-top: 10px !important;
    min-height: 0px !important;
    padding-left:15px;
    padding-right:15px;
  }
  .area-header .navbar-default.navbar-top .navbar-brand {
    padding-top: 30px !important;
    min-height: 0 !important;
  }
*/

}

/*
.toggle-text {
  float: left;
  margin-top: -16px;
  margin-left: 40px;
}
*/
/*
.navbar-top .sub-brand>li>a {
  padding: 13px 8px 16px 8px;
}
@media (min-width: 992px) {
  .navbar-top .navbar-form .form-control {
	width: 682px;
  }
}
@media (min-width: 992px) {
  .navbar-top .navbar-form .form-control {
	width: 160px;
  }
}
@media (min-width: 1200px) {
  .navbar-top .navbar-form .form-control {
	width: 300px;
  }
}
*/

.navbar-primary.navbar-top .navbar-nav>li>a {
  padding-left:15px;
  padding-right:15px;
  font-size:14px;
}
@media (max-width:992px) and (min-width:  767px) {
  .navbar-primary.navbar-top .navbar-nav>li>a {
    padding-left:10px;
    padding-right:10px;
    font-size:12px;
  }
  .navbar-top .navbar-nav {
    margin-left:-10px;
  }
  .navbar-top .sub-brand,
  .navbar-top .navbar-right {
    margin-right:-10px;
  }
}


@media (min-width: 992px) {
  .navbar-top .navbar-nav {
    margin-left:-15px;
  }
  .navbar-top .sub-brand,
  .navbar-top .navbar-right {
    margin-right:-15px;
  }
}

/*

.navbar-primary .sub-brand {
  padding-right:5px;
}
@media (max-width: 767px) {
  .navbar-primary .ba-btn {
    float:none;
    top:4px;
  }
}
*/

/*
.navbar-primary.navbar-top .ba-navbar-form {
  width:300px;
  float:right;
}
*/
/*
.navbar-top .navbar-form {
  margin-top:16px;
}
*/
/*
.area-header .navbar-default.navbar-top a {
  padding-top: 30px;
  min-height: 84px;
}


.navbar-default.navbar-top .navbar-brand {
  padding-top: 27px !important;
}

.navbar-top .navbar-brand {
  margin-left:-15px;
}
*/
.navbar-primary .navbar-brand {
  margin-top:8px !important;
}
.navbar-primary.navbar-top .navbar-form button {
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 9;
  padding: 7px 15px 3px 15px;
  font-size: 18px;
  color: #aaa;
  box-shadow:none;
}


.navbar-primary .navbar-form button {
  font-size: 24px !important;
  padding: 9px 15px 3px 15px !important;
}


#header-main-nav,
#header-sub-nav {
  padding-left:0;
  padding-right:0;
}

/*
.navbar-primary.navbar-top ul.sub-brand {
right: -10px;
}
*/
.navbar-form.navbar-right {
  right: 0;
}
.ba-navbar-top {
  box-shadow: 0 0 4px #d7a721;
  position:relative;
  z-index:9;
  min-height: 74px;
  padding-top:6px;
}
.navbar-primary.ba-navbar-top {
  min-height: 84px;
  padding-top:12px;
}

.ba-navbar-top .navbar-form {
  margin-bottom:0;
}
@media (min-width: 768px) {
  .ba-navbar-top .form-control {
    width: 360px;
  }
}

@media (max-width: 767px) {
  /*
  .navbar-primary.navbar-top .navbar-form {
    margin-top: 60px;
  }*/
  .navbar-primary.navbar-top .navbar-form button {
    top: 10px !important;
  }
  .ba-navbar-top {
    box-shadow:none;
  }
  .navbar-top.navbar-primary .navbar-toggle {
    margin-top:0;
  }
  .navbar-top.navbar-primary .navbar-nav {
    margin:0;
  }
  .navbar-top.navbar-primary .sub-brand {
    float:left;
    width:100%;
    margin-bottom:20px;
  }
  .navbar-primary.navbar-top .navbar-brand {
    margin:0 auto;
    float:none;
  }
  .navbar-top.navbar-default {
    padding-top:20px;
    padding-bottom:20px;
  }
}




/* ribbons */

.ribbon {

}

/* dropdown */

.dropdown-menu {
  padding:0;
}
.dropdown-menu > li > a {
  color: #333;
  padding: 10px 20px;
  border-bottom:solid 1px #e5e5e5;
}
.dropdown-menu > li:last-child > a {
  border-bottom:0;
}
.dropdown-menu > li:last-child > a:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.ba-area .jumbotron {
  margin-bottom:0;
}



/* home */

/*
.col-agendacultural .btn,
.col-tramitesyservicios .btn,
.home-mapa .btn {
  margin-bottom:60px;
}
*/
.list-group-item-img h4 {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size:42px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.0) 100%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin:0;
  padding:30px 15px 60px 15px;
  float:none;
  color:#fff;
  position:absolute;
  z-index:9;
}
.list-group-item-img h4:hover {
	color:#fff;
}

.home-banner {
  box-shadow:none;
}

.home-banner {
  background-color:#f5f5f5;
  text-align:center;
  padding:30px;
}
.home-banner img {
  margin-bottom:30px;
  border-radius:4px;
}
.home-banner a:hover,
.home-banner a:focus {
  opacity:0.8;
}
.home-banner a:active {
  opacity:1;
}






/*
.home-banner-footer {
  position:absolute;
  z-index:9;
  bottom:20px;
  left:20px;
  right:20px;
}
.list-group-item-img:hover .btn-blue,
.list-group-item-img:focus .btn-blue {
  background-image: linear-gradient(to bottom, #5574c3 0%, #3967a8 100%);
  background-color: #3967a8;
  border-color: #3c5e8b;
  color:#eef1f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .025),
              inset 0 -2px 0 rgba(0, 0, 0, .075);
}
.list-group-item-img:active .btn-blue {
  background-image: linear-gradient(to bottom, #3d5eaf 0%, #215093 100%);
  background-color: #215093;
  border-color: #244775;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .025),
              inset 0 2px 4px rgba(0, 0, 0, .125);
}
*/

/* area */

/*
.ba-area .navbar-default.navbar-top {
  border:0;
  border-top: solid 1px rgba(255, 255, 255, .2);
}
*/
.jumbotron-misc {
  background-image:url(../../docs/jumbo3.jpg);
  padding-bottom:0;
  /*margin-top:-29px;*/
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  border:0;

}




.ba-area .jumbotron {
  padding-bottom:0;
}

.jumbotron .breadcrumb {
  padding-top: 20px;
  margin-bottom: 0;
}
.jumbotron-main .breadcrumb a {
  color: rgba(255, 255, 255, .8);
}
.jumbotron-main .breadcrumb a:hover,
.jumbotron-main .breadcrumb a:focus {
  color: #fff;
}

.jumbotron .jumbotron-overlay {
  background:transparent;
}
.jumbotron-main .jumbotron-overlay {
  background:rgba(0,0,0,.4);
}

.jumbotron .area-title {
  margin-bottom:15px;
}
.jumbotron-main .area-title {
  margin-bottom:45px;
}




.ba-area .jumbotron {
  margin-bottom:30px;
}

.ba-home .navbar-primary,
.ba-area .jumbotron-main {
  margin-bottom:60px;
}




/*
.jumbotron-small {
  margin-bottom: 30px;
}
.jumbotron-small > .container {
  padding-top:20px;
  padding-bottom:30px;
}

.jumbotron .breadcrumb > .active {
  color:#888;
}
.jumbotron .breadcrumb a {
  color:#fff;
}
*/










.footer-social {
  padding:0;
  margin-bottom:30px;
  overflow:auto;
}
.footer-social li {
  list-style:none;
  float:left;
  margin-right:10px;
}
.footer-social a:hover,
.footer-social a:focus,
.ba-social a:hover,
.ba-social a:focus {
  opacity:0.8;
}
.footer-social a:active,
.ba-social a:active {
  opacity:1;
}
.footer-cc {
  margin-top:45px;
  font-size:12px;
  color:#888;
}
.footer-cc p {
  font-size:10px;
}
.footer-cc a {
  display:block;
  margin-bottom:5px;
}








.footer-social a {
  width: 40px;
  height: 40px;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:contain;
}

.social-fb {
  background-image:url(social-fb.png);
  background-image:url(social-fb.svg), none;
}
.social-tw {
  background-image:url(social-tw.png);
  background-image:url(social-tw.svg), none;
}
.social-yt {
  background-image:url(social-yt.png);
  background-image:url(social-yt.svg), none;
}
.social-fl {
  background-image:url(social-fl.png);
  background-image:url(social-fl.svg), none;
}
.social-rss {
  background-image:url(social-rss.png);
  background-image:url(social-rss.svg), none;
}










.ba-social {
  display:table;
  margin: 0 auto;
  padding:15px 0;
}
.ba-social ul {
  padding:0;
}
.ba-social li {
  list-style:none;
  float:left;
  margin:0 10px 10px 0;
}
.ba-social li:last-child {
  margin-right:0;
}
.ba-social a {
  width:90px;
  height:90px;
  display:inline-block;
  background-repeat:no-repeat;
  background-size:contain;
}

/*
@media (min-width:  767px) {
  .list-destacados .list-group-item {
    height:290px;
  }
  .list-videos .list-group-item {
    height:240px;
  }
}
*/






.list-group {
  margin-top:60px;
}





/*

.list-form {
  background:#e5e5e5 !important;
}
*/












/*
.carousel iframe {
  position:relative;
  top:-10%;
}
*/




