//
// Callouts
//

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: .25rem solid var(--bd-callout-border, var(--bs-gray-300));

  h4 {
    margin-bottom: .25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  + .bd-callout {
    margin-top: -.25rem;
  }

  .highlight {
    background-color: rgba($black, .05);
  }
}

// Variations
@each $variant in $bd-callout-variants {
  .bd-callout-#{$variant} {
    --bd-callout-bg: rgba(var(--bs-#{$variant}-rgb), .075);
    --bd-callout-border: rgba(var(--bs-#{$variant}-rgb), .5);
  }
}
