// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard,
.btn-edit {
  display: block;
  padding: .5em;
  line-height: 1;
  color: $gray-900;
  background-color: $gray-100;
  border: 0;
  @include border-radius(.25rem);

  &:hover {
    color: $primary;
  }
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: .75rem;
  margin-right: .75rem;
}

.highlight-toolbar {
  .btn-clipboard {
    margin-top: 0;
    margin-right: 0;
  }
}
