//
// Docs color palette classes
//

@each $color, $value in $colors {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

@each $color, $value in $grays {
  .swatch-#{$color} {
    color: color-yiq($value);
    background-color: #{$value};
  }
}

// stylelint-disable declaration-block-single-line-max-declarations

.bd-blue-100 { color: color-yiq($blue-100); background-color: $blue-100; }
.bd-blue-200 { color: color-yiq($blue-200); background-color: $blue-200; }
.bd-blue-300 { color: color-yiq($blue-300); background-color: $blue-300; }
.bd-blue-400 { color: color-yiq($blue-400); background-color: $blue-400; }
.bd-blue-500 { color: color-yiq($blue-500); background-color: $blue-500; }
.bd-blue-600 { color: color-yiq($blue-600); background-color: $blue-600; }
.bd-blue-700 { color: color-yiq($blue-700); background-color: $blue-700; }
.bd-blue-800 { color: color-yiq($blue-800); background-color: $blue-800; }
.bd-blue-900 { color: color-yiq($blue-900); background-color: $blue-900; }

.bd-indigo-100 { color: color-yiq($indigo-100); background-color: $indigo-100; }
.bd-indigo-200 { color: color-yiq($indigo-200); background-color: $indigo-200; }
.bd-indigo-300 { color: color-yiq($indigo-300); background-color: $indigo-300; }
.bd-indigo-400 { color: color-yiq($indigo-400); background-color: $indigo-400; }
.bd-indigo-500 { color: color-yiq($indigo-500); background-color: $indigo-500; }
.bd-indigo-600 { color: color-yiq($indigo-600); background-color: $indigo-600; }
.bd-indigo-700 { color: color-yiq($indigo-700); background-color: $indigo-700; }
.bd-indigo-800 { color: color-yiq($indigo-800); background-color: $indigo-800; }
.bd-indigo-900 { color: color-yiq($indigo-900); background-color: $indigo-900; }

.bd-purple-100 { color: color-yiq($purple-100); background-color: $purple-100; }
.bd-purple-200 { color: color-yiq($purple-200); background-color: $purple-200; }
.bd-purple-300 { color: color-yiq($purple-300); background-color: $purple-300; }
.bd-purple-400 { color: color-yiq($purple-400); background-color: $purple-400; }
.bd-purple-500 { color: color-yiq($purple-500); background-color: $purple-500; }
.bd-purple-600 { color: color-yiq($purple-600); background-color: $purple-600; }
.bd-purple-700 { color: color-yiq($purple-700); background-color: $purple-700; }
.bd-purple-800 { color: color-yiq($purple-800); background-color: $purple-800; }
.bd-purple-900 { color: color-yiq($purple-900); background-color: $purple-900; }

.bd-pink-100 { color: color-yiq($pink-100); background-color: $pink-100; }
.bd-pink-200 { color: color-yiq($pink-200); background-color: $pink-200; }
.bd-pink-300 { color: color-yiq($pink-300); background-color: $pink-300; }
.bd-pink-400 { color: color-yiq($pink-400); background-color: $pink-400; }
.bd-pink-500 { color: color-yiq($pink-500); background-color: $pink-500; }
.bd-pink-600 { color: color-yiq($pink-600); background-color: $pink-600; }
.bd-pink-700 { color: color-yiq($pink-700); background-color: $pink-700; }
.bd-pink-800 { color: color-yiq($pink-800); background-color: $pink-800; }
.bd-pink-900 { color: color-yiq($pink-900); background-color: $pink-900; }

.bd-red-100 { color: color-yiq($red-100); background-color: $red-100; }
.bd-red-200 { color: color-yiq($red-200); background-color: $red-200; }
.bd-red-300 { color: color-yiq($red-300); background-color: $red-300; }
.bd-red-400 { color: color-yiq($red-400); background-color: $red-400; }
.bd-red-500 { color: color-yiq($red-500); background-color: $red-500; }
.bd-red-600 { color: color-yiq($red-600); background-color: $red-600; }
.bd-red-700 { color: color-yiq($red-700); background-color: $red-700; }
.bd-red-800 { color: color-yiq($red-800); background-color: $red-800; }
.bd-red-900 { color: color-yiq($red-900); background-color: $red-900; }

.bd-orange-100 { color: color-yiq($orange-100); background-color: $orange-100; }
.bd-orange-200 { color: color-yiq($orange-200); background-color: $orange-200; }
.bd-orange-300 { color: color-yiq($orange-300); background-color: $orange-300; }
.bd-orange-400 { color: color-yiq($orange-400); background-color: $orange-400; }
.bd-orange-500 { color: color-yiq($orange-500); background-color: $orange-500; }
.bd-orange-600 { color: color-yiq($orange-600); background-color: $orange-600; }
.bd-orange-700 { color: color-yiq($orange-700); background-color: $orange-700; }
.bd-orange-800 { color: color-yiq($orange-800); background-color: $orange-800; }
.bd-orange-900 { color: color-yiq($orange-900); background-color: $orange-900; }

.bd-yellow-100 { color: color-yiq($yellow-100); background-color: $yellow-100; }
.bd-yellow-200 { color: color-yiq($yellow-200); background-color: $yellow-200; }
.bd-yellow-300 { color: color-yiq($yellow-300); background-color: $yellow-300; }
.bd-yellow-400 { color: color-yiq($yellow-400); background-color: $yellow-400; }
.bd-yellow-500 { color: color-yiq($yellow-500); background-color: $yellow-500; }
.bd-yellow-600 { color: color-yiq($yellow-600); background-color: $yellow-600; }
.bd-yellow-700 { color: color-yiq($yellow-700); background-color: $yellow-700; }
.bd-yellow-800 { color: color-yiq($yellow-800); background-color: $yellow-800; }
.bd-yellow-900 { color: color-yiq($yellow-900); background-color: $yellow-900; }

.bd-green-100 { color: color-yiq($green-100); background-color: $green-100; }
.bd-green-200 { color: color-yiq($green-200); background-color: $green-200; }
.bd-green-300 { color: color-yiq($green-300); background-color: $green-300; }
.bd-green-400 { color: color-yiq($green-400); background-color: $green-400; }
.bd-green-500 { color: color-yiq($green-500); background-color: $green-500; }
.bd-green-600 { color: color-yiq($green-600); background-color: $green-600; }
.bd-green-700 { color: color-yiq($green-700); background-color: $green-700; }
.bd-green-800 { color: color-yiq($green-800); background-color: $green-800; }
.bd-green-900 { color: color-yiq($green-900); background-color: $green-900; }

.bd-teal-100 { color: color-yiq($teal-100); background-color: $teal-100; }
.bd-teal-200 { color: color-yiq($teal-200); background-color: $teal-200; }
.bd-teal-300 { color: color-yiq($teal-300); background-color: $teal-300; }
.bd-teal-400 { color: color-yiq($teal-400); background-color: $teal-400; }
.bd-teal-500 { color: color-yiq($teal-500); background-color: $teal-500; }
.bd-teal-600 { color: color-yiq($teal-600); background-color: $teal-600; }
.bd-teal-700 { color: color-yiq($teal-700); background-color: $teal-700; }
.bd-teal-800 { color: color-yiq($teal-800); background-color: $teal-800; }
.bd-teal-900 { color: color-yiq($teal-900); background-color: $teal-900; }

.bd-cyan-100 { color: color-yiq($cyan-100); background-color: $cyan-100; }
.bd-cyan-200 { color: color-yiq($cyan-200); background-color: $cyan-200; }
.bd-cyan-300 { color: color-yiq($cyan-300); background-color: $cyan-300; }
.bd-cyan-400 { color: color-yiq($cyan-400); background-color: $cyan-400; }
.bd-cyan-500 { color: color-yiq($cyan-500); background-color: $cyan-500; }
.bd-cyan-600 { color: color-yiq($cyan-600); background-color: $cyan-600; }
.bd-cyan-700 { color: color-yiq($cyan-700); background-color: $cyan-700; }
.bd-cyan-800 { color: color-yiq($cyan-800); background-color: $cyan-800; }
.bd-cyan-900 { color: color-yiq($cyan-900); background-color: $cyan-900; }
