//
// Footer
//

.bd-footer {
  a {
    color: var(--bs-body-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--bs-primary);
      text-decoration: underline;
    }
  }
}
