<style>
  /* nuke background */
  body {
    background-image: none;
  }
  /* space out subhead */
  .subhead {
    margin-bottom: 36px;
  }

  h4 {
    margin-bottom: 5px;
  }

  /* colgroup tests */
  .col1 {
    background-color: rgba(255,0,0,.1);
  }
  .col2 {
    background-color: rgba(0,255,0,.1);
  }
  .col3 {
    background-color: rgba(0,0,255,.1);
  }

  /* Fluid row inputs */
  #fluidRowInputs .row-fluid > [class*=span] {
    background-color: rgba(255,0,0,.1);
  }
</style>


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}CSS Tests{{/i}}</h1>
  <p class="lead">{{_i}}One stop shop for quick debugging and edge-case tests of CSS.{{/i}}</p>
</header>



<!-- Tables
================================================== -->

<div class="page-header">
  <h1>Tables</h1>
</div>

<div class="row">
  <div class="span6">
    <h4>Bordered without thead</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered without thead, with caption</h4>
    <table class="table table-bordered">
      <caption>Table caption</caption>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered without thead, with colgroup</h4>
    <table class="table table-bordered">
      <colgroup>
        <col class="col1">
        <col class="col2">
        <col class="col3">
      </colgroup>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered with thead, with colgroup</h4>
    <table class="table table-bordered">
      <colgroup>
        <col class="col1">
        <col class="col2">
        <col class="col3">
      </colgroup>
      <thead>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </div><!--/span-->
  <div class="span6">
    <h4>Bordered with thead and caption</h4>
    <table class="table table-bordered">
      <caption>Table caption</caption>
      <thead>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered with rowspan and colspan</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">1 and 2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td rowspan="2">2</td>
          <td>3</td>
        </tr>
        <tr>
          <td rowspan="2">1</td>
          <td>3</td>
        </tr>
        <tr>
          <td colspan="2">2 and 3</td>
        </tr>
      </tbody>
    </table>
  </div><!--/span-->
</div><!--/row-->



<!-- Forms
================================================== -->

<div class="page-header">
  <h1>Forms</h1>
</div>

<div class="row">
  <div class="span4">
    <h4>Prepend and append on inputs</h4>
    <form>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text">
        </div>
      </div>
      <div class="controls">
        <div class="input-append">
          <input class="span2" id="prependedInput" size="16" type="text"><span class="add-on">@</span>
        </div>
      </div>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on">$</span><input class="span2" id="prependedInput" size="16" type="text"><span class="add-on">.00</span>
        </div>
      </div>
    </form>
  </div><!--/span-->
  <div class="span6">
    <h4>Prepend and append with uneditable</h4>
    <form>
      <div class="input-prepend">
        <span class="add-on">$</span><span class="span2 uneditable-input">Some value here</span>
      </div>
      <div class="input-append">
        <span class="span2 uneditable-input">Some value here</span><span class="add-on">.00</span>
      </div>
    </form>
  </div><!--/span-->
</div><!--/row-->

<h4>Fluid row with inputs</h4>
<p>Inputs should not extend past the light red background, set on their parent, a <code>.span*</code> column.</p>
<div id="fluidRowInputs">
  <div class="row-fluid">
    <div class="span4">
      <input class="span4" placeholder="span4">
    </div><!--/span-->
    <div class="span8">
      <input class="span8" placeholder="span8">
    </div><!--/span-->
  </div><!--/row-->
  <div class="row-fluid" id="fluidRowInputs">
    <div class="span12">
      <input class="span12" placeholder="span12">
    </div><!--/span-->
  </div><!--/row-->
</div>







