<style>
  /* nuke background */
  body {
    background-image: none;
  }
  /* space out subhead */
  .subhead {
    margin-bottom: 36px;
  }

  h4 {
    margin-bottom: 5px;
  }

  /* colgroup tests */
  .col1 {
    background-color: rgba(255,0,0,.1);
  }
  .col2 {
    background-color: rgba(0,255,0,.1);
  }
  .col3 {
    background-color: rgba(0,0,255,.1);
  }

  /* dropdown tests */
  #dropdownTest .dd-toggle {
    padding: 4px;
    background-color: #eee;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
</style>


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}CSS Tests{{/i}}</h1>
  <p class="lead">{{_i}}One stop shop for quick debugging and edge-case tests of CSS.{{/i}}</p>
</header>



<!-- Tables
================================================== -->

<div class="page-header">
  <h1>Tables</h1>
</div>

<div class="row">
  <div class="span6">
    <h4>Bordered without thead</h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered without thead, with caption</h4>
    <table class="table table-bordered">
      <caption>Table caption</caption>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered without thead, with colgroup</h4>
    <table class="table table-bordered">
      <colgroup>
        <col class="col1">
        <col class="col2">
        <col class="col3">
      </colgroup>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered with thead, with colgroup</h4>
    <table class="table table-bordered">
      <colgroup>
        <col class="col1">
        <col class="col2">
        <col class="col3">
      </colgroup>
      <thead>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </div><!--/span-->
  <div class="span6">
    <h4>Bordered with thead and caption</h4>
    <table class="table table-bordered">
      <caption>Table caption</caption>
      <thead>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
    <h4>Bordered with rowspan and colspan</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">1 and 2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>1</td>
          <td rowspan="2">2</td>
          <td>3</td>
        </tr>
        <tr>
          <td rowspan="2">1</td>
          <td>3</td>
        </tr>
        <tr>
          <td colspan="2">2 and 3</td>
        </tr>
      </tbody>
    </table>
  </div><!--/span-->
</div><!--/row-->



<!-- Forms
================================================== -->

<div class="page-header">
  <h1>Forms</h1>
</div>

<div class="row">
  <div class="span4">
    <h4>Prepend and append on inputs</h4>
    <form>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text">
        </div>
      </div>
      <div class="controls">
        <div class="input-append">
          <input class="span2" id="prependedInput" size="16" type="text"><span class="add-on">@</span>
        </div>
      </div>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on">$</span><input class="span2" id="prependedInput" size="16" type="text"><span class="add-on">.00</span>
        </div>
      </div>
    </form>
  </div><!--/span-->
  <div class="span6">
    <h4>Prepend and append with uneditable</h4>
    <form>
      <div class="input-prepend">
        <span class="add-on">$</span><span class="span2 uneditable-input">Some value here</span>
      </div>
      <div class="input-append">
        <span class="span2 uneditable-input">Some value here</span><span class="add-on">.00</span>
      </div>
    </form>

  </div><!--/span-->
</div><!--/row-->



<!-- Dropdowns
================================================== -->

<div class="page-header">
  <h1>Dropdowns</h1>
</div>

<p>Test to see if dropdowns work outside navs and buttons.</p>

{{! Purposely avoid using .dropdown-toggle on the anchor since it effectively does nothing in the CSS. }}
<div class="dropdown" id="dropdownTest">
  <a href="#" class="dd-toggle"><i class="icon-cog"></i><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">{{_i}}Action{{/i}}</a></li>
    <li><a href="#">{{_i}}Another action{{/i}}</a></li>
    <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
    <li class="divider"></li>
    <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
  </ul>
</div>

