<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{_i}}Customize and download{{/i}}</h1>
    <p class="lead">{{_i}}<a href="https://github.com/twitter/bootstrap/zipball/master">Download Bootstrap</a> or customize variables, components, JavaScript plugins, and more.{{/i}}</p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#components"><i class="glyphicon-chevron-right"></i> {{_i}}1. Choose components{{/i}}</a></li>
          <li><a href="#plugins"><i class="glyphicon-chevron-right"></i> {{_i}}2. Select jQuery plugins{{/i}}</a></li>
          <li><a href="#variables"><i class="glyphicon-chevron-right"></i> {{_i}}3. Customize variables{{/i}}</a></li>
          <li><a href="#download"><i class="glyphicon-chevron-right"></i> {{_i}}4. Download{{/i}}</a></li>
        </ul>
      </div>
      <div class="span9">


        <!-- Customize form
        ================================================== -->
        <form>
          <section class="download" id="components">
            <div class="page-header">
              <a class="btn btn-small pull-right toggle-all" href="#">{{_i}}Toggle all{{/i}}</a>
              <h1>
                {{_i}}1. Choose components{{/i}}
              </h1>
            </div>
            <div class="row download-builder">
              <div class="span3">
                <h3>{{_i}}Scaffolding{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="reset.less"> {{_i}}Normalize and reset{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="scaffolding.less"> {{_i}}Body type and links{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="grid.less"> {{_i}}Grid system{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="layouts.less"> {{_i}}Layouts{{/i}}</label>
                <h3>{{_i}}Base CSS{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="type.less"> {{_i}}Headings, body, etc{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="code.less"> {{_i}}Code and pre{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="labels-badges.less"> {{_i}}Labels and badges{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="tables.less"> {{_i}}Tables{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="forms.less"> {{_i}}Forms{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="buttons.less"> {{_i}}Buttons{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="sprites.less"> {{_i}}Icons{{/i}}</label>
              </div><!-- /span -->
              <div class="span3">
                <h3>{{_i}}Components{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="button-groups.less"> {{_i}}Button groups and dropdowns{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="navs.less"> {{_i}}Navs, tabs, and pills{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="navbar.less"> {{_i}}Navbar{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="breadcrumbs.less"> {{_i}}Breadcrumbs{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="pagination.less"> {{_i}}Pagination{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="pager.less"> {{_i}}Pager{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="thumbnails.less"> {{_i}}Thumbnails{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="alerts.less"> {{_i}}Alerts{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="progress-bars.less"> {{_i}}Progress bars{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="hero-unit.less"> {{_i}}Hero unit{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="media.less"> {{_i}}Media component{{/i}}</label>
                <h3>{{_i}}JS Components{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="tooltip.less"> {{_i}}Tooltips{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="popovers.less"> {{_i}}Popovers{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="modals.less"> {{_i}}Modals{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="dropdowns.less"> {{_i}}Dropdowns{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="accordion.less"> {{_i}}Collapse{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="carousel.less"> {{_i}}Carousel{{/i}}</label>
              </div><!-- /span -->
              <div class="span3">
                <h3>{{_i}}Miscellaneous{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="wells.less"> {{_i}}Wells{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="close.less"> {{_i}}Close icon{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="utilities.less"> {{_i}}Utilities{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="component-animations.less"> {{_i}}Component animations{{/i}}</label>
                <h3>{{_i}}Responsive{{/i}}</h3>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-utilities.less"> {{_i}}Visible/hidden classes{{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-767px-max.less"> {{_i}}Narrow tablets and below (<767px){{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-768px-979px.less"> {{_i}}Tablets to desktops (767-979px){{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-1200px-min.less"> {{_i}}Large desktops (>1200px){{/i}}</label>
                <label class="checkbox"><input checked="checked" type="checkbox" value="responsive-navbar.less"> {{_i}}Responsive navbar{{/i}}</label>
              </div><!-- /span -->
            </div><!-- /row -->
          </section>

          <section class="download" id="plugins">
            <div class="page-header">
              <a class="btn btn-small pull-right toggle-all" href="#">{{_i}}Toggle all{{/i}}</a>
              <h1>
                {{_i}}2. Select jQuery plugins{{/i}}
              </h1>
            </div>
            <div class="row download-builder">
              <div class="span3">
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-transition.js">
                  {{_i}}Transitions <small>(required for any animation)</small>{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-modal.js">
                  {{_i}}Modals{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-dropdown.js">
                  {{_i}}Dropdowns{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-scrollspy.js">
                  {{_i}}Scrollspy{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-tab.js">
                  {{_i}}Togglable tabs{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-tooltip.js">
                  {{_i}}Tooltips{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-popover.js">
                  {{_i}}Popovers <small>(requires Tooltips)</small>{{/i}}
                </label>
              </div><!-- /span -->
              <div class="span3">
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-affix.js">
                  {{_i}}Affix{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-alert.js">
                  {{_i}}Alert messages{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-button.js">
                  {{_i}}Buttons{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-collapse.js">
                  {{_i}}Collapse{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-carousel.js">
                  {{_i}}Carousel{{/i}}
                </label>
                <label class="checkbox">
                  <input type="checkbox" checked="true" value="bootstrap-typeahead.js">
                  {{_i}}Typeahead{{/i}}
                </label>
              </div><!-- /span -->
              <div class="span3">
                <h4 class="muted">{{_i}}Heads up!{{/i}}</h4>
                <p class="muted">{{_i}}All checked plugins will be compiled into a single file, bootstrap.js. All plugins require the latest version of <a href="http://jquery.com/" target="_blank">jQuery</a> to be included.{{/i}}</p>
              </div><!-- /span -->
            </div><!-- /row -->
          </section>


          <section class="download" id="variables">
            <div class="page-header">
              <a class="btn btn-small pull-right toggle-all" href="#">{{_i}}Reset to defaults{{/i}}</a>
              <h1>
                {{_i}}3. Customize variables{{/i}}
              </h1>
            </div>
            <div class="row download-builder">
              <div class="span3">
                <h3>{{_i}}Scaffolding{{/i}}</h3>
                <label>@body-background</label>
                <input type="text" class="span3" placeholder="#fff">
                <label>@text-color</label>
                <input type="text" class="span3" placeholder="@grayDark">

                <h3>{{_i}}Links{{/i}}</h3>
                <label>@link-color</label>
                <input type="text" class="span3" placeholder="#08c">
                <label>@link-color-hover</label>
                <input type="text" class="span3" placeholder="darken(@link-color, 15%)">

                <h3>{{_i}}Grid system{{/i}}</h3>
                <label>@gridColumns</label>
                <input type="text" class="span3" placeholder="12">
                <label>@gridColumnWidth</label>
                <input type="text" class="span3" placeholder="60px">
                <label>@gridGutterWidth</label>
                <input type="text" class="span3" placeholder="20px">
                <label>@gridColumnWidth1200</label>
                <input type="text" class="span3" placeholder="70px">
                <label>@gridGutterWidth1200</label>
                <input type="text" class="span3" placeholder="30px">
                <label>@gridColumnWidth768</label>
                <input type="text" class="span3" placeholder="42px">
                <label>@gridGutterWidth768</label>
                <input type="text" class="span3" placeholder="20px">

              </div><!-- /span -->
              <div class="span3">

                <h3>{{_i}}Typography{{/i}}</h3>
                <label>@font-family-sans-serif</label>
                <input type="text" class="span3" placeholder="'Helvetica Neue', Helvetica, Arial, sans-serif">
                <label>@font-family-serif</label>
                <input type="text" class="span3" placeholder="Georgia, 'Times New Roman', Times, serif">
                <label>@font-family-monospace</label>
                <input type="text" class="span3" placeholder="Menlo, Monaco, 'Courier New', monospace">

                <label>@font-size-base</label>
                <input type="text" class="span3" placeholder="14px">
                <label>@font-family-base</label>
                <input type="text" class="span3" placeholder="@font-family-sans-serif">
                <label>@line-height-base</label>
                <input type="text" class="span3" placeholder="20px">

                <label>@headings-font-family</label>
                <input type="text" class="span3" placeholder="inherit">
                <label>@headings-font-weight</label>
                <input type="text" class="span3" placeholder="bold">
                <label>@headingsColor</label>
                <input type="text" class="span3" placeholder="inherit">

                <label>@font-size-large</label>
                <input type="text" class="span3" placeholder="@font-size-base * 1.25">
                <label>@font-size-small</label>
                <input type="text" class="span3" placeholder="@font-size-base * 0.85">
                <label>@font-size-mini</label>
                <input type="text" class="span3" placeholder="@font-size-base * 0.75">

                <label>@padding-large</label>
                <input type="text" class="span3" placeholder="11px 19px">
                <label>@padding-small</label>
                <input type="text" class="span3" placeholder="2px 10px">
                <label>@padding-mini</label>
                <input type="text" class="span3" placeholder="1px 6px">

                <label>@border-radius-base</label>
                <input type="text" class="span3" placeholder="4px">
                <label>@border-radius-large</label>
                <input type="text" class="span3" placeholder="6px">
                <label>@border-radius-small</label>
                <input type="text" class="span3" placeholder="3px">

                <label>@hero-background</label>
                <input type="text" class="span3" placeholder="@grayLighter">
                <label>@hero-heading-color</label>
                <input type="text" class="span3" placeholder="inherit">
                <label>@hero-lead-color</label>
                <input type="text" class="span3" placeholder="inherit">

                <h3>{{_i}}Tables{{/i}}</h3>
                <label>@table-background</label>
                <input type="text" class="span3" placeholder="transparent">
                <label>@table-background-accent</label>
                <input type="text" class="span3" placeholder="#f9f9f9">
                <label>@table-background-hover</label>
                <input type="text" class="span3" placeholder="#f5f5f5">
                <label>@table-border</label>
                <input type="text" class="span3" placeholder="#ddd">

                <h3>{{_i}}Forms{{/i}}</h3>
                <label>@input-color-placeholder</label>
                <input type="text" class="span3" placeholder="@grayLight">
                <label>@input-background</label>
                <input type="text" class="span3" placeholder="#fff">
                <label>@input-border</label>
                <input type="text" class="span3" placeholder="#ccc">
                <label>@input-border-radius</label>
                <input type="text" class="span3" placeholder="3px">
                <label>@input-background-disabled</label>
                <input type="text" class="span3" placeholder="@grayLighter">
                <label>@form-actions-background</label>
                <input type="text" class="span3" placeholder="#f5f5f5">
                <label>@btn-backround-primary</label>
                <input type="text" class="span3" placeholder="@link-color">
                <label>@btn-backround-primary-highlight</label>
                <input type="text" class="span3" placeholder="darken(#fff, 10%)">

              </div><!-- /span -->
              <div class="span3">

                <h3>{{_i}}Form states &amp; alerts{{/i}}</h3>
                <label>@warningText</label>
                <input type="text" class="span3" placeholder="#c09853">
                <label>@warningBackground</label>
                <input type="text" class="span3" placeholder="#fcf8e3">
                <label>@errorText</label>
                <input type="text" class="span3" placeholder="#b94a48">
                <label>@errorBackground</label>
                <input type="text" class="span3" placeholder="#f2dede">
                <label>@successText</label>
                <input type="text" class="span3" placeholder="#468847">
                <label>@successBackground</label>
                <input type="text" class="span3" placeholder="#dff0d8">
                <label>@infoText</label>
                <input type="text" class="span3" placeholder="#3a87ad">
                <label>@infoBackground</label>
                <input type="text" class="span3" placeholder="#d9edf7">

                <h3>{{_i}}Navbar{{/i}}</h3>
                <label>@navbar-height</label>
                <input type="text" class="span3" placeholder="40px">
                <label>@navbar-background</label>
                <input type="text" class="span3" placeholder="@grayDarker">
                <label>@navbar-background-highlight</label>
                <input type="text" class="span3" placeholder="@grayDark">
                <label>@navbar-text</label>
                <input type="text" class="span3" placeholder="@grayLight">
                <label>@navbar-brand-color</label>
                <input type="text" class="span3" placeholder="@navbar-link-color">
                <label>@navbar-link-color</label>
                <input type="text" class="span3" placeholder="@grayLight">
                <label>@navbar-link-color-hover</label>
                <input type="text" class="span3" placeholder="#fff">
                <label>@navbar-link-color-active</label>
                <input type="text" class="span3" placeholder="@navbar-link-color-hover">
                <label>@navbar-link-background-hover</label>
                <input type="text" class="span3" placeholder="transparent">
                <label>@navbar-link-background-active</label>
                <input type="text" class="span3" placeholder="@navbar-background">
                <label>@navbarSearchBackground</label>
                <input type="text" class="span3" placeholder="lighten(@navbar-background, 25%)">
                <label>@navbarSearchBackgroundFocus</label>
                <input type="text" class="span3" placeholder="#fff">
                <label>@navbarSearchBorder</label>
                <input type="text" class="span3" placeholder="darken(@navbarSearchBackground, 30%)">
                <label>@navbarSearchPlaceholderColor</label>
                <input type="text" class="span3" placeholder="#ccc">

                <label>@navbar-collapse-width</label>
                <input type="text" class="span3" placeholder="979px">
                <label>@navbar-collapse-width-desktop</label>
                <input type="text" class="span3" placeholder="@navbar-collapse-width + 1">

                <h3>{{_i}}Dropdowns{{/i}}</h3>
                <label>@dropdown-background</label>
                <input type="text" class="span3" placeholder="#fff">
                <label>@dropdown-border</label>
                <input type="text" class="span3" placeholder="rgba(0,0,0,.2)">
                <label>@dropdown-link-color</label>
                <input type="text" class="span3" placeholder="@grayDark">
                <label>@dropdown-link-color-hover</label>
                <input type="text" class="span3" placeholder="#fff">
                <label>@dropdown-link-background-hover</label>
                <input type="text" class="span3" placeholder="@link-color">
              </div><!-- /span -->
            </div><!-- /row -->
          </section>

          <section class="download" id="download">
            <div class="page-header">
              <h1>
                {{_i}}4. Download{{/i}}
              </h1>
            </div>
            <div class="download-btn">
              <a class="btn btn-primary" href="#" {{#production}}onclick="_gaq.push(['_trackEvent', 'Customize', 'Download', 'Customize and Download']);"{{/production}}>{{_i}}Customize and Download{{/i}}</a>
              <h4>{{_i}}What's included?{{/i}}</h4>
              <p>{{_i}}Downloads include compiled CSS, compiled and minified CSS, and compiled jQuery plugins, all nicely packed up into a zipball for your convenience.{{/i}}</p>
            </div>
          </section><!-- /download -->
        </form>



      </div>{{! /span9 }}
    </div>{{! row}}

  </div>{{! /.container }}
