<div class="alert">
  <strong>Heads up!</strong> This page is still under construction and is missing plenty of documentation. Hang tight!
</div>

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Customize and download{{/i}}</h1>
  <p class="lead">{{_i}}<a href="https://github.com/twitter/bootstrap/zipball/master">Download the full repository</a> or customize your entire Bootstrap build by selecting only the components, javascript plugins, and assets you need.{{/i}}</p>
  <div class="subnav">
    <ul class="nav pills">
      <li><a href="#components">{{_i}}1. Select components{{/i}}</a></li>
      <li><a href="#variables">{{_i}}2. Modify variables{{/i}}</a></li>
      <li><a href="#plugins">{{_i}}3. Select jQuery plugins{{/i}}</a></li>
      <li><a href="#download">{{_i}}4. Customize and download{{/i}}</a></li>
    </ul>
  </div>
</header>

<section class="download" id="components">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Toggle all</a>
    <h1>
      1. Select components
      <small>Get just the CSS you need</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span3">
      <h3>Scaffolding</h3>
      <label class="checkbox"><input checked="checked" type="checkbox" value="reset.less"> CSS reset</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="grid.less"> Grid system</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="layouts.less"> Layouts</label>
      <h3>Base CSS</h3>
      <label class="checkbox"><input checked="checked" type="checkbox" value="type.less"> Headings, body, etc</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="code.less"> Code and pre</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="labels.less"> Labels</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="tables.less"> Tables</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="forms.less"> Forms</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="buttons.less"> Buttons</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="sprites.less"> Icons</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Components</h3>
      <label class="checkbox"><input checked="checked" type="checkbox" value="button-groups.less"> Button groups</label>
      <label class="checkbox"><input type="checkbox" value=""> MARK PLS FIX Combo buttons</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="navs.less"> Navs, tabs, and pills</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="navbar.less"> Navbar</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="breadcrumbs.less"> Breadcrumbs</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="pagination.less"> Pagination</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="pager.less"> Pager</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="thumbnails.less"> Thumbnails</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="alerts.less"> Alerts</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="progress-bars.less"> Progress bars</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>JS Components</h3>
      <label class="checkbox"><input checked="checked" type="checkbox" value="tooltip.less"> Tooltips</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="popovers.less"> Popovers</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="modals.less"> Modals</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="dropdowns.less"> Dropdowns</label>
      <label class="checkbox"><input type="checkbox" value=""> MARK PLS FIX Tabs</label>
      <label class="checkbox"><input type="checkbox" value=""> MARK PLS FIX Collapse</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="carousel.less"> Carousel</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Miscellaneous</h3>
      <label class="checkbox"><input checked="checked" type="checkbox" value="wells.less"> Wells</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="close.less"> Close icon</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="utilities.less"> Utilities</label>
      <label class="checkbox"><input checked="checked" type="checkbox" value="component-animations.less"> Component animations</label>
      <h3>Responsive</h3>
      <label class="checkbox"><input type="checkbox" value=""> MARK PLS FIX Max-width 480px</label>
      <label class="checkbox"><input type="checkbox" value=""> MARK PLS FIX Max-width 768px</label>
      <label class="checkbox"><input type="checkbox" value=""> MARK PLS FIX Max-width 1210px</label>
    </div><!-- /span -->
  </div><!-- /row -->
</section>

<section class="download" id="variables">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Reset to defaults</a>
    <h1>
      2. Modify variables
      <small>Customize Bootstrap without using a LESS compiler</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span4">
      <h3>Links</h3>
      <label>@linkColor</label>
      <input type="text" class="span3" placeholder="#08c">
      <label>@linkColorHover</label>
      <input type="text" class="span3" placeholder="darken(@linkColor, 15%)">
      <h3>Grid system</h3>
      <label>@gridColumns</label>
      <input type="text" class="span3" placeholder="12">
      <label>@gridColumnWidth</label>
      <input type="text" class="span3" placeholder="40px">
      <label>@gridGutterWidth</label>
      <input type="text" class="span3" placeholder="20px">
      <label>@siteWidth</label>
      <input type="text" class="span3" placeholder="(@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));">
      <label>@fluidSidebarWidth</label>
      <input type="text" class="span3" placeholder="220px">
    </div><!-- /span -->
    <div class="span4">
      <h3>Typography</h3>
      <label>@baseFontSize</label>
      <input type="text" class="span3" placeholder="13px">
      <label>@baseFontFamily</label>
      <input type="text" class="span3" placeholder="'Helvetica Neue', Helvetica, Arial, sans-serif">
      <label>@baseLineHeight</label>
      <input type="text" class="span3" placeholder="18px">
      <h3>Forms</h3>
      <label>@primaryButtonColor</label>
      <input type="text" class="span3" placeholder="@blue">
      <label>@placeholderText</label>
      <input type="text" class="span3" placeholder="@grayLight">
      <h3>Navbar</h3>
      <label>@navbarHeight</label>
      <input type="text" class="span3" placeholder="40px">
      <label>@navbarBackground</label>
      <input type="text" class="span3" placeholder="@grayDarker">
      <label>@navbarBackgroundHighlight</label>
      <input type="text" class="span3" placeholder="@grayDark">
    </div><!-- /span -->
    <div class="span4">
      <h3>Form states &amp; alerts</h3>
      <label>@warningText</label>
      <input type="text" class="span3" placeholder="#c09853">
      <label>@warningBackground</label>
      <input type="text" class="span3" placeholder="#fcf8e3">
      <label>@warningBorder</label>
      <input type="text" class="span3" placeholder="#f3edd2">
      <label>@errorText</label>
      <input type="text" class="span3" placeholder="#b94a48">
      <label>@errorBackground</label>
      <input type="text" class="span3" placeholder="#f2dede">
      <label>@errorBorder</label>
      <input type="text" class="span3" placeholder="#e9c7c7">
      <label>@successText</label>
      <input type="text" class="span3" placeholder="#468847">
      <label>@successBackground</label>
      <input type="text" class="span3" placeholder="#dff0d8">
      <label>@successBorder</label>
      <input type="text" class="span3" placeholder="#cfe8c4">
      <label>@infoText</label>
      <input type="text" class="span3" placeholder="#3a87ad">
      <label>@infoBackground</label>
      <input type="text" class="span3" placeholder="#d9edf7">
      <label>@infoBorder</label>
      <input type="text" class="span3" placeholder="#bfe1f2">
    </div><!-- /span -->
  </div><!-- /row -->
</section>

<section class="download" id="plugins">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Toggle all</a>
    <h1>
      3. Select jQuery plugins
      <small>Quickly add only the necessary javascript</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-transition.js">
        Transitions <small>(required for any animation)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-modal.js">
        Modals
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-dropdown.js">
        Dropdowns
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-scrollspy.js">
        Scrollspy
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-tab.js">
        Togglable tabs
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-tooltip.js">
        Tooltips
      </label>
    </div><!-- /span -->
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-popover.js">
        Popovers <small>(requires Tooltips)</small>
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-alert.js">
        Alert messages
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-button.js">
        Buttons
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-collapse.js">
        Collapse
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-carousel.js">
        Carousel
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-typeahead.js">
        Typeahead
      </label>
    </div><!-- /span -->
    <div class="span4">
      <h4 class="muted">Heads up!</h4>
      <p class="muted">{{_i}}All plugins require the latest version of <a href="http://jquery.com/" target="_blank">jQuery</a> to be included.{{/i}}</p>
    </div><!-- /span -->
  </div><!-- /row -->
</section>

<section class="download" id="download">
  <div class="page-header">
    <h1>
      4. Download
      <small></small>
    </h1>
  </div>
  <div class="download-btn">
    <a class="btn xlarge primary" href="#">Customize and Download</a>
    <h4>What's included?</h4>
    <p>Downloads include compiled CSS, compiled and minified CSS, and compiled jQuery plugins, all nicely packed up into a zipball for your convenience.</p>
  </div>
</section><!-- /download -->
