<div class="alert">
  <strong>Heads up!</strong> This page is still under construction and is missing plenty of documentation. Hang tight!
</div>

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Download and customize Bootstrap{{/i}}</h1>
  <p class="lead">{{_i}}<a href="https://github.com/twitter/bootstrap/zipball/master">Download the full repository</a> or customize your entire Bootstrap build by selecting only the components, javascript plugins, and assets you need.{{/i}}</p>
</header>

<div class="download">
  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Toggle all</a>
    <h1>
      1. Select components
      <small>Get just the CSS you need</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span3">
      <h3>Scaffolding</h3>
      <label class="checkbox"><input type="checkbox" value=""> CSS reset</label>
      <label class="checkbox"><input type="checkbox" value=""> Grid system</label>
      <label class="checkbox"><input type="checkbox" value=""> Layouts</label>
      <h3>Base CSS</h3>
      <label class="checkbox"><input type="checkbox" value=""> Headings and body</label>
      <label class="checkbox"><input type="checkbox" value=""> Code and pre</label>
      <label class="checkbox"><input type="checkbox" value=""> Labels</label>
      <label class="checkbox"><input type="checkbox" value=""> Tables</label>
      <label class="checkbox"><input type="checkbox" value=""> Forms</label>
      <label class="checkbox"><input type="checkbox" value=""> Buttons</label>
      <label class="checkbox"><input type="checkbox" value=""> Icons</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Components</h3>
      <label class="checkbox"><input type="checkbox" value=""> Button groups</label>
      <label class="checkbox"><input type="checkbox" value=""> Combo buttons</label>
      <label class="checkbox"><input type="checkbox" value=""> Navs, tabs, and pills</label>
      <label class="checkbox"><input type="checkbox" value=""> Navbar</label>
      <label class="checkbox"><input type="checkbox" value=""> Breadcrumbs</label>
      <label class="checkbox"><input type="checkbox" value=""> Pagination</label>
      <label class="checkbox"><input type="checkbox" value=""> Pager</label>
      <label class="checkbox"><input type="checkbox" value=""> Thumbnails</label>
      <label class="checkbox"><input type="checkbox" value=""> Alerts</label>
      <label class="checkbox"><input type="checkbox" value=""> Progress bars</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>JS Components</h3>
      <label class="checkbox"><input type="checkbox" value=""> Tooltips</label>
      <label class="checkbox"><input type="checkbox" value=""> Popovers</label>
      <label class="checkbox"><input type="checkbox" value=""> Modals</label>
      <label class="checkbox"><input type="checkbox" value=""> Dropdowns</label>
      <label class="checkbox"><input type="checkbox" value=""> Tabs</label>
      <label class="checkbox"><input type="checkbox" value=""> Collapse</label>
      <label class="checkbox"><input type="checkbox" value=""> Carousel</label>
    </div><!-- /span -->
    <div class="span3">
      <h3>Miscellaneous</h3>
      <label class="checkbox"><input type="checkbox" value=""> Wells</label>
      <label class="checkbox"><input type="checkbox" value=""> Close icon</label>
      <label class="checkbox"><input type="checkbox" value=""> Utilities</label>
      <label class="checkbox"><input type="checkbox" value=""> Component animations</label>
      <h3>Responsive</h3>
      <label class="checkbox"><input type="checkbox" value=""> Max-width 480px</label>
      <label class="checkbox"><input type="checkbox" value=""> Max-width 768px</label>
      <label class="checkbox"><input type="checkbox" value=""> Max-width 1210px</label>
    </div><!-- /span -->
  </div><!-- /row -->

  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Reset to defaults</a>
    <h1>
      2. Modify variables
      <small>Customize Bootstrap without using a LESS compiler</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span4">
      <h3>Links</h3>
      <label>@linkColor</label>
      <input type="text" class="span3" value="#08c">
      <label>@linkColorHover</label>
      <input type="text" class="span3" value="darken(@linkColor, 15%)">
      <h3>Grid system</h3>
      <label>@gridColumns</label>
      <input type="text" class="span3" value="">
      <label>@gridColumnWidth</label>
      <input type="text" class="span3" value="">
      <label>@gridGutterWidth</label>
      <input type="text" class="span3" value="">
      <label>@siteWidth</label>
      <input type="text" class="span3" value="">
      <label>@fluidSidebarWidth</label>
      <input type="text" class="span3" value="">
    </div><!-- /span -->
    <div class="span4">
      <h3>Typography</h3>
      <label>@baseFontSize</label>
      <input type="text" class="span3" value="13px">
      <label>@baseFontFamily</label>
      <input type="text" class="span3" value="'Helvetica Neue', Helvetica, Arial, sans-serif">
      <label>@baseLineHeight</label>
      <input type="text" class="span3" value="18px">
      <h3>Forms</h3>
      <label>@primaryButtonColor</label>
      <input type="text" class="span3" value="@blue">
      <label>@placeholderText</label>
      <input type="text" class="span3" value="@grayLight">
      <h3>Navbar</h3>
      <label>@navbarHeight</label>
      <input type="text" class="span3" value="40px">
      <label>@navbarBackground</label>
      <input type="text" class="span3" value="@grayDarker">
      <label>@navbarBackgroundHighlight</label>
      <input type="text" class="span3" value="@grayDark">
    </div><!-- /span -->
    <div class="span4">
      <h3>Form states &amp; alerts</h3>
      <label>@warningText</label>
      <input type="text" class="span3" value="#c09853">
      <label>@warningBackground</label>
      <input type="text" class="span3" value="#fcf8e3">
      <label>@warningBorder</label>
      <input type="text" class="span3" value="#f3edd2">
      <label>@errorText</label>
      <input type="text" class="span3" value="#b94a48">
      <label>@errorBackground</label>
      <input type="text" class="span3" value="#f2dede">
      <label>@errorBorder</label>
      <input type="text" class="span3" value="#e9c7c7">
      <label>@successText</label>
      <input type="text" class="span3" value="#468847">
      <label>@successBackground</label>
      <input type="text" class="span3" value="#dff0d8">
      <label>@successBorder</label>
      <input type="text" class="span3" value="#cfe8c4">
      <label>@infoText</label>
      <input type="text" class="span3" value="#3a87ad">
      <label>@infoBackground</label>
      <input type="text" class="span3" value="#d9edf7">
      <label>@infoBorder</label>
      <input type="text" class="span3" value="#bfe1f2">
    </div><!-- /span -->
  </div><!-- /row -->

  <div class="page-header">
    <a class="pull-right toggle-all" href="#">Toggle all</a>
    <h1>
      3. Select jQuery plugins
      <small>Quickly add only the necessary javascript</small>
    </h1>
  </div>
  <div class="row download-builder">
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-modal.js">
        Modals
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-dropdown.js">
        Dropdowns
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-scrollspy.js">
        Scrollspy
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-tab.js">
        Togglable tabs
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-tooltip.js">
        Tooltips
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-popover.js">
        Popovers <small>(requires Tooltips)</small>
      </label>
    </div><!-- /span -->
    <div class="span4">
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-alert.js">
        Alert messages
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-button.js">
        Buttons
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-collapse.js">
        Collapse
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-carousel.js">
        Carousel
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-typeahead.js">
        Typeahead
      </label>
      <label class="checkbox">
        <input type="checkbox" checked="true" value="bootstrap-transition.js">
        Transitions <small>(required for any animation)</small>
      </label>
    </div><!-- /span -->
    <div class="span4">
      <h4 class="muted">Heads up!</h4>
      <p class="muted">{{_i}}All plugins require the latest version of <a href="http://jquery.com/" target="_blank">jQuery</a> to be included.{{/i}}</p>
    </div><!-- /span -->
  </div><!-- /row -->

  <div class="download-btn">
    <a class="btn xlarge primary" href="#">Build and Download</a>
  </div>
</div><!-- /download -->
