<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Ejemplo de BAStrap{{/i}}</h1>
  <p class="lead">{{_i}}Incluimos este ejemplo básico como forma de comenzar a usar BAStrap.{{/i}}</p>
</header>


<ul class="thumbnails bootstrap-examples">
  <li class="span12">
    <a class="thumbnail" href="examples/hero.html">
      <img src="assets/img/examples/bootstrap-example-hero.jpg" alt="">
    </a>
    <h3>{{_i}}Sitio básico{{/i}}</h3>
    <p>{{_i}}Navegación, uso de columnas y un formulario.{{/i}}</p>
  </li>
</ul>
