<div class="alert">
  <strong>Heads up!</strong> This page is still under construction and is missing plenty of documentation. Hang tight!
</div>

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Bootstrap examples{{/i}}</h1>
  <p class="lead">{{_i}}Use these examples as starting points for your work with Bootstrap. We encourage everyone to iterate on these examples and not simply use them as an end result.{{/i}}</p>
</header>



<!-- EXAMPLES
================================================== -->
<section id="examples">
  <div class="page-header">
    <h1>{{_i}}Examples from 1.x{{/i}}</h1>
  </div>

<p><a href="../examples/container-app.html">Container app</a></p>
<p><a href="../examples/fluid.html">Fluid layout</a></p>
<p><a href="../examples/fluid-reverse.html">Reversed fluid layout</a></p>
<p><a href="../examples/hero.html">Hero marketing site</a></p>

</section>
