<div class="alert">
  <strong>Heads up!</strong> This page is still under construction and is missing plenty of documentation. Hang tight!
</div>

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>{{_i}}Bootstrap examples{{/i}}</h1>
  <p class="lead">{{_i}}Use these examples as starting points for your work with Bootstrap. We encourage everyone to iterate on these examples and not simply use them as an end result.{{/i}}</p>
</header>


<ul class="thumbnails bootstrap-examples">
  <li class="span4">
    <a href="../examples/hero.html" class="thumbnail">
      <img src="http://placehold.it/360x240" alt="">
    </a>
    <h3>Basic marketing site</h3>
    <p></p>
  </li>
  <li class="span4">
    <a href="../examples/fluid.html" class="thumbnail">
      <img src="http://placehold.it/360x240" alt="">
    </a>
    <h3>Fluid layout</h3>
    <p></p>
  </li>
  <li class="span4">
    <a href="../examples/fluid-reverse.html" class="thumbnail">
      <img src="http://placehold.it/360x240" alt="">
    </a>
    <h3>Fluid layout reversed</h3>
    <p></p>
  </li>
  <li class="span4">
    <a href="../examples/container-app.html" class="thumbnail">
      <img src="http://placehold.it/360x240" alt="">
    </a>
    <h3>Container application</h3>
    <p></p>
  </li>
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/360x240" alt="">
    </a>
    <h3>Fullscreen</h3>
    <p></p>
  </li>
  <li class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/360x240" alt="">
    </a>
    <h3>Simple layout</h3>
    <p></p>
  </li>
</ul>
