<!-- Subhead
================================================== -->
<header class="bs-docs-jumbotron subhead">
  <div class="container">
    <h1>Gallery</h1>
    <p class="lead">Showcase of sites using Bootstrap.</p>
  </div>
</header>


<div class="container">

  <section class="bs-docs-gallery">
    <div class="row">
      <div class="span4">
        <a class="thumbnail" href="https://yourkarma.com">
          <img src="assets/img/example-sites/example-karma.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://metrotwit.com">
          <img src="assets/img/example-sites/example-metrotwit.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://scriptogr.am">
          <img src="assets/img/example-sites/example-scriptogram.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://translate.twttr.com">
          <img src="assets/img/example-sites/example-twitter-translation-center.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://soundready.fm">
          <img src="assets/img/example-sites/example-soundready.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://breakingnews.com">
          <img src="assets/img/example-sites/example-breakingnews.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://desk.com">
          <img src="assets/img/example-sites/example-desk.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://jumpstartui.com">
          <img src="assets/img/example-sites/example-jumpstart-ui.jpg">
        </a>
      </div>
      <div class="span4">
        <a class="thumbnail" href="http://atheycreek.com">
          <img src="assets/img/example-sites/example-athey-creek.jpg">
        </a>
      </div>
    </div>{{! /.row }}
  </section>

</div>{{! /.container }}
