      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>{{_i}}Identidad gráfica{{/i}}</h1>
        <p class="lead">{{_i}}La identidad del Gobierno de la Ciudad y la forma de implementarla.{{/i}}
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#marca">{{_i}}Definición de marca{{/i}}</a></li>
            <li><a href="#redaccion">{{_i}}Tono de redacción{{/i}}</a></li>
            <li><a href="#ciudadverde">{{_i}}Ciudad Verde{{/i}}</a></li>
            <li><a href="#accesibilidad">{{_i}}Accesibilidad{{/i}}</a></li>
          </ul>
        </div>
      </header>


      <!-- Using Javascript w/ Bootstrap
      ================================================== -->
      <section id="marca">
        <div class="page-header">
          <h1>{{_i}}Definición de marca{{/i}} <small>{{_i}}Elementos básicos de la marca{{/i}}</small></h1>
        </div>
      <div class="row">
        <div class="span4">
          <h3>{{_i}}Escudo{{/i}}</h3>
          <p>{{_i}}El escudo de la Ciudad.{{/i}}</p>
        </div>
        <div class="span4">
          <h3>{{_i}}BA{{/i}}</h3>
          <p>{{_i}}Diseño de BA.{{/i}}</p>
        </div>
        <div class="span4">
          <h3>{{_i}}Lema{{/i}}</h3>
          <p>{{_i}}"En todo estás vos".{{/i}}</p>
        </div>
      </div> <!-- /row -->
    </section>

      <section id="redaccion">
        <div class="page-header">
          <h1>{{_i}}Tono de redacción{{/i}} <small>{{_i}}Para los textos{{/i}}</small></h1>
        </div>
      <div class="row">
        <div class="span12">
          <h3>{{_i}}Tono{{/i}}</h3>
          <p>{{_i}}Tono sencillo natural.{{/i}}</p>
        </div>
      </div> <!-- /row -->
    </section>


      <section id="ciudadverde">
        <div class="page-header">
          <h1>{{_i}}Ciudad Verde{{/i}} <small>{{_i}}Para los textos{{/i}}</small></h1>
        </div>
      <div class="row">
        <div class="span12">
          <h3>{{_i}}Tono{{/i}}</h3>
          <p>{{_i}}Tono sencillo natural.{{/i}}</p>
        </div>
      </div> <!-- /row -->
    </section>


      <section id="accesibilidad">
        <div class="page-header">
          <h1>{{_i}}Accesibilidad{{/i}} <small>{{_i}}Requerimientos mínimos{{/i}}</small></h1>
        </div>
      <div class="row">
        <div class="span12">
          <p>{{_i}}Tono sencillo natural.{{/i}}</p>
          
          
<ul>
  <li>Proveer texto alternativo en todas las imágenes esenciales. Las imágenes que son solo decorativas no lo requieren.</li>
  <li>Utilizar subtítulos en video</li>
  <li>Contraste mínimo del texto 4.5:1 </li>
  <li>El tamaño del texto se debe poder ajustar desde el navegador</li>
  <li>Las páginas deberán funcionar correctamente en escalas de grises</li>
  <li>Las columnas de texto no deben ser mayores de 110 caracteres</li>
  <li>Texto no justificado</li>
  <li>Interlineado mínimo de 1,5</li>
  <li>Espacio entre párrafos mínimo 150% del interlineado</li>
  <li>Los componentes que pueden recibir el foco lo hacen en un orden que preserva su significado y operabilidad</li>
  <li>El usuario puede continuar la actividad sin pérdida de datos cuando expire una sesión autenticada</li>
  <li>Las páginas web no contienen nada que destelle más de tres veces en un segundo</li>
  <li>Los títulos de las páginas deben describir su temática o propósito</li>
  <li>El idioma predeterminado de cada página web será explicitado en el código HTML</li>
</ul>
          
          
        </div>
      </div> <!-- /row -->
    </section>
