<!-- Masthead
================================================== -->
<header class="jumbotron masthead">
  <div class="inner">
    <h1>{{_i}}Buenos Aires Ciudad{{/i}}</h1>
    <p>{{_i}}Guía de Experiencia de Usuario del Gobierno de la Ciudad de Buenos Aires.{{/i}}</p>
    <p class="download-info">
      <a href="https://github.com/gcba/bastrap/" class="btn btn-primary btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'GitHub Project', 'View project on GitHub']);"{{/production}}>{{_i}}Ver proyecto en GitHub{{/i}}</a>
      <a href="assets/bootstrap.zip" class="btn btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.0.4']);"{{/production}}>{{_i}}Descargar BAstrap <small>(v1)</small>{{/i}}</a>
    </p>
  </div>

  <div class="bs-links">
    <ul class="quick-links">
      <li><a href="https://github.com/gcba/BAstrap/zipball/master">{{_i}}Bajar con documentación{{/i}}</a></li>
      <li><a href="http://digital.buenosaires.gob.ar">{{_i}}Blog de Digital{{/i}}</a></li>
      <li><a href="https://github.com/gcba/BAstrap/issues?state=open">{{_i}}Subí errores{{/i}}</a></li>
    </ul>
    <ul class="quick-links">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">{{_i}}Follow @twbootstrap{{/i}}</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
      </li>
    </ul>
  </div>
</header>

<hr class="soften">

<div class="marketing">
<p>
Este documento especifica la línea estética, de usabilidad y de accesibilidad que deberán respetar todos los nuevos desarrollos web y de sistemas de gestión basados en web del Gobierno de la Ciudad de Buenos Aires. Los objetivos son:</p>
<ul>
  <li>Los sitios web y sistemas de gestión basados en web deben tener una concordancia estética homogénea que se corresponda con el plan gráfico integral del Gobierno de la Ciudad.</li>
  <li>Se debe garantizar que los sitios web y sistemas de gestión basados en web puedan ser usados por la mayor cantidad de usuarios, incluyendo usuarios con limitaciones motrices y tecnológicas.</li>
</ul>
<p>Este documento se actualiza periódicamente. Al momento de inicio de cada proyecto se deberá usar la última versión de los lineamientos que esté disponible. </p>
  <h1>{{_i}}Es lo más práctico para desarrollar.{{/i}}</h1>
  <p class="marketing-byline">{{_i}}NeedAlgunas de las ventajas:{{/i}}</p>
  <div class="row">
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_042_group.png">
      <h2>{{_i}}Unifica la línea estética{{/i}}</h2>
      <p>{{_i}}La estética del Gobierno de la Ciudad debe ser homogénea. A través de un framework se puede seguir una misma línea estética sin requerir grandes trabajos de diseño.{{/i}}</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_079_podium.png">
      <h2>{{_i}}Garantiza un nivel mínimo de usabilidad y accesibilidad{{/i}}</h2>
      <p>{{_i}}El framework BAStrap cuenta con muchas características de accesibilidad y usabilidad incorporadas en su código, como avisos de error para formularios, funcionamiento instantáneo en dispositivos móviles, navegación por teclado.{{/i}}</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_163_iphone.png">
      <h2>{{_i}}Optimiza los tiempos de desarrollo{{/i}}</h2>
      <p>{{_i}}Al no tener que pensar en cuestiones elementales del diseño, maquetado, y funcionalidades, se pueden concentrar los esfuerzos en el desarrollo.{{/i}}</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_155_show_thumbnails.png">
      <h2>{{_i}}Reutilización de componentes y universalidad de recursos{{/i}}</h2>
      <p>{{_i}}Todos los componentes que se creen para una plataforma de un sitio de gobierno estarán disponibles para los otros sitios web.{{/i}}</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_214_resize_small.png">
      <h2>{{_i}}Mantenimiento universal y actualización simultánea{{/i}}</h2>
      <p>{{_i}}Al centralizar los recursos, las actualizaciones y mejoras a cualquier parte del código fuente impactarán automáticamente en todos los desarrollos.{{/i}}</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_266_book_open.png">
      <h2>{{_i}}Styleguide docs{{/i}}</h2>
      <p>{{_i}}Unlike other front-end toolkits, Bootstrap was designed first and foremost as a styleguide to document not only our features, but best practices and living, coded examples.{{/i}}</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_082_roundabout.png">
      <h2>{{_i}}Growing library{{/i}}</h2>
      <p>{{_i}}Despite being only 10kb (gzipped), Bootstrap is one of the most complete front-end toolkits out there with dozens of fully functional components ready to be put to use.{{/i}}</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/glyphicons/glyphicons_009_magic.png">
      <h2>{{_i}}Custom jQuery plugins{{/i}}</h2>
      <p>{{_i}}What good is an awesome design component without easy-to-use, proper, and extensible interactions? With Bootstrap, you get custom-built jQuery plugins to bring your projects to life.{{/i}}</p>
    </div>
    <div class="span4">
      <img class="bs-icon" src="assets/img/less-small.png">
      <h2>{{_i}}Built on LESS{{/i}}</h2>
      <p>{{_i}}Where vanilla CSS falters, LESS excels. Variables, nesting, operations, and mixins in LESS makes coding CSS faster and more efficient with minimal overhead.{{/i}}</p>
    </div>
  </div><!--/row-->
  <div class="row">
    <div class="span3">
      <img class="small-bs-icon" src="assets/img/icon-html5.png">
      <h3>HTML5</h3>
      <p>{{_i}}Built to support new HTML5 elements and syntax.{{/i}}</p>
    </div>
    <div class="span3">
      <img class="small-bs-icon" src="assets/img/icon-css3.png">
      <h3>CSS3</h3>
      <p>{{_i}}Progressively enhanced components for ultimate style.{{/i}}</p>
    </div>
    <div class="span3">
      <img class="small-bs-icon" src="assets/img/icon-github.png">
      <h3>{{_i}}Open-source{{/i}}</h3>
      <p>{{_i}}Built for and maintained by the community via <a href="https://github.com">GitHub</a>.{{/i}}</p>
    </div>
    <div class="span3">
      <img class="small-bs-icon" src="assets/img/icon-twitter.png">
      <h3>{{_i}}Made at Twitter{{/i}}</h3>
      <p>{{_i}}Brought to you by an experienced <a href="http://twitter.com/fat">engineer</a> and <a href="http://twitter.com/mdo">designer</a>.{{/i}}</p>
    </div>
  </div><!--/row-->

  <hr class="soften">
</div><!-- /.marketing -->