<div class="jumbotron masthead">
  <div class="container">
    <h1>BAstrap</h1>
    <p>Framework front-end para desarrollo basado en Twitter Bootstrap.</p>
    <p>
      <a href="empezar.html" class="btn btn-primary btn-large">Empezar a usar BAstrap</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/gcba/bastrap">Ver proyecto en GitHub</a>
      </li>
      <li>
        Versión 0.5
      </li>
    </ul>
  </div>
</div>


<div class="container">
<div class="marketing"><h1>¿Qué es BAstrap?</h1>
<p class="marketing-byline">BAstrap es un framework compuesto por CSS y Javascript que permite unificar la estética y comportamiento de los sitios web de gobierno.</p><p>Entrá a la página <a href="empezar.html">Empezar</a> para ver las instrucciones de cómo usarlo.</p>

</div>

</div>{{! /.container }}
