      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>Upgrading to Bootstrap 2</h1>
        <p class="lead">Learn about significant changes and additions since v1.4 with this handy guide.</p>
      </header>


<h2>Rough outline</h2>
<ul>
  <li>Docs completely overhauled
    <ul>
      <li>Responsive thanks to new grid system</li>
      <li>Now less marketing and more information</li>
      <li>Extensive use of tables to share classes and elements of most components</li>
      <li>Broken down into several pages for easier consumption</li>
    </ul>
  </li>
  <li>Updated grid system, now only 12 columns
    <ul>
      <li>Same great classes, but now only 12 columns</li>
      <li>Responsive approach means your projects virtually work out of the box on smartphones, tablets, and more</li>
    </ul>
  </li>
  <li>New thumbnails (previously media grids)
    <ul>
      <li><code>.media-grid</code> class has been changed to <code>.thumbnails</code></li>
      <li>Individual thumbnails now require <code>.thumbnail</code> class</li>
    </ul>
  </li>
  <li>Updated forms
    <ul>
      <li>Default form style is now stacked to use less CSS and add flexibility</li>
      <li>Exact same markup is required for vertical or horizontal forms&mdash;just swap the classes</li>
      <li>New form defaults for search, inline, vertical, and horizontal</li>
    </ul>
  </li>
  <li>Updated tables
    <ul>
      <li>Table classes made more consistent</li>
      <li>Removed unused table color options (too much code for such little impact)</li>
    </ul>
  </li>
  <li>Typography
    <ul>
      <li>Right-aligned option for blockquotes if float: right;</li>
      <li><code>h4</code> elements were dropped from 16px to 14px with a default <code>line-height</code> of 18px</li>
      <li><code>h5</code> elements were dropped from 14px to 12px</li>
      <li><code>h6</code> elements were dropped from 13px to 11px</li>
    </ul>
  </li>
  <li>Buttons
    <ul>
      <li>Added button bar options</li>
    </ul>
  </li>
  <li>Examples
    <ul>
      <li>Fluid examples redone. <code>.fluid-container</code> now requires a <code>.sidebar-left</code> or <code>.sidebar-right</code> as well. Fluid sidebar element has a new class, <code>.fluid-sidebar</code>.</li>
    </ul>
  </li>
  <li>Dropdown menus
    <ul>
      <li>Updated the <code>.dropdown-menu</code> to tighten up spacing</li>
      <li>Now requires you to add a <code>&lt;span class="caret"&gt;&lt;/span&gt;</code> to show the dropdown arrow</li>
      <li>The navbar (fixed topbar) has brand new dropdowns. Gone are the dark versions and in their place are the standard white ones with an additional caret at their tops for clarity of position.</li>
    </ul>
  </li>
  <li>Navigation
    <ul>
      <li>Tabs and pills now require the use of a new base class, <code>.nav</code>, on their <code>&lt;ul&gt;</code></li>
      <li>New nav list component added that uses the same base class, <code>.nav</code></li>
      <li>Vertical tabs and pills have been added&mdash;just add <code>.stacked</code> to the <code>&lt;ul&gt;</code></li>
      <li>Pills were restyled to be less rounded by default</li>
      <li>Pills now have dropdown menu support (they share the same markup and styles as tabs)</li>
    </ul>
  </li>
</ul>
<!--
  <li>
    <ul>
      <li></li>
    </ul>
  </li>
-->
</ul>