---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Bottom navbar example'
---

<main class="container">
  <div class="bg-1 p-5 rounded mt-3">
    <h1>Bottom Navbar example</h1>
    <p class="fs-lg fw-light">This example is a quick exercise to illustrate how the bottom navbar works.</p>
    <a class="btn-solid theme-primary btn-lg" href={getVersionedDocsPath('/components/navbar')} role="button">View navbar docs &raquo;</a>
  </div>
</main>
<nav class="navbar fixed-bottom sm:navbar-expand" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bottom navbar</a>
    <button class="btn-icon navbar-toggler" type="button" data-bs-toggle="drawer" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" aria-hidden="true"></span>
    </button>
    <dialog class="drawer drawer-end" tabindex="-1" id="navbarCollapse" aria-labelledby="navbarCollapseLabel">
      <div class="drawer-header">
        <h5 class="drawer-title" id="navbarCollapseLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="drawer" aria-label="Close"></button>
      </div>
      <div class="drawer-body">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" data-bs-toggle="menu" aria-expanded="false">Menu</a>
          <div class="menu">
            <a class="menu-item" href="#">Action</a>
            <a class="menu-item" href="#">Another action</a>
            <a class="menu-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      </div>
    </dialog>
  </div>
</nav>
