<div class="container masthead-followup px-4 px-md-3">
	<section class="row mb-5 pb-md-4 align-items-center">
		<div class="col-md-5">
			<div class="masthead-followup-icon d-inline-block mb-2 text-white bg-success">
				{{ partial "icons/code.svg" (dict "width" "32" "height" "32") }}
			</div>
			<h2 class="display-5 fw-normal">التركيب</h2>
			<p class="lead fw-normal">قم بتثبيت ملفات Sass و JavaScript المصدر الخاصة بـ Bootstrap عبر npm ،Composer، أو Meteor.</p>
			<p>لا تتضمن عمليات التثبيت المُدارة للحزمة الوثائق أو البرامج النصية للبناء الكامل الخاصة بنا. يمكنك أيضًا <a href="https://github.com/twbs/bootstrap-npm-starter">استخدام نموذج npm repo</a> الخاص بنا لإنشاء مشروع Bootstrap بسرعة عبر npm.</p>
			<a class="btn btn-lg btn-outline-primary mb-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">اقرأ مستندات التثبيت</a>
		</div>
		<div class="col-md-7 ps-md-5">
			{{ highlight "npm install bootstrap@next" "sh" "" }}
			{{ highlight (printf ("gem install bootstrap -v %s") .Site.Params.current_ruby_version) "sh" "" }}
		</div>
	</section>

	<section class="row mb-5 pb-md-4 align-items-center">
		<div class="col-md-5">
			<div class="masthead-followup-icon d-inline-block mb-2 text-white bg-primary">
				{{ partial "icons/cloud-fill.svg" (dict "width" "32" "height" "32") }}
			</div>
			<h2 class="display-5 fw-normal">jsDelivr</h2>
			<p class="lead fw-normal">عندما تحتاج فقط إلى تضمين CSS أو JS المترجم من Bootstrap، يمكنك استخدام <a href="https://www.jsdelivr.com/">jsDelivr</a>.</p>
			<p>شاهده عمليًا من خلال <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/#starter-template">نموذج البداية</a> البسيط الخاص بنا، أو <a href="/docs/{{ .Site.Params.docs_version }}/examples/">تصفح الأمثلة</a> لبدء مشروعك التالي.  يمكنك أيضًا اختيار تضمين Popper و JS الخاص بنا <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/#separate">بشكل منفصل</a>.</p>
			<a class="btn btn-lg btn-outline-primary mb-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/">استكشف المستندات</a>
		</div>
		<div class="col-md-7 ps-md-5">
			{{ highlight (printf (`<!-- CSS فقط -->
<link href="%s" rel="stylesheet" integrity=%q crossorigin="anonymous">
`) .Site.Params.cdn.css (.Site.Params.cdn.css_hash | safeHTMLAttr)) "html" "" }}
			{{ highlight (printf (`<!-- حزمة JavaScript مع Popper -->
<script src="%s" integrity=%q crossorigin="anonymous"></script>
`) .Site.Params.cdn.js_bundle (.Site.Params.cdn.js_bundle_hash | safeHTMLAttr)) "html" "" }}
		</div>
	</section>

	<section class="row mb-5 pb-md-4 align-items-center">
		<div class="col-md-5">
			<div class="masthead-followup-icon d-inline-block mb-2 text-white bd-bg-purple-bright">
				{{ partial "icons/circle-square.svg" (dict "width" "32" "height" "32") }}
			</div>
			<h2 class="display-5 fw-normal">أيقونات Bootstrap</h2>
			<p class="lead fw-normal">لأول مرة في التاريخ، يمتلك Bootstrap مكتبة أيقونات SVG مفتوحة المصدر خاصة به، مصممة للعمل بشكل أفضل مع المكونات والوثائق الخاصة بنا.</p>
			<p>تم تصميم أيقونات Bootstrap لتعمل بشكل أفضل مع مكونات Bootstrap، لكنها ستعمل في أي مشروع. إنها ملفات SVG، لذا فهي تتوسع بسرعة وسهولة، ويمكن تنفيذها بعدة طرق، ويمكن تصميمها باستخدام CSS.</p>
			<a href="{{ .Site.Params.icons }}" class="btn btn-lg btn-outline-primary mb-3">احصل على أيقونات Bootstrap</a>
		</div>
		<div class="col-md-7 ps-md-5">
				<img class="img-fluid mt-3 mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-icons.png,
                                                    /docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-icons@2x.png 2x" src="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-icons.png" alt="Bootstrap Icons" width="700" height="425" loading="lazy">
		</div>
	</section>

	<section class="row mb-5 pb-md-4 align-items-center">
		<div class="col-md-5">
			<div class="masthead-followup-icon d-inline-block mb-2 text-white bg-danger">
				{{ partial "icons/droplet-fill.svg" (dict "width" "32" "height" "32") }}
			</div>
			<h2 class="display-5 fw-normal">الثيمات الرسمية</h2>
			<p class="lead fw-normal">ارتقِ بـ Bootstrap إلى المستوى التالي مع ثيمات المتميزة من <a href="{{ .Site.Params.themes }}">سوق Bootstrap Themes الرسمي</a>.</p>
			<p>تم بناء ثيمات على Bootstrap كإطارات عمل ممتدة خاصة بها، غنية بالمكونات والإضافات الجديدة، الوثائق، وأدوات البناء القوية.</p>
			<a href="{{ .Site.Params.themes }}" class="btn btn-lg btn-outline-primary mb-3">تصفح الثيمات</a>
		</div>
		<div class="col-md-7 ps-md-5">
				<img class="img-fluid mt-3 mx-auto" srcset="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-themes.png,
                                                    /docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-themes@2x.png 2x" src="/docs/{{ .Site.Params.docs_version }}/assets/img/bootstrap-themes.png" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
		</div>
	</section>
</div>