<div class="bd-masthead mb-3" id="content">
  <div class="container-xxl bd-gutter">
    <div class="col-md-8 mx-auto text-center">
      <a class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 text-dark lh-sm text-decoration-none" href="https://blog.getbootstrap.com/2022/07/19/bootstrap-5-2-0/">
        <strong class="d-sm-inline-block p-2 me-2 mb-2 mb-lg-0 rounded-3 masthead-notice">New in v5.2</strong>
        <span class="text-muted">CSS variables, responsive offcanvas, new utilities, and more!</span>
      </a>
      <img src="/docs/{{ .Site.Params.docs_version }}/assets/brand/bootstrap-logo-shadow.png" width="200" height="165" alt="Bootstrap" class="d-block mx-auto mb-3">
      <h1 class="mb-3 fw-semibold">Build fast, responsive sites with&nbsp;Bootstrap</h1>
      <p class="lead mb-4">
        Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.
      </p>
      <div class="d-flex flex-column flex-lg-row align-items-md-stretch justify-content-md-center gap-3 mb-4">
        <div class="d-inline-block v-align-middle fs-5">
          {{ highlight (printf ("npm i bootstrap@%s") .Site.Params.current_version) "sh" "" }}
        </div>
        <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">
          <svg class="bi me-2" aria-hidden="true"><use xlink:href="#book-half"></use></svg>
          Read the docs
        </a>
      </div>
      <p class="text-muted mb-0">
        Currently <strong>v{{ .Site.Params.current_version }}</strong>
        <span class="px-1">&middot;</span>
        <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="link-secondary">Download</a>
        <span class="px-1">&middot;</span>
        <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="link-secondary text-nowrap">v4.6.x docs</a>
        <span class="px-1">&middot;</span>
        <a href="/docs/versions/" class="link-secondary text-nowrap">All releases</a>
      </p>
      {{ partial "ads" . }}
    </div>
  </div>
</div>
