---
// TODO: avoid to copy/paste props from Layout.astro
export interface Props {
	layout: string; // TODO: better handling? It represents .Page.Layout // At least should be a Type
}

const { layout } = Astro.props;
---
<div class="skippy visually-hidden-focusable overflow-hidden">
  <div class="container-xl">
    <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
    {layout == "docs" && <a class="d-none d-md-inline-flex p-2 m-1" href="#bd-docs-nav">Skip to docs navigation</a>}
  </div>
</div>
