.jstree-default.jstree-focused {
    background-color: transparent !important;
}

.sidebar .jstree {
    padding-top: 1px;
    .selected > a {
        #gradient > .vertical(lighten(@yellow, 10%), @yellow);
        margin: -1px !important;
    }
}

.jstree a {
    padding: 2px 4px !important;
    border: 1px solid transparent;
}
