<div id="aboutme-container">
  <a href="mailto:arnold@jasny.net" class="aboutme">
    <img class="img-circle" src="http://0.gravatar.com/avatar/0bba82e8b2a9d2cf9645cb07ea54766f?s=100&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D100&amp;r=G" alt="Arnold Daniels">
    <div class="aboutme-text">
      <span class="aboutme-title">Looking for a developer?</span>
      I'm available for freelance work, I want to hear about your projects.
      <span class="aboutme-name">- Arnold Daniels</span>
    </div>
  </a>
</div>
