
<div class="row navbar-inverse">
    <div class="col-md-7">
        <ul class="list-inline">
            <li class=""><a href="http://www.manta.com/coms2/page_about_manta">About Manta</a></li>
            <li class=""><a href="http://www.manta.com/coms2/page_about_manta_contact">Contact Manta</a></li>
            <li class=""><a href="http://www.manta.com/manta-careers" target="_top">Manta Careers </a></li>
            <li class=""><a href="http://www.manta.com/media/">Media Resources</a></li>
            <li class=""><a href="http://www.manta.com/coms2/page_faq">FAQ</a></li>
            <li class=""><a href="http://www.manta.com/coms2/page_advertise" target="_top">Advertise With Us</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <span class="">Are you a small business? </span><span><a href="http://www.manta.com/profile/my-companies/select?rl=create-your-profile-footer-home">Create your free company profile today</a></span>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <p class="neutralMiddark">© Manta Media Inc. All rights reserved</p>
        <p><span><strong>By using this site, you agree to these terms.</strong></span>
            <span><a id="footer-privacy" href="http://www.manta.com/coms2/page_terms_conditions_privacy">Privacy Policy</a> and <a id="footer-tnc" href="http://www.manta.com/coms2/page_terms_conditions_view">Terms &amp; Conditions</a> (revised 06/03/2013)</span>
        </p>
        <div class="left">
            <p><a href="http://www.manta.com/coms2/page_site_map">Site Map</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <a href="http://blog.manta.com/" target="_blank" class="mrm"><span class=""></span><span><strong>Blog</strong></span></a>
        <a href="http://twitter.com/Manta" target="_blank" class="mrm"><span class=""></span><span><strong>Twitter</strong></span></a>
        <a href="http://facebook.com/mantacom" target="_blank" class="mrm"><span class=""></span><span><strong>Facebook</strong></span></a>
        <a href="https://plus.google.com/116991505962569250048" target="_blank"><span class=""></span><span><strong>Google+</strong></span></a>
    </div>
</div>


<!-- Manta JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->