
<div class=" navbar navbar-inverse">
    <div class="container">
        <div class="">
            <ul class="nav navbar-nav">
                <li class=""><a href="http://www.manta.com/coms2/page_about_manta" class="navbar-link">About Manta</a></li>
                <li class=""><a href="http://www.manta.com/coms2/page_about_manta_contact" class="navbar-link">Contact Manta</a></li>
                <li class=""><a href="http://www.manta.com/manta-careers" target="_top" class="navbar-link">Manta Careers </a></li>
                <li class=""><a href="http://www.manta.com/media/" class="navbar-link">Media Resources</a></li>
                <li class=""><a href="http://www.manta.com/coms2/page_faq" class="navbar-link">FAQ</a></li>
                <li class=""><a href="http://www.manta.com/coms2/page_advertise" target="_top" class="navbar-link">Advertise With Us</a></li>
            </ul>
        </div>
        <div class="nav navbar-right">
            <span class="navbar-text">Are you a small business? <a href="http://www.manta.com/profile/my-companies/select?rl=create-your-profile-footer-home" class="navbar-link">Create your free company profile today</a></span>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="container">
        <div class="col-md-8">
            <p>
                <span class="neutralMiddark">© Manta Media Inc. All rights reserved</span><br/>
                <span><strong>By using this site, you agree to these terms.</strong></span>
                <span><a id="footer-privacy" href="http://www.manta.com/coms2/page_terms_conditions_privacy">Privacy Policy</a> and <a id="footer-tnc" href="http://www.manta.com/coms2/page_terms_conditions_view">Terms &amp; Conditions</a> (revised 06/03/2013)</span><br/>
                <span><a href="http://www.manta.com/coms2/page_site_map">Site Map</a></span>
            </p>
        </div>
        <div class="nav navbar-right">
            <a href="http://blog.manta.com/" target="_blank" class="mrm"><span class=""></span><span><strong>Blog</strong></span></a>
            <a href="http://twitter.com/Manta" target="_blank" class="mrm"><span class=""></span><span><strong>Twitter</strong></span></a>
            <a href="http://facebook.com/mantacom" target="_blank" class="mrm"><span class=""></span><span><strong>Facebook</strong></span></a>
            <a href="https://plus.google.com/116991505962569250048" target="_blank"><span class=""></span><span><strong>Google+</strong></span></a>
        </div>
    </div>

</div>


<!-- Manta JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ page.base_url }}assets/js/jquery.js"></script>
<script src="{{ page.base_url }}dist/js/bootstrap.js"></script>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ page.base_url }}assets/js/holder.js"></script>
<script src="{{ page.base_url }}assets/js/application.js"></script>
<!-- Placed at the end of the document so the pages load faster -->

{% if page.slug == "customize" %}
    <script src="{{ page.base_url }}assets/js/less.js"></script>
    <script src="{{ page.base_url }}assets/js/jszip.js"></script>
    <script src="{{ page.base_url }}assets/js/uglify.js"></script>
    <script src="{{ page.base_url }}assets/js/filesaver.js"></script>
    <script src="{{ page.base_url }}assets/js/raw-files.js"></script>
    <script src="{{ page.base_url }}assets/js/customizer.js"></script>
{% endif %}

<script>
      var _gauges = _gauges || [];
      (function() {
            var t   = document.createElement('script');
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
</script>