<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
	<nav role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a href="{{ page.base_url }}" class="navbar-brand" style="background: url(http://m4.manta-r1.com/manta/images/manta-logo-sp.png) -50px 0px;height: 25px;width: 100px;background-size: 150px 25px;margin-right: 5px;margin-top: 15px;overflow:hidden; padding:0;"></a>
	  </div>

		<div class="col-lg-4 col-md-4 col-sm-4">
		    <form class="navbar-form navbar-left form-inline" role="search">
		     <div class="form-group">
		      <div class="input-group">
			<input type="search" class="form-control" placeholder="Find products, services, businesses">
			<span class="input-group-btn">
			  <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		      </div>
		     </div>
		    </form>
		</div>
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="nav navbar-nav navbar-btn">
		<div class="dropdown">
		      <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="glyphicon glyphicon-list text-info"></span> Browse</button>
		      <ul class="dropdown-menu">
			<li{% if page.slug == "getting-started" %} class="active"{% endif %}>
			  <a href="{{ page.base_url }}getting-started">Getting started</a>
			</li>
			<li{% if page.slug == "css" %} class="active"{% endif %}>
			  <a href="{{ page.base_url }}css">CSS</a>
			</li>
			<li{% if page.slug == "components" %} class="active"{% endif %}>
			  <a href="{{ page.base_url }}components">Components</a>
			</li>
			<li{% if page.slug == "js" %} class="active"{% endif %}>
			  <a href="{{ page.base_url }}javascript">JavaScript</a>
			</li>
			<li{% if page.slug == "customize" %} class="active"{% endif %}>
			  <a href="{{ page.base_url }}customize">Customize</a>
			</li>
			<li{% if page.slug == "demo-company" %} class="active"{% endif %}>
			  <a href="{{ page.base_url }}demo-company">Example Company</a>
			</li>
		      </ul>
		</div>
            </div>

	    <div class="nav navbar-nav navbar-right">
	      <div class="btn-toolbar">
	        <button type="button" class="btn btn-default navbar-btn">Sign Up</button>
	        <button type="button" class="btn btn-default navbar-btn">Sign In</button>
	      </div>
	    </div>
          </div>
	</nav>
  </div>
</header>
