<li>
  <a href="#download">Download Bootstrap</a>
  <ul class="nav">
    <li><a href="#download-compiled">Compiled CSS, JS, and fonts</a></li>
    <li><a href="#download-additional">Additional downloads</a></li>
    <li><a href="#download-cdn">Bootstrap CDN</a></li>
  </ul>
</li>
<li>
  <a href="#whats-included">What's included</a>
  <ul class="nav">
    <li><a href="#whats-included-precompiled">Precompiled</a></li>
    <li><a href="#whats-included-source">Source code</a></li>
  </ul>
</li>
<li>
  <a href="#template">Basic template</a>
</li>
<li>
  <a href="#examples">Examples</a>
</li>
<li>
  <a href="#disable-responsive">Disabling responsiveness</a>
</li>
<li>
  <a href="#migration">Migrating from 2.x to 3.0</a>
  <ul class="nav">
    <li><a href="#migration-classes">Major class changes</a></li>
    <li><a href="#migration-new">What's new</a></li>
    <li><a href="#migration-dropped">What's removed</a></li>
    <li><a href="#migration-notes">Additional notes</a></li>
  </ul>
</li>
<li>
  <a href="#support">Browser and device support</a>
  <ul class="nav">
    <li><a href="#support-browsers">Supported browsers</a></li>
    <li><a href="#support-ie8-ie9">Internet Explorer 8-9</a></li>
    <li><a href="#support-ie8-respondjs">IE8 and Respond.js</a></li>
    <li><a href="#support-ie8-box-sizing">IE8 and box-sizing</a></li>
    <li><a href="#support-ie-compatibility-modes">IE Compatibility modes</a></li>
    <li><a href="#support-ie10-width">IE10 and Windows (Phone) 8</a></li>
    <li><a href="#support-safari-percentages">Safari percent rounding</a></li>
    <li><a href="#support-fixed-position-keyboards">Modals, navbars, and virtual keyboards</a></li>
    <li><a href="#support-browser-zooming">Browser zooming</a></li>
    <li><a href="#support-android-stock-browser">Android stock browser</a></li>
  </ul>
</li>
<li>
  <a href="#third-parties">Third party support</a>
</li>
<li>
  <a href="#accessibility">Accessibility</a>
</li>
<li>
  <a href="#license-faqs">License FAQs</a>
</li>
<li>
  <a href="#customizing">Customizing Bootstrap</a>
</li>
