<li>
  <a href="#dropdowns">Dropdowns</a>
  <ul class="nav">
    <li><a href="#dropdowns-example">Example</a></li>
    <li><a href="#dropdowns-alignment">Alignment options</a></li>
    <li><a href="#dropdowns-headers">Headers</a></li>
    <li><a href="#dropdowns-disabled">Disabled menu items</a></li>
  </ul>
</li>
<li>
  <a href="#btn-groups">Button groups</a>
  <ul class="nav">
    <li><a href="#btn-groups-single">Basic button group</a></li>
    <li><a href="#btn-groups-toolbar">Button toolbar</a></li>
    <li><a href="#btn-groups-sizing">Button group sizing</a></li>
    <li><a href="#btn-groups-nested">Nested button groups</a></li>
    <li><a href="#btn-groups-vertical">Vertical variation</a></li>
    <li><a href="#btn-groups-justified">Justified link buttons</a></li>
  </ul>
</li>
<li>
  <a href="#btn-dropdowns">Button dropdowns</a>
  <ul class="nav">
    <li><a href="#btn-dropdowns-single">Single button dropdown</a></li>
    <li><a href="#btn-dropdowns-split">Split button dropdown</a></li>
    <li><a href="#btn-dropdowns-sizes">Button sizes</a></li>
    <li><a href="#btn-dropdowns-dropup">Dropup variation</a></li>
  </ul>
</li>
<li>
  <a href="#input-groups">Input groups</a>
  <ul class="nav">
    <li><a href="#input-groups-basic">Basic input group</a></li>
    <li><a href="#input-groups-sizes">Sizing options</a></li>
    <li><a href="#input-groups-checkboxes-radios">Checkbox and radios addons</a></li>
    <li><a href="#input-groups-buttons">Button addons</a></li>
    <li><a href="#input-groups-buttons-dropdowns">Buttons with dropdowns</a></li>
    <li><a href="#input-groups-buttons-segmented">Segmented buttons</a></li>
  </ul>
</li>
<li>
  <a href="#nav">Navs</a>
  <ul class="nav">
    <li><a href="#nav-tabs">Tabs nav</a></li>
    <li><a href="#nav-pills">Pills nav</a></li>
    <li><a href="#nav-justified">Justified nav</a></li>
    <li><a href="#nav-disabled-links">Disabled links</a></li>
    <li><a href="#nav-alignment">Alignment options</a></li>
    <li><a href="#nav-dropdowns">Using dropdowns</a></li>
  </ul>
</li>
<li>
  <a href="#navbar">Navbar</a>
  <ul class="nav">
    <li><a href="#navbar-default">Default navbar</a></li>
    <li><a href="#navbar-buttons">Buttons in navbars</a></li>
    <li><a href="#navbar-text">Text in navbars</a></li>
    <li><a href="#navbar-links">Links in navbars</a></li>
    <li><a href="#navbar-component-alignment">Component alignment</a></li>
    <li><a href="#navbar-fixed-top">Fixed top navbar</a></li>
    <li><a href="#navbar-fixed-bottom">Fixed bottom navbar</a></li>
    <li><a href="#navbar-static-top">Static top navbar</a></li>
    <li><a href="#navbar-inverted">Inverted navbar</a></li>
  </ul>
</li>
<li><a href="#breadcrumbs">Breadcrumbs</a></li>
<li>
  <a href="#pagination">Pagination</a>
  <ul class="nav">
    <li><a href="#pagination-default">Default pagination</a></li>
    <li><a href="#pagination-pager">Pager</a></li>
  </ul>
</li>
<li><a href="#labels">Labels</a></li>
<li><a href="#badges">Badges</a></li>
<li><a href="#jumbotron">Jumbotron</a></li>
<li><a href="#page-header">Page header</a></li>
<li>
  <a href="#thumbnails">Thumbnails</a>
  <ul class="nav">
    <li><a href="#thumbnails-default">Default thumbnails</a></li>
    <li><a href="#thumbnails-custom-content">Custom content</a></li>
  </ul>
</li>
<li>
  <a href="#alerts">Alerts</a>
  <ul class="nav">
    <li><a href="#alerts-default">Default alert</a></li>
    <li><a href="#alerts-alternatives">Contextual alternatives</a></li>
    <li><a href="#alerts-dismissable">Dismissable alerts</a></li>
    <li><a href="#alerts-links">Links in alerts</a></li>
  </ul>
</li>
<li>
  <a href="#progress">Progress bars</a>
  <ul class="nav">
    <li><a href="#progress-basic">Basic progress bar</a></li>
    <li><a href="#progress-alternatives">Contextual alternatives</a></li>
    <li><a href="#progress-striped">Striped</a></li>
    <li><a href="#progress-animated">Animated</a></li>
    <li><a href="#progress-stacked">Stacked</a></li>
  </ul>
</li>
<li>
  <a href="#media">Media object</a>
  <ul class="nav">
    <li><a href="#media-default">Default media</a></li>
    <li><a href="#media-list">Media list</a></li>
  </ul>
</li>
<li>
  <a href="#list-group">List group</a>
  <ul class="nav">
    <li><a href="#list-group-basic">Basic list group</a></li>
    <li><a href="#list-group-badges">Badges</a></li>
    <li><a href="#list-group-linked">Linked items</a></li>
    <li><a href="#list-group-custom-content">Custom content</a></li>
    <!-- <li><a href="#list-group-pic">Leading picture</a></li> -->
  </ul>
</li>
<li>
  <a href="#panels">Panels</a>
  <ul class="nav">
    <li><a href="#panels-basic">Basic panel</a></li>
    <li><a href="#panels-heading">Panel with heading</a></li>
    <li><a href="#panels-alternatives">Contextual alternatives</a></li>
    <li><a href="#panels-list-group">With list groups</a>
  </ul>
</li>
<li><a href="#wells">Wells</a></li>
