<header class="navbar navbar-inverse navbar-expand-md flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/">
    {% include icons/bootstrap.svg width="40" height="40" class="d-block" %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/{{ site.docs_version }}/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.title == "Examples" %}active{% endif %}" href="{{ site.baseurl }}/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.themes }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');">Themes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.jobs }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Jobs');">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.expo }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Expo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.blog }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');">Blog</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    {% comment %}
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        v{{ site.current_version }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" href="{{ site.baseurl }}/v4">Bootstrap 4</a>
        <a class="dropdown-item" href="{{ site.baseurl }}/3.3.7/">Bootstrap v3.3.7</a>
        <a class="dropdown-item" href="{{ site.baseurl }}/2.3.2/">Bootstrap v2.3.2</a>
        <a class="dropdown-item" href="{{ site.baseurl }}/releases/">All versions...</a>
      </div>
    </li>
    {% endcomment %}

    <li class="nav-item">
      <a class="nav-link p-2" href="{{ site.repo }}">
        {% include icons/github.svg class="navbar-nav-svg" %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="https://twitter.com/{{ site.twitter }}">
        {% include icons/twitter.svg class="navbar-nav-svg" %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="{{ site.slack }}">
        {% include icons/slack.svg class="navbar-nav-svg" %}
      </a>
    </li>
  </ul>

  <a class="btn btn-outline-secondary d-none d-md-inline-block mb-3 mb-md-0 ml-md-3" href="{{ site.download.source }}">Download</a>
</header>
