<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>

{% if site.github %}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.min.js"></script>
{% else %}
  <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
{% endif %}

{% if site.github %}
  <script src="{{ site.baseurl }}/assets/js/docs.min.js"></script>
{% else %}
  <script src="{{ site.baseurl }}/assets/js/vendor/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/clipboard.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/holder.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/src/application.js"></script>
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{ site.baseurl }}/assets/js/ie-emulation-modes-warning.js"></script>

{% if page.layout == "docs" %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
  var docsearch = docsearch({
    apiKey: '48cb48b22351bc71ea5f12f4d1ede198',
    indexName: 'bootstrap-v4',
    inputSelector: '#search-input',
    handleSelected: function (input, event, suggestion) {
      var url = suggestion.url;
      url = suggestion.isLvl1 ? url.split('#')[0]: url;
      // If it's a title we remove the anchor so it does not jump.
      window.location.href = url;
    },
    transformData: function (hits) {
      return hits.map(function (hit) {
        hit.url = hit.url.replace('https://v4-alpha.getbootstrap.com', '/docs/4.0');
        return hit;
      });
    },
    debug: false // Set debug to true if you want to inspect the dropdown
  });
</script>
{% endif %}

<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>
