body {
  background-image: linear-gradient(180deg, var(--bs-bs-bs-bs-bs-secondary-bg), var(--bs-bs-bs-bs-bs-body-bg) 100px, var(--bs-bs-bs-bs-bs-body-bg));
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
