// Local docs variables
$bd-purple:          #563d7c;
$bd-purple-bright:   lighten(saturate($bd-purple, 5%), 15%);
$bd-purple-light:    #cdbfe3;
$bd-graphite:        #2a2730;
$bd-yellow:          #ffe484;
$bd-danger:          #d9534f;
$bd-warning:         #f0ad4e;
$bd-info:            #5bc0de;
