// Local docs variables
$bd-brand:        #563d7c !default;
$bd-brand-bright: lighten(saturate($bd-brand, 5%), 15%) !default;
$bd-brand-light:  lighten(saturate($bd-brand, 5%), 45%) !default;
$bd-dark:         #2a2730 !default;
$bd-download:     #ffe484 !default;
$bd-info:         #5bc0de !default;
$bd-warning:      #f0ad4e !default;
$bd-danger:       #d9534f !default;
