// Local docs variables
$bd-purple:          #563d7c !default;
$bd-purple-bright:   lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:    #cdbfe3 !default;
$bd-purple-lightest: #f5f2f9 !default;
$bd-graphite:        #2a2730 !default;
$bd-graphite-light:  lighten($bd-graphite, 40%) !default;
$bd-yellow:          #ffe484 !default;
$bd-danger:          #d9534f !default;
$bd-warning:         #f0ad4e !default;
$bd-info:            #5bc0de !default;
