
/* navbar top + sm */

.navbar-top .sub-brand>li>a {
  padding: 13px 8px 16px 8px;
}
@media (min-width: 767px) {
  .navbar-sm .nav>li>a  {
    padding-left:12px;
    padding-right:12px;
  }
  .navbar-sm .navbar-form .input-group>.form-control {
	width: 682px;
	left:1px;
  }
  .navbar-sm .navbar-form {
  	margin-top:0;
  	margin-bottom:15px;
  }
}
@media (min-width: 992px) {
  .navbar-sm .navbar-form {
  	margin-top:8px;
  	margin-bottom:8px;
  }
  .navbar-sm .navbar-nav {
    width:inherit;
  }
  .navbar-sm .navbar-form .input-group>.form-control {
	width: 160px;
  }
}
@media (min-width: 1200px) {
  .navbar-sm .navbar-form .input-group>.form-control {
	width: 300px;
  }
}
.navbar-sm .navbar-nav {
  margin-left: -28px;
}
.navbar-sm .nav>li>a  {
  padding-left:12px;
  padding-right:12px;
}

/* home */

.col-agendacultural .btn,
.col-tramitesyservicios .btn,
.home-mapa .btn {
  margin-bottom:60px;
}
.list-group-item-img h4 {
  font-family: "GothamBold", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size:42px;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,.0) 100%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin:0;
  padding:30px 15px 60px 15px;
  float:none;
  color:#fff;
  position:absolute;
  z-index:9;
}
.list-group-item-img h4:hover {
	color:#fff;
}
.home-banner-footer {
  position:absolute;
  z-index:9;
  bottom:20px;
  left:20px;
  right:20px;
}
.list-group-item-img:hover .btn-blue,
.list-group-item-img:focus .btn-blue {
  background-image: linear-gradient(to bottom, #5574c3 0%, #3967a8 100%);
  background-color: #3967a8;
  border-color: #3c5e8b;
  color:#eef1f9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .025),
              inset 0 -2px 0 rgba(0, 0, 0, .075);
}
.list-group-item-img:active .btn-blue {
  background-image: linear-gradient(to bottom, #3d5eaf 0%, #215093 100%);
  background-color: #215093;
  border-color: #244775;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .025),
              inset 0 2px 4px rgba(0, 0, 0, .125);
}

/* area */

.ba-area .navbar-default.navbar-top {
  border:0;
  /*border-top: solid 1px rgba(255, 255, 255, .2);*/
}
.jumbotron-misc {
  background-image:url(../../docs/misc.jpg);
  padding-bottom:0;
  /*margin-top:-29px;*/
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  border:0;

}