// Extends and modifies Bootstrap's buttons


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-project,
.btn-project:hover,
.btn-footer,
.btn-footer:hover,
.btn-footer-highlight,
.btn-footer-highlight:hover {
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: @white;
}

// Provide *some* extra contrast for those who can get it
.btn-project.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn-primary {
  .buttonBackground(desaturate(lighten(@primaryButtonBackground, 20), 30), @primaryButtonBackground);
}
// Project button is in orange
.btn-project {
  .buttonBackground(lighten(@orange, 15%), @orange);
}
.btn-group.open .btn.dropdown-toggle.btn-project {
    .buttonBackground(lighten(@orange, 15%), @orange);
}
.btn-footer {
  .buttonBackground(lighten(@footerButtonColor, 5), @footerButtonColor);
}
.btn-footer-highlight{
  .buttonBackground(lighten(@footerButtonColor, 30), lighten(@footerButtonColor, 10));
}