// Modified Layouts of Twitter Bootstrap

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.hq-container-fluid {
    min-width: @fluidMinimumWidth;

    // sticky footer
    min-height: 100%;
    height: auto !important;
    height: 100%;
    @clearFooterHeight: @footerHeight+@gridGutterWidth;
    margin-bottom: -@clearFooterHeight;
    .hq-clearfix(@clearFooterHeight+@gridGutterWidth);
}
.hq-container-fluid .sidebar {
    nav {
        padding: @gridGutterWidth 0;
        border-top: 1px solid @white;
        #gradient > .vertical(#F7F7F7, @sideNavigationBackground);
    }
    .nav {
        padding-left: @gridGutterWidth;
    }
}
.hq-double-col {
    #gradient > .horizontal-two-column-color(@sideNavigationBackground, @white, (@fluidGridColumnWidth*2+@fluidGridGutterWidth));
}
.row-fluid .hq-flush-content {
    @leftMargin: .15%;
    margin-left: @leftMargin;
    width: @fluidGridColumnWidth*10 + @fluidGridGutterWidth*10 - @leftMargin;
}

.old-style {
    #gradient > .vertical(#ffffff, #ffffff);
}

.old-style .hq-page-header-container,
.hq-centered-content .hq-page-header-container {
    background: 0;
    border-bottom: 0;
    h1 {
        border-bottom: 0;
        padding: 0;
    }
}

.hq-content {
    padding-top: @gridGutterWidth;
}

.hq-content > form,
.hq-content > div,
.hq-content > p,
.hq-content > h2,
.hq-content > .row-fluid > form,
.hq-content > .row-fluid > div,
.hq-content > .row-fluid > p,
.hq-content > .row-fluid > h2 {
    padding-right: @gridGutterWidth*2;
}

.hq-content > section {
    padding-right: @gridGutterWidth*2;
}

.hq-content > .well {
    padding-right: @gridGutterWidth;
    margin-right: @gridGutterWidth*2;
}


.hq-flush-content section > .well {
    margin: 0 @gridGutterWidth @gridGutterWidth @gridGutterWidth;
}

.hq-content .nav-tabs:first-child {
    margin-top: 0;
}

.hq-flush-content {
    padding-top: 0;
}

#report-content {
    clear: both;
}