.hq-loading {
    .well();
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    width: 200px;
    margin: 100 auto;
    position: fixed;
    z-index: @zindexFixedNavbar;
    .box-shadow(0 0 20px rgba(0,0,0,.3) );
    left: 50%;
    top: 300px;
    text-align: center;
    img {
        padding: 10px 0;
    }
    h6 small {
        display: block;
    }
}

.loading-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @gray;
    // Fade for backdrop
    .opacity(80);
}