.hq-loading {
    .well();
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    width: 200px;
    margin: 100 auto;
    position: fixed;
    z-index: @zindexFixedNavbar;
    .box-shadow(0 0 20px rgba(0,0,0,.3) );
    left: 50%;
    top: 300px;
    text-align: center;
    img {
        padding: 10px 0;
    }
}