// HQ NAVBAR (FIXED AND STATIC)
// -------------------------


// COMMON STYLES
// -------------

.hq-navbar {
  min-width: @fluidMinimumWidth;
  width:100%;
  height: @navbarHeight;
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  position: relative;
  border-bottom: 1px solid darken(@navbarBackground, 10);
  @shadow: 1px 1px 4px rgba(0,0,0,.075);
  .box-shadow(@shadow);
}
#hq-navigation-bar {
  height: @navbarHeight;
}
.hq-subsection-navbar {
    clear: both;
    background-color: @subsectionNavbarBackground;
    color: @white;
    .box-shadow(inset 0px 0px 15px darken(@subsectionNavbarBackground, 30));
    padding: 4px;

    ul.nav {
        margin-bottom: 0;
        padding-left: 15px;
        position: relative;

        li {
            display: inline-block;
            position: relative;
            
            a {
                padding: 4px 7px;
                margin: 0 1px;
                color: @white;
            }
            &.active a,
            a:hover {
                background-color: @subsectionNavbarBackgroundActive;
                .border-radius(4px);
            }
            &.active:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                #popoverArrow > .top(6px, darken(@subsectionNavbarBackground, 30));
                top: 30px;
            }
        }
    }
}

// hgroup (brand)
.hq-navbar {
    hgroup {
        padding-top: 15px;
        position: absolute;
        left: @gridGutterWidth;
        h1 {
            padding: 0;
            margin: 0;
            width: @navbarBrandWidth;
            height: @navbarBrandHeight;
            display: block;
            overflow: visible;
            position: relative;
            line-height: inherit;
            font-size: inherit;

            img,
            a, a:before {
                width: @navbarBrandWidth;
                height: @navbarBrandHeight;
            }
            img {
                z-index: @zindexBrand;
            }
            a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
            a:before {
                z-index: @zindexBrandHover;
                content: url('@{imageDirectory}commcare-logo-hover.png');
                position: absolute;
                top: 0;
                left: 0;
                display:none;
            }
            a:hover:before {
                display: block;
            }
        }
    }
}

// Text and buttons
.hq-navbar {
  // Plain text in topbar
  .navbar-text {
      margin-bottom: 0;
      line-height: 40px;
      color: @navbarText;
      a:hover {
        color: @white;
        background-color: transparent;
      }
    }
    // Buttons in navbar
    .btn,
    .btn-group {
      margin-top: 5px; // make buttons vertically centered in navbar
    }
    .btn-group .btn {
      margin-top: 0;
    }
}


// NAVIGATION
// ----------

.hq-navbar .nav {
  position: absolute;
  top: 16px;
  left: @gridGutterWidth*3 + @navbarBrandWidth;
  display: block;
  margin: 0 10px 0 0;
}
.hq-navbar .nav.pull-right {
  left: auto;
  right: @gridGutterWidth;
}
.hq-navbar .nav > li {
  display: block;
  float: left;
}

// Links
.hq-navbar .nav > li > a {
  float: none;
  margin-right: 2px;
  padding: 4px 10px 5px;
  font-size: @baseFontSize;
  line-height: 19px;
  color: @navbarLinkColor;
  border: 1px solid transparent;
  .border-radius(5px);
  text-decoration: none;
}

// Hover
.hq-navbar .nav > li > a:hover {
  text-decoration: none;
  border-color: darken(@primaryButtonBackground, 15);
  .buttonBackground(desaturate(lighten(@primaryButtonBackground, 15), 15), @primaryButtonBackground);
  color: @white;
}

// Active nav items
.hq-navbar .nav .active > a,
.hq-navbar .nav .active > a:hover {
  text-decoration: none;
  .buttonBackground(lighten(@navbarBackground, 5), darken(@navbarBackground,10));
  border-color: darken(@navbarBackground, 12);
  color: @navbarLinkColor !important;
}

// Secondary button-based nav
.hq-navbar .secondary-nav {
    position: absolute;
    top: 0;
    right: @gridGutterWidth;
    padding-top: 2px;
    .btn {
        font-size: (@baseFontSize - 1);
    }
}