<details>
  <summary class="text-primary mb-3">Show components requiring JavaScript</summary>
  <ul>
    <li>Alerts for dismissing</li>
    <li>Buttons for toggling states and checkbox/radio functionality</li>
    <li>Carousel for all slide behaviors, controls, and indicators</li>
    <li>Collapse for toggling visibility of content</li>
    <li>Dropdowns for displaying and positioning (also requires <a href="https://popper.js.org/">Popper.js</a>)</li>
    <li>Modals for displaying, positioning, and scroll behavior</li>
    <li>Navbar for extending our Collapse plugin to implement responsive behavior</li>
    <li>Tooltips and popovers for displaying and positioning (also requires <a href="https://popper.js.org/">Popper.js</a>)</li>
    <li>Scrollspy for scroll behavior and navigation updates</li>
  </ul>
</details>
