---
import { highlightCode } from '@libs/highlight'

interface Props {
  /**
   * The code to highlight.
   */
  code: string
  /**
   * The language to use for highlighting.
   * @default 'bash'
   */
  lang?: string
}

const { code, lang = 'bash' } = Astro.props

const highlightedCode = await highlightCode(code, lang)
---

<script>
  import { initCopyButtons } from '@libs/clipboard'

  initCopyButtons('.code-copy [data-bd-clipboard]', (trigger) => {
    return trigger.closest('.code-copy')?.querySelector('.astro-code')?.textContent?.trim() || ''
  })
</script>

<div class="code-copy">
  <Fragment set:html={highlightedCode} />
  <button type="button" class="btn btn-xs btn-icon bg-transparent" title="Copy" data-bd-clipboard>
    <svg class="bi fs-md" aria-hidden="true">
      <use href="#copy" />
    </svg>
  </button>
</div>

<style>
  .code-copy {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    min-height: 2.5rem;
    margin: 0;
    padding: .75rem 1rem;
    font-size: var(--font-size-md);
    background-color: var(--bg-1);
    border: 1px solid var(--border-color-translucent);
    border-radius: var(--border-radius-lg);
  }

  .code-copy :global(pre) {
    margin: 0;
    background-color: transparent !important;
  }

  .code-copy :global([data-bd-clipboard]) {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    padding: 0;
    margin: -.5rem -.25rem -.5rem 1rem;
  }
</style>
