---
interface Props {
  component: string
  className?: string
}

const { component, className } = Astro.props
---

<p>
  {component} use local CSS variables on <code>.{className}</code> for real-time customization.
  Values for the CSS variables are set via Sass, so Sass customization is still supported, too.
</p>
