.bd-anchor {
  padding-left: .25rem;
  font-weight: 400;
  color: $link-color;
  opacity: 0;
  @include transition(opacity .16s linear);

  :hover > &,
  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: none;
    opacity: 1;
  }
}
