.b-t-0 { border-top: 0!important; }
.b-b-0 { border-bottom: 0!important; }
.b-l-0 { border-left: 0!important; }
.b-r-0 { border-right: 0!important; }

.b-x-0 { 
  border-left: 0!important;
  border-right: 0!important;
}

.b-y-0 {
  border-top: 0!important;
  border-bottom: 0!important;
}

.b-a-0 {
  border-left: 0!important;
  border-right: 0!important;
  border-top: 0!important;
  border-bottom: 0!important;
}
