// stylelint-disable declaration-no-important

//
// Border
//

.border         { border: $border-width solid $border-color !important; }
.border-top     { border-top: $border-width solid $border-color !important; }
.border-right   { border-#{$opposite}: $border-width solid $border-color !important; }
.border-bottom  { border-bottom: $border-width solid $border-color !important; }
.border-left    { border-#{$default}: $border-width solid $border-color !important; }

.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-#{$opposite}: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-#{$default}: 0 !important; }

@each $color, $value in $theme-colors {
  .border-#{$color} {
    border-color: $value !important;
  }
}

.border-white {
  border-color: $white !important;
}

//
// Border-radius
//

.rounded {
  border-radius: $border-radius !important;
}
.rounded-top {
  border-top-#{$default}-radius: $border-radius !important;
  border-top-#{$opposite}-radius: $border-radius !important;
}
.rounded-right {
  border-top-#{$opposite}-radius: $border-radius !important;
  border-bottom-#{$opposite}-radius: $border-radius !important;
}
.rounded-bottom {
  border-bottom-#{$opposite}-radius: $border-radius !important;
  border-bottom-#{$default}-radius: $border-radius !important;
}
.rounded-left {
  border-top-#{$default}-radius: $border-radius !important;
  border-bottom-#{$default}-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}
