---
import type { CollectionEntry } from 'astro:content'
import { getConfig } from '@libs/config'
import type { Layout } from '@libs/layout'
import { getVersionedDocsPath } from '@libs/path'

interface Props {
  addedIn?: CollectionEntry<'docs'>['data']['added']
  layout: Layout
}

const { addedIn, layout } = Astro.props
const { slug, version } = Astro.params

const isHome = Astro.url.pathname === '/'

let versionsLink = ''

if (layout === 'docs' && version === getConfig().docs_version) {
  versionsLink = `${slug}/`
} else if (layout === 'single' && Astro.url.pathname.startsWith(getVersionedDocsPath(''))) {
  versionsLink = Astro.url.pathname.replace(getVersionedDocsPath(''), '')
}
---

<li class="nav-item">
  <button
    type="button"
    class="btn btn-link nav-link py-2 px-0 px-lg-2"
    data-bs-toggle="menu"
    data-bs-placement="bottom-end"
    aria-expanded="false"
  >
    <svg class="bi" aria-hidden="true"><use href="#stack"></use></svg>
    <span class="d-lg-none" aria-hidden="true">
      Bootstrap v{
        getConfig().docs_version
      }
    </span>
    <svg class="bi bi-sm ms-lg--1" aria-hidden="true"><use href="#chevron-expand"></use></svg>
  </button>
  <div class="menu" id="bd-versions-menu">
    <h6 class="menu-header">v6 releases</h6>
    <a
      class="menu-item active"
      aria-current="true"
      href={isHome ? '/' : `/docs/${getConfig().docs_version}/${versionsLink}`}
    >
      {getConfig().docs_version}.x <span class="fg-contrast-accent fg-50">(Alpha)</span>
      <svg class="bi ms-auto" aria-hidden="true"><use href="#check2"></use></svg>
    </a>
    <hr class="menu-divider" />
    <h6 class="menu-header">Previous releases</h6>
    <a class="menu-item" href="https://getbootstrap.com/docs/5.3/">v5.3.x <span class="fg-3">(Latest)</span></a>
    <a class="menu-item" href="https://getbootstrap.com/docs/4.6/">v4.6.x</a>
    <a class="menu-item" href="https://getbootstrap.com/docs/3.4/">v3.4.1</a>
    <a class="menu-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
    <hr class="menu-divider" />
    <a class="menu-item" href="/docs/versions/">All versions…</a>
  </div>
</li>
