//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  padding-right: 0; // Override default ul/ol

  // Redeclare pull classes because of specificity
  > .pull-left {
    float: left;
  }  
}


// Nav variations
// --------------------------------------------------

// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  > li {
    float: right;
    
    // Actual tabs (as links)
    > a {
  	  margin-right: 0;
      margin-left: 2px;  
    }  
  }  
}


// Pills
// -------------------------
.nav-pills {
  > li {
    float: right;

    + li {
      margin-right: 2px;
      margin-left: 0;
    }
  }
}

// Stacked pills
.nav-stacked {
  > li {
    + li {
      margin-right: 0; // no need for this gap between nav items
    }
  }
}


// Move borders to anchors instead of bottom of list
.nav-tabs-justified {
  > li > a {
    // Override margin from .nav-tabs
    margin-left: 0;
  }
}

// Justified nav links
// -------------------------

.nav-justified > li {
	float: none; // was overriden by .nav-pills > li rule.
}
