//
// Typography
// --------------------------------------------------


// Lists
// --------------------------------------------------

// List options

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-right: 0;
}

// Inline turns list items into inline-block
.list-inline {
  padding-right: 0;
}

// Description Lists

dd {
  margin-right: 0; // Undo browser default
}

// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: right;
    clear: right;
    text-align: left;
  }
  dd {
    margin-right: @component-offset-horizontal;
    margin-left: 0;
  }
}

// Blockquotes
blockquote {
  border-right: 5px solid @blockquote-border-color;
  border-left: 0 none;
  
  // Float left with text-align: left
  &.pull-left {
    float: left;
    padding-right: 0;
    padding-left: 15px;
    border-right: 0;
    border-left: 5px solid @blockquote-border-color;
    
    p,
    small {
      text-align: left;
    }
  }
}
