{
  "extends": "../../../../.stylelintrc",
  "rules": {
    "at-rule-no-vendor-prefix": null,
    "comment-empty-line-before": null,
    "media-feature-name-no-vendor-prefix": null,
    "property-blacklist": null,
    "property-no-vendor-prefix": null,
    "selector-no-qualifying-type": null,
    "selector-no-vendor-prefix": null,
    "value-no-vendor-prefix": null
  }
}
