.breadcrumb {
  margin-bottom: $breadcrumb-spacing-bottom; // makes default breadcrumb bottom spacing editable
  font-size: $breadcrumb-font-size;

  .breadcrumb-item {
    color: $breadcrumb-item-color;
    text-decoration: underline;

    &.active {
      text-decoration: none;
    }
  }

  li.breadcrumb-item a {
    color: $breadcrumb-item-color;
  }
}