.breadcrumb {
  margin-bottom: $breadcrumb-spacing-bottom; // makes default breadcrumb bottom spacing editable
  font-size: $breadcrumb-font-size;

  .breadcrumb-item {
    color: $breadcrumb-item-color;
    text-decoration: underline;

    a {
      color: inherit;
    }

    &:hover,
    a:hover {
      color: inherit;
    }

    &.active {
      text-decoration: none;
    }
  }
}
