// Adds row spaced helper
.row-spaced:first-child {
  margin-top: 0;
}

.row-spaced {
  // Adjust spacing to grid
  @each $breakpoint in map-keys($grid-gutter-widths) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      margin-top: $gutter;
    }
  }
}
