//
// Nav Thumbnail
//

$nav-thumbnail-height: ($btn-padding-y * 2) + ($font-size-base * $btn-line-height) !default;
$nav-border-height: ($border-width * 2) !default;

.nav-thumbnail {
  width: auto;
  height: calc(#{$nav-thumbnail-height} + #{$nav-border-height});
  padding: $thumbnail-padding;
  border: 1px solid $btn-secondary-border;
  border-radius: $btn-border-radius;
}
