.section {
  width: 100%;
  height: auto;
  padding: $section-padding-y $section-padding-x;

  border-bottom: 1px solid $section-border;

  // Make Headings inherit correct color
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.section-unpadded {
  padding: 0;
}

.section-background {
  background-position: center;
  background-size: cover;
}

.section-inner {
  width: 100%;
  max-width: $section-inner-max-width;

  margin-right: auto;
  margin-left: auto;
}

// Section Parts
.section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $section-padding-y;
  margin-bottom: $section-padding-y;
}

.section-header:first-child {
  margin-top: 0;
}

// Color Variants
.section-inverse {
  color: $section-inverse-color;
}

.section-contrast {
  color: $section-contrast-color;
}

.section-primary {
  color: $section-primary-color;
}
