.slider {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible; 
  padding: $slider-inner-padding-y $slider-inner-padding-x;
}

.slider-inner {
  position: relative;
  @include make-container-max-widths();

  margin-left: auto;
  margin-right: auto;
}

.slider-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  outline-style: none;
}

.slider-item-grid-spacing {
  @each $breakpoint in map-keys($grid-gutter-widths) {
    @include media-breakpoint-up($breakpoint) {
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      padding-left: ($gutter / 2);
      padding-right: ($gutter / 2);
    }
  }
}

// Controls
.slider-controls {
  display: flex;
  justify-content: center;
  padding: $slider-control-spacing-y $slider-control-spacing-x;
}

.slider-control-prev,
.slider-control-indicators,
.slider-control-next {
  flex: 0 0 auto;
  align-self: center;
}

.slider-control-prev,
.slider-control-next {
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-control-indicators ul {
  // clear list styling
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;

  margin-left: $slider-control-spacing-x;
  margin-right: $slider-control-spacing-x;
}

.slider-control-indicators li {
  display: inline-block;
  width: $slider-control-indicator-size;
  height: $slider-control-indicator-size;
  margin-right: $slider-control-indicator-spacing;

  &:last-child {
    margin-right: 0;
  }
}

.slider-control-indicators button {
  width: $slider-control-indicator-size;
  height: $slider-control-indicator-size;
  margin: 0;
  padding: 0;
  overflow: hidden;

  text-indent: $slider-control-indicator-size * -2;
  border-radius: $slider-control-indicator-size * .5;

  outline: none;
  border: none;

  &:hover {
    background: $slider-control-indicator-hover-bg;
  }

  &.active {
    background: $slider-control-indicator-active-bg;
  }
}

.slick-active button {
  background: $slider-control-indicator-active-bg;
}

// Slider Cards
.slider-card {
  .card-img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    img {
      flex: 0 1 auto;
      align-self: center;
    }
  }
}