// Flush Table
//
// Remove borders on the top to display table in company with other components

.table-flush {
  margin: 0;
  border-top: $card-border-width solid $card-border-color;

  // generally clear top border for tr. Border handling will be done by parent table in card context
  tr:first-child td,
  tr:first-child th {
    border-top: 0;
  }

  // clear top border if table is first child in the card
  &:first-child {
    border-top: 0;
  }
}

.table td {
  hyphens: auto;
}

.table:not(.table-responsive) {
  @include media-breakpoint-down(sm) {
    tr {
      display: flex;
      flex-direction: column;
      border-top: $card-border-width solid $card-border-color;
    }

    tr:first-child {
      border-top: none;
    }

    th,
    td {
      flex: 1 1 100%;
      padding-top: 0;
      padding-bottom: 0;
      border-top: none;
    }

    th:first-child,
    td:first-child {
      padding-top: $spacer;
    }

    th:last-child,
    td:last-child {
      padding-bottom: $spacer;
    }

  }
}
