{{- /*
  Usage: `table [args]`

  `args` are optional and can be one of the following:
    * class: any class(es) to be added to the `table` - default ""
    * simplified: show a simplified version in the examples - default `true`
*/ -}}

{{- $class := .Get "class" -}}
{{- $simplified := .Get "simplified" | default true -}}

{{- $table_attributes := "" -}}
{{- $table_content := "  ...\n" -}}

{{- with $class -}}
  {{- $table_attributes = printf ` class="%s"` . -}}
{{- end -}}

{{- if eq $simplified "false" -}}
  {{- $table_content = partialCached "table-content" . -}}
{{- end -}}

{{- $table := printf "<table%s>\n%s</table>" $table_attributes $table_content -}}

<div class="bd-example-snippet bd-code-snippet">
  <div class="bd-example m-0 border-0">
    <table{{ with $class }} class="{{ . }}"{{ end }}>
      {{ partialCached "table-content" . }}
    </table>
  </div>

  <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1">
    <small class="font-monospace text-body-secondary text-uppercase">html</small>
    <div class="d-flex ms-auto">
      <button type="button" class="btn-edit text-nowrap" title="Try it on StackBlitz">
        <svg class="bi" aria-hidden="true"><use xlink:href="#lightning-charge-fill"/></svg>
      </button>
      <button type="button" class="btn-clipboard mt-0 me-0" title="Copy to clipboard">
        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"/></svg>
      </button>
    </div>
  </div>

  {{- highlight $table "html" "" -}}
</div>
