@use "../config" as *;
@use "breakpoints" as *;
@use "../mixins/grid" as *;

// TODO: check gap utilities as replacement for gutter classes from v5

@layer layout {
  @if $enable-grid-classes {
    .row {
      @include make-row();

      > * {
        @include make-col-ready();
      }
    }

    @include make-grid-columns();
  }

  @if $enable-cssgrid {
    .grid {
      --columns: #{$grid-columns};
      --rows: 1;
      --gap: #{$grid-gutter-x};

      @include set-container();

      display: grid;
      grid-template-rows: repeat(var(--rows), 1fr);
      grid-template-columns: repeat(var(--columns), 1fr);
      gap: var(--gap);
    }

    @include make-cssgrid();
  }
}
