---
interface Props {
  /**
   * The type of callout to display. One of `info`, `danger`, or `warning`.
   * @default 'info'
   */
  type?: 'danger' | 'info' | 'warning'
}

const { type = 'info' } = Astro.props
---

<div class={`bd-callout bd-callout-${type}`}>
  <slot />
</div>
