---
// TODO(HiDeoo) Remove this component

const testPages = await Astro.glob('../pages/tests/*.mdx')
---

<ul class="list-inline bg-danger p-3 m-0 d-flex gap-2">
  {
    testPages.map((testPage) => (
      <li>
        <a href={testPage.url} class="link-light">
          {testPage.url?.substring(testPage.url.lastIndexOf('/') + 1)}
        </a>
      </li>
    ))
  }
</ul>
