---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Signin Template'
export const extra_css = ['sign-in.css']
export const body_class = 'd-flex align-items-center py-4 bg-body-tertiary'
---

<main class="form-signin w-100 m-auto">
  <form>
    <img class="mb-4" src={getVersionedDocsPath('/assets/brand/bootstrap-logo.svg')} alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-field text-start my-3">
      <div class="check">
        <input type="checkbox" value="remember-me" id="checkDefault">
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'>
          <path class="checked" fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m4 8 3 3 5-5'/>
          <path class="indeterminate" fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4.5 8.5h6'/>
        </svg>
      </div>
      <label for="checkDefault">
        Remember me
      </label>
    </div>
    <button class="btn-solid theme-primary w-100 py-2" type="submit">Sign in</button>
    <p class="mt-5 mb-3 fg-2">&copy; 2017–{new Date().getFullYear()}</p>
  </form>
</main>
