---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout
  overrides={{
    body: { class: 'd-flex flex-column min-vh-100' },
    main: { class: 'my-auto p-5', id: 'content' }
  }}
  robots="noindex,follow"
  title="404 - File not found"
>
  <div class="text-center py-5">
    <h1 class="display-1">404</h1>
    <h2>File not found</h2>
  </div>
</BaseLayout>
