// Building on Twitter Bootstrap's Breadcrumbs

.page-header .breadcrumb {
    padding: 0 @gridGutterWidth (@baseLineHeight - 1);
    margin: 0;
    border: 0;
    line-height: 1em;
    font-size: 24px;
    font-weight: normal;
    #gradient > .vertical(@white, @white);

    .active a,
    .active a:link,
    .active a:visited{
        color: @commCareGray;
    }

}