/* Styling for the celery downloader. See download export */

.downloader {
    > h2 {
        font-size: @baseFontSize;
    }
    [id^="display_"] {
        line-height:38px;

        img {
            vertical-align: middle;
            padding-right: 10px;
        }
    }
    [id^="ready_"] {
        display: inline;
        font-size: @baseFontSize;
    }
}

.foolink {
    font-size: 5em;
    .btn;
    .btn-primary;
    .btn-large;
}

.downloader .downloader_container {
    padding: 4px 0 8px;

    strong a {
        .btn;
        .btn-primary;
        .btn-large;
    }
}