/*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */



/* Key scaffolding
-------------------------------------------------- */

body {
  position: relative; /* For scrollyspy */
}

/*  */
body > .container,
.footer .container {
  padding-left:  15px;
  padding-right: 15px;
}



/* Sections
-------------------------------------------------- */

/* Padding for in-page bookmarks */
section {
  padding-top: 30px;
}

/* Few stylistic typography tweaks */
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}



/* Jumbotrons
-------------------------------------------------- */

/* Base class */
.bs-docs-jumbotron {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  color: #fff;
  text-align: center;
  background-color: #b94a48;
}
.bs-docs-jumbotron h1 {
  font-size: 50px;
}

/* Link styles (used on .masthead-links as well) */
.bs-docs-jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.bs-docs-jumbotron a:hover {
  color: #fff;
}

/* Download button */
.bs-docs-jumbotron .btn {
  padding: 18px 24px;
  font-size: 21px;
  color: #b94a48; /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
}
.bs-docs-jumbotron .btn,
.bs-docs-jumbotron .btn:hover,
.bs-docs-jumbotron .btn:active {
  color: #b94a48; /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
  border-color: #fff;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  /*padding: 70px 0 80px;*/
}
.masthead h1 {
  /*font-size: 120px;*/
  /*line-height: 1;*/
  /*letter-spacing: -2px;*/
}
.masthead p {
  /*font-size: 40px;
  font-weight: 200;
  line-height: 1.25;*/
}

/* Textual links in masthead */
.masthead-links {
  margin: 20px 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}



/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing h1 {
  margin: 60px 0 10px;
  line-height: 1;
}
.marketing h2 {
  margin-bottom: 5px;
}
.marketing p {
  font-size: 16px;
  line-height: 1.4;
}
.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.25;
  color: #999;
}
.marketing-img {
  display: block;
  margin: 30px auto 10px;
  max-height: 145px;
}



/* Special grid styles
-------------------------------------------------- */

.show-grid [class^="span"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}



/* Sidenav
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 218px;
  margin: 20px 0 0;
}
/* Chevrons */
.bs-docs-sidenav .glyphicon-chevron-right {
  float: right;
  margin-top: 1px;
  margin-right: -6px;
  opacity: .25;
  color: #000;
}
.bs-docs-sidenav a:hover .glyphicon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .glyphicon-chevron-right,
.bs-docs-sidenav .active a:hover .glyphicon-chevron-right {
  color: #fff;
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 10px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}



/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-docs-example {
  position: relative;
  padding: 39px 14px 14px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}
/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #9da0a4;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

/* Tweak display of the examples */
.bs-docs-example + .prettyprint {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.prettyprint .linenums {
  /*margin-left: 0;*/
}

/* Tweak content of examples for optimum awesome */
.bs-docs-example > p:last-child,
.bs-docs-example > ul:last-child,
.bs-docs-example > ol:last-child,
.bs-docs-example > blockquote:last-child,
.bs-docs-example > .table:last-child,
.bs-docs-example > input:last-child,
.bs-docs-example > select:last-child,
.bs-docs-example > textarea:last-child {
  margin-bottom: 0;
}



/* Icons
-------------------------------------------------- */

.the-icons {
  padding-bottom: 1px;
  margin-left: 0;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.the-icons li {
  float: left;
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-box-sizing: border-box;
  margin: 0 -1px -1px 0;
}
.the-icons [class^="glyphicon-"] {
  display: block;
  margin: 5px auto;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 24px;
}
.the-icons li:hover {
  background-color: rgba(255,0,0,.1);
}



/* Responsive docs
-------------------------------------------------- */

/* Related: responsive utilities tables */
.table code {
  font-size: 13px;
  font-weight: normal;
}

/* Utility classes table
------------------------- */
.responsive-utilities th small {
  display: block;
  font-weight: normal;
  color: #999;
}
.responsive-utilities tbody th {
  font-weight: normal;
}
.responsive-utilities td {
  text-align: center;
}
.responsive-utilities td.is-visible {
  color: #468847;
  background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
  color: #ccc;
  background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
  margin-top: 5px;
  margin-left: 0;
  list-style: none;
  overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
  position: relative;
  float: left;
  width: 25%;
  height: 43px;
  font-size: 14px;
  font-weight: bold;
  line-height: 43px;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.responsive-utilities-test li + li {
  margin-left: 10px;
}
.responsive-utilities-test span {
  position: absolute;
  top:    -1px;
  left:   -1px;
  right:  -1px;
  bottom: -1px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.responsive-utilities-test span {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}



/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}
/* Quick links on Home */
.bs-docs-social-buttons {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}
.bs-docs-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.bs-docs-social-buttons .twitter-share-button {
  width: 98px !important;
}
