---
import { getVersionedDocsPath } from '@libs/path'

export const title = 'Sticky Footer Navbar Template'
export const extra_css = ['sticky-footer-navbar.css']
export const html_class = 'h-100'
export const body_class = 'd-flex flex-column h-100'
---

<header>
  <!-- Fixed navbar -->
  <nav class="navbar md:navbar-expand fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="btn-icon navbar-toggler" type="button" data-bs-toggle="drawer" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" aria-hidden="true"></span>
      </button>
      <dialog class="drawer drawer-end" tabindex="-1" id="navbarCollapse" aria-labelledby="navbarCollapseLabel">
        <div class="drawer-header">
          <h5 class="drawer-title" id="navbarCollapseLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="drawer" aria-label="Close"></button>
        </div>
        <div class="drawer-body">
        <ul class="navbar-nav me-auto mb-2 md:mb-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn-solid theme-success" type="submit">Search</button>
        </form>
        </div>
      </dialog>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Sticky footer with fixed navbar</h1>
    <p class="fs-lg fw-light">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
    <p>Back to <a href={getVersionedDocsPath('/examples/sticky-footer/')}>the default sticky footer</a> minus the navbar.</p>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-1">
  <div class="container">
    <span class="fg-2">Place sticky footer content here.</span>
  </div>
</footer>
