---
export const title = 'Cover Template'
export const extra_css = ['cover.css']
export const html_class = 'h-100'
export const body_class = 'd-flex h-100 text-center bg-inverse fg-white'
---

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" data-bs-theme="dark">
  <header class="mb-auto">
    <div>
      <h3 class="md:float-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center md:float-end">
        <a class="nav-link bg-transparent fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link bg-transparent fw-bold py-1 px-0" href="#">Features</a>
        <a class="nav-link bg-transparent fw-bold py-1 px-0" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="fs-lg fw-light">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="fs-lg fw-light">
      <a href="#" class="btn-solid theme-inverse btn-lg fw-bold">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto fg-secondary">
    <p>Cover template for <a href="https://getbootstrap.com/" class="fg-white">Bootstrap</a>, by <a href="https://x.com/mdo" class="fg-white">@mdo</a>.</p>
  </footer>
</div>
