---
import BaseLayout from '../layouts/BaseLayout.astro'

/*
 TODO: missing elements from Bootstrap's frontmatter
  - url: /404.html
  - sitemap_exclude: true
*/

/*
 TODO: Be able to override <main>
 TODO(HiDeoo) The remaining elements in this todo may not require overrides but just a dedicated layout.
  - Note: {{ define "main" }} is used in site/layouts/_default/ files:
    - docs.html
    - home.html
    - single.html
*/
---

<BaseLayout
  overrides={{
    body: { class: 'd-flex flex-column min-vh-100' },
    main: { class: 'my-auto p-5', id: 'content' },
  }}
  robots="noindex,follow"
  title="404 - File not found"
>
  <div class="text-center py-5">
    <h1 class="display-1">404</h1>
    <h2>File not found</h2>
  </div>
</BaseLayout>
