@use "../functions";
@use "../mixins/border-radius";
@use "../mixins/color-mode";
@use "../mixins/transition";
@use "../variables";

//
// Check/radio
//

.form-check {
  display: block;
  min-height: variables.$form-check-min-height;
  padding-left: variables.$form-check-padding-start;
  margin-bottom: variables.$form-check-margin-bottom;

  .form-check-input {
    float: left;
    margin-left: variables.$form-check-padding-start * -1;
  }
}

.form-check-reverse {
  padding-right: variables.$form-check-padding-start;
  padding-left: 0;
  text-align: right;

  .form-check-input {
    float: right;
    margin-right: variables.$form-check-padding-start * -1;
    margin-left: 0;
  }
}

.form-check-input {
  --#{variables.$prefix}form-check-bg: #{variables.$form-check-input-bg};

  flex-shrink: 0;
  width: variables.$form-check-input-width;
  height: variables.$form-check-input-width;
  margin-top: (variables.$line-height-base - variables.$form-check-input-width) * .5; // line-height minus check height
  vertical-align: top;
  appearance: none;
  background-color: var(--#{variables.$prefix}form-check-bg);
  background-image: var(--#{variables.$prefix}form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: variables.$form-check-input-border;
  print-color-adjust: exact; // Keep themed appearance for print
  @include transition.transition(variables.$form-check-transition);

  &[type="checkbox"] {
    @include border-radius.border-radius(variables.$form-check-input-border-radius);
  }

  &[type="radio"] {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: variables.$form-check-radio-border-radius;
  }

  &:active {
    filter: variables.$form-check-input-active-filter;
  }

  &:focus {
    border-color: variables.$form-check-input-focus-border;
    outline: 0;
    box-shadow: variables.$form-check-input-focus-box-shadow;
  }

  &:checked {
    background-color: variables.$form-check-input-checked-bg-color;
    border-color: variables.$form-check-input-checked-border-color;

    &[type="checkbox"] {
      @if variables.$enable-gradients {
        --#{variables.$prefix}form-check-bg-image: #{functions.escape-svg(variables.$form-check-input-checked-bg-image)}, var(--#{variables.$prefix}gradient);
      } @else {
        --#{variables.$prefix}form-check-bg-image: #{functions.escape-svg(variables.$form-check-input-checked-bg-image)};
      }
    }

    &[type="radio"] {
      @if variables.$enable-gradients {
        --#{variables.$prefix}form-check-bg-image: #{functions.escape-svg(variables.$form-check-radio-checked-bg-image)}, var(--#{variables.$prefix}gradient);
      } @else {
        --#{variables.$prefix}form-check-bg-image: #{functions.escape-svg(variables.$form-check-radio-checked-bg-image)};
      }
    }
  }

  &[type="checkbox"]:indeterminate {
    background-color: variables.$form-check-input-indeterminate-bg-color;
    border-color: variables.$form-check-input-indeterminate-border-color;

    @if variables.$enable-gradients {
      --#{variables.$prefix}form-check-bg-image: #{functions.escape-svg(variables.$form-check-input-indeterminate-bg-image)}, var(--#{variables.$prefix}gradient);
    } @else {
      --#{variables.$prefix}form-check-bg-image: #{functions.escape-svg(variables.$form-check-input-indeterminate-bg-image)};
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: variables.$form-check-input-disabled-opacity;
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      cursor: default;
      opacity: variables.$form-check-label-disabled-opacity;
    }
  }
}

.form-check-label {
  color: variables.$form-check-label-color;
  cursor: variables.$form-check-label-cursor;
}

//
// Switch
//

.form-switch {
  padding-left: variables.$form-switch-padding-start;

  .form-check-input {
    --#{variables.$prefix}form-switch-bg: #{functions.escape-svg(variables.$form-switch-bg-image)};

    width: variables.$form-switch-width;
    margin-left: variables.$form-switch-padding-start * -1;
    background-image: var(--#{variables.$prefix}form-switch-bg);
    background-position: left center;
    @include border-radius.border-radius(variables.$form-switch-border-radius, 0);
    @include transition.transition(variables.$form-switch-transition);

    &:focus {
      --#{variables.$prefix}form-switch-bg: #{functions.escape-svg(variables.$form-switch-focus-bg-image)};
    }

    &:checked {
      background-position: variables.$form-switch-checked-bg-position;

      @if variables.$enable-gradients {
        --#{variables.$prefix}form-switch-bg: #{functions.escape-svg(variables.$form-switch-checked-bg-image)}, var(--#{variables.$prefix}gradient);
      } @else {
        --#{variables.$prefix}form-switch-bg: #{functions.escape-svg(variables.$form-switch-checked-bg-image)};
      }
    }
  }

  &.form-check-reverse {
    padding-right: variables.$form-switch-padding-start;
    padding-left: 0;

    .form-check-input {
      margin-right: variables.$form-switch-padding-start * -1;
      margin-left: 0;
    }
  }
}

.form-check-inline {
  display: inline-block;
  margin-right: variables.$form-check-inline-margin-end;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;

  &[disabled],
  &:disabled {
    + .btn {
      pointer-events: none;
      filter: none;
      opacity: variables.$form-check-btn-check-disabled-opacity;
    }
  }
}

@if variables.$enable-dark-mode {
  @include color-mode.color-mode(dark) {
    .form-switch .form-check-input:not(:checked):not(:focus) {
      --#{variables.$prefix}form-switch-bg: #{functions.escape-svg($form-switch-bg-image-dark)};
    }
  }
}
