@use "../functions";
@use "../mixins/border-radius";
@use "../mixins/box-shadow";
@use "../mixins/gradients";
@use "../mixins/transition";
@use "../variables";

// Range
//
// Style range inputs the same across browsers. Vendor-specific rules for pseudo
// elements cannot be mixed. As such, there are no shared styles for focus or
// active states on prefixed selectors.

.form-range {
  width: 100%;
  height: functions.add(variables.$form-range-thumb-height, variables.$form-range-thumb-focus-box-shadow-width * 2);
  padding: 0; // Need to reset padding
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: none;

    // Pseudo-elements must be split across multiple rulesets to have an effect.
    // No box-shadow() mixin for focus accessibility.
    &::-webkit-slider-thumb { box-shadow: variables.$form-range-thumb-focus-box-shadow; }
    &::-moz-range-thumb     { box-shadow: variables.$form-range-thumb-focus-box-shadow; }
    &::-ms-thumb            { box-shadow: variables.$form-range-thumb-focus-box-shadow; }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-webkit-slider-thumb {
    width: variables.$form-range-thumb-width;
    height: variables.$form-range-thumb-height;
    margin-top: (variables.$form-range-track-height - variables.$form-range-thumb-height) / 2; // Webkit specific
    @include gradients.gradient-bg(variables.$form-range-thumb-bg);
    border: variables.$form-range-thumb-border;
    @include border-radius.border-radius(variables.$form-range-thumb-border-radius);
    @include box-shadow.box-shadow(variables.$form-range-thumb-box-shadow);
    @include transition.transition(variables.$form-range-thumb-transition);
    appearance: none;

    &:active {
      @include gradients.gradient-bg(variables.$form-range-thumb-active-bg);
    }
  }

  &::-webkit-slider-runnable-track {
    width: variables.$form-range-track-width;
    height: variables.$form-range-track-height;
    color: transparent; // Why?
    cursor: variables.$form-range-track-cursor;
    background-color: variables.$form-range-track-bg;
    border-color: transparent;
    @include border-radius.border-radius(variables.$form-range-track-border-radius);
    @include box-shadow.box-shadow(variables.$form-range-track-box-shadow);
  }

  &::-moz-range-thumb {
    width: variables.$form-range-thumb-width;
    height: variables.$form-range-thumb-height;
    @include gradients.gradient-bg(variables.$form-range-thumb-bg);
    border: variables.$form-range-thumb-border;
    @include border-radius.border-radius(variables.$form-range-thumb-border-radius);
    @include box-shadow.box-shadow(variables.$form-range-thumb-box-shadow);
    @include transition.transition(variables.$form-range-thumb-transition);
    appearance: none;

    &:active {
      @include gradients.gradient-bg(variables.$form-range-thumb-active-bg);
    }
  }

  &::-moz-range-track {
    width: variables.$form-range-track-width;
    height: variables.$form-range-track-height;
    color: transparent;
    cursor: variables.$form-range-track-cursor;
    background-color: variables.$form-range-track-bg;
    border-color: transparent; // Firefox specific?
    @include border-radius.border-radius(variables.$form-range-track-border-radius);
    @include box-shadow.box-shadow(variables.$form-range-track-box-shadow);
  }

  &::-ms-thumb {
    width: variables.$form-range-thumb-width;
    height: variables.$form-range-thumb-height;
    margin-top: 0; // Edge specific
    margin-right: variables.$form-range-thumb-focus-box-shadow-width; // Workaround that overflowed box-shadow is hidden.
    margin-left: variables.$form-range-thumb-focus-box-shadow-width;  // Workaround that overflowed box-shadow is hidden.
    @include gradients.gradient-bg(variables.$form-range-thumb-bg);
    border: variables.$form-range-thumb-border;
    @include border-radius.border-radius(variables.$form-range-thumb-border-radius);
    @include box-shadow.box-shadow(variables.$form-range-thumb-box-shadow);
    @include transition.transition(variables.$form-range-thumb-transition);
    appearance: none;

    &:active {
      @include gradients.gradient-bg(variables.$form-range-thumb-active-bg);
    }
  }

  &::-ms-track {
    width: variables.$form-range-track-width;
    height: variables.$form-range-track-height;
    color: transparent;
    cursor: variables.$form-range-track-cursor;
    background-color: transparent;
    border-color: transparent;
    border-width: variables.$form-range-thumb-height / 2;
    @include box-shadow.box-shadow(variables.$form-range-track-box-shadow);
  }

  &::-ms-fill-lower {
    background-color: variables.$form-range-track-bg;
    @include border-radius.border-radius(variables.$form-range-track-border-radius);
  }

  &::-ms-fill-upper {
    margin-right: 15px; // arbitrary?
    background-color: variables.$form-range-track-bg;
    @include border-radius.border-radius(variables.$form-range-track-border-radius);
  }

  &:disabled {
    pointer-events: none;

    &::-webkit-slider-thumb {
      background-color: variables.$form-range-thumb-disabled-bg;
    }

    &::-moz-range-thumb {
      background-color: variables.$form-range-thumb-disabled-bg;
    }

    &::-ms-thumb {
      background-color: variables.$form-range-thumb-disabled-bg;
    }
  }
}
