@use "../config" as *;
@use "../colors" as *;
@use "../variables" as *;
@use "../mixins/border-radius" as *;
@use "../mixins/box-shadow" as *;
@use "../mixins/focus-ring" as *;
@use "../mixins/transition" as *;
@use "../mixins/gradients" as *;
@use "form-variables" as *;

// scss-docs-start range-tokens
$range-tokens: (
  --range-track-width: 100%,
  --range-track-height: .5rem,
  --range-track-cursor: pointer,
  --range-track-bg: var(--bg-3),
  --range-track-border-radius: 1rem,
  --range-track-box-shadow: var(--box-shadow-inset),
  --range-thumb-width: 1rem,
  --range-thumb-height: var(--range-thumb-width),
  --range-thumb-bg: var(--primary-base),
  --range-thumb-border: 0,
  --range-thumb-border-radius: 1rem,
  --range-thumb-box-shadow: 0 .1rem .25rem rgba($black, .1),
  --range-thumb-active-bg: color-mix(in oklch, var(--primary-base) 70%, var(--bg-body)),
  --range-thumb-disabled-bg: var(--fg-3),
  --range-thumb-transition-property: "background-color, border-color, box-shadow",
  --range-thumb-transition-timing: .15s ease-in-out,
  --range-thumb-transition: var(--range-thumb-transition-property) var(--range-thumb-transition-timing),
) !default;
// scss-docs-end range-tokens

// scss-docs-start range-mixins
@mixin range-thumb() {
  width: var(--range-thumb-width);
  height: var(--range-thumb-height);
  appearance: none;
  @include gradient-bg(var(--range-thumb-bg));
  border: var(--range-thumb-border);
  @include border-radius(var(--range-thumb-border-radius));
  @include box-shadow(var(--range-thumb-box-shadow));
  @include transition(var(--range-thumb-transition));

  &:active {
    @include gradient-bg(var(--range-thumb-active-bg));
  }
}

@mixin range-track() {
  width: var(--range-track-width);
  height: var(--range-track-height);
  color: transparent; // Why?
  cursor: var(--range-track-cursor);
  background-color: var(--range-track-bg);
  border-color: transparent; // Firefox specific?
  @include border-radius(var(--range-track-border-radius));
  @include box-shadow(var(--range-track-box-shadow));
}
// scss-docs-end range-mixins

@layer forms {
  .form-range {
    @each $token, $value in $range-tokens {
      #{$token}: #{$value};
    }

    width: 100%;
    height: calc(var(--range-thumb-height) + (var(--focus-ring-width) * 2));
    padding: 0; // Need to reset padding
    appearance: none;
    background-color: transparent;

    &:focus {
      outline: 0;


      // Pseudo-elements must be split across multiple rulesets to have an effect.
      &::-webkit-slider-thumb {
        @include focus-ring(true);
        --focus-ring-offset: 1px;
      }
      &::-moz-range-thumb     {
        @include focus-ring(true);
        --focus-ring-offset: 1px;
      }
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-webkit-slider-thumb {
      @include range-thumb();
      margin-top: calc((var(--range-track-height) - var(--range-thumb-height)) * .5); // Webkit specific
    }

    &::-moz-range-thumb {
      @include range-thumb();
    }

    &::-webkit-slider-runnable-track {
      @include range-track();
    }

    &::-moz-range-track {
      @include range-track();
    }

    &:disabled {
      pointer-events: none;

      &::-webkit-slider-thumb {
        background-color: var(--range-thumb-disabled-bg);
      }

      &::-moz-range-thumb {
        background-color: var(--range-thumb-disabled-bg);
      }
    }
  }
}
