@use "../mixins/border-radius";
@use "../mixins/box-shadow";
@use "../mixins/gradients";
@use "../variables";
@use "../vendor/rfs";

.form-file {
  --#{variables.$variable-prefix}form-file-height: #{variables.$form-file-height};
  position: relative;
}

.form-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: var(--#{variables.$variable-prefix}form-file-height);
  margin: 0;
  opacity: 0;

  &:focus-within ~ .form-file-label {
    border-color: variables.$form-file-focus-border-color;
    box-shadow: variables.$form-file-focus-box-shadow;
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled] ~ .form-file-label .form-file-text,
  &:disabled ~ .form-file-label .form-file-text {
    background-color: variables.$form-file-disabled-bg;
    border-color: variables.$form-file-disabled-border-color;
  }
}

.form-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  height: var(--#{variables.$variable-prefix}form-file-height);
  border-color: variables.$form-file-border-color;
  @include border-radius.border-radius(variables.$form-file-border-radius);
  @include box-shadow.box-shadow(variables.$form-file-box-shadow);
}

.form-file-text {
  display: block;
  flex-grow: 1;
  padding: variables.$form-file-padding-y variables.$form-file-padding-x;
  overflow: hidden;
  font-family: variables.$form-file-font-family;
  font-weight: variables.$form-file-font-weight;
  line-height: variables.$form-file-line-height;
  color: variables.$form-file-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: variables.$form-file-bg;
  border-color: inherit;
  border-style: solid;
  border-width: variables.$form-file-border-width;
  @include border-radius.border-left-radius(inherit);
}

.form-file-button {
  display: block;
  flex-shrink: 0;
  padding: variables.$form-file-padding-y variables.$form-file-padding-x;
  margin-left: -(variables.$form-file-border-width);
  line-height: variables.$form-file-line-height;
  color: variables.$form-file-button-color;
  @include gradients.gradient-bg(variables.$form-file-button-bg);
  border-color: inherit;
  border-style: solid;
  border-width: variables.$form-file-border-width;
  @include border-radius.border-right-radius(inherit);
}

.form-file-sm {
  --#{variables.$variable-prefix}form-file-height: #{variables.$form-file-height-sm};
  @include rfs.font-size(variables.$form-file-font-size-sm);

  .form-file-text,
  .form-file-button {
    padding: variables.$form-file-padding-y-sm variables.$form-file-padding-x-sm;
  }
}

.form-file-lg {
  --#{variables.$variable-prefix}form-file-height: #{variables.$form-file-height-lg};
  @include rfs.font-size(variables.$form-file-font-size-lg);

  .form-file-text,
  .form-file-button {
    padding: variables.$form-file-padding-y-lg variables.$form-file-padding-x-lg;
  }
}
