@use "../functions";
@use "../mixins/border-radius";
@use "../mixins/box-shadow";
@use "../variables";
@use "../vendor/rfs";

// Select
//
// Replaces the browser default select with a custom one, mostly pulled from
// https://primer.github.io/.

.form-select {
  display: block;
  width: 100%;
  height: variables.$form-select-height;
  padding: variables.$form-select-padding-y (variables.$form-select-padding-x + variables.$form-select-indicator-padding) variables.$form-select-padding-y variables.$form-select-padding-x;
  font-family: variables.$form-select-font-family;
  @include rfs.font-size(variables.$form-select-font-size);
  font-weight: variables.$form-select-font-weight;
  line-height: variables.$form-select-line-height;
  color: variables.$form-select-color;
  vertical-align: middle;
  background-color: variables.$form-select-bg;
  background-image: functions.escape-svg(variables.$form-select-indicator);
  background-repeat: no-repeat;
  background-position: variables.$form-select-bg-position;
  background-size: variables.$form-select-bg-size;
  border: variables.$form-select-border-width solid variables.$form-select-border-color;
  @include border-radius.border-radius(variables.$form-select-border-radius, 0);
  @include box-shadow.box-shadow(variables.$form-select-box-shadow);
  appearance: none;

  &:focus {
    border-color: variables.$form-select-focus-border-color;
    outline: 0;
    @if variables.$enable-shadows {
      @include box-shadow.box-shadow(variables.$form-select-box-shadow, variables.$form-select-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: variables.$form-select-focus-box-shadow;
    }

    &::-ms-value {
      // For visual consistency with other platforms/browsers,
      // suppress the default white text on blue background highlight given to
      // the selected option text when the (still closed) <select> receives focus
      // in Edge.
      // See https://github.com/twbs/bootstrap/issues/19398.
      color: variables.$input-color;
      background-color: variables.$input-bg;
    }
  }

  &[multiple],
  &[size]:not([size="1"]) {
    height: auto;
    padding-right: variables.$form-select-padding-x;
    background-image: none;
  }

  &:disabled {
    color: variables.$form-select-disabled-color;
    background-color: variables.$form-select-disabled-bg;
    border-color: variables.$form-select-disabled-border-color;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 variables.$form-select-color;
  }
}

.form-select-sm {
  height: variables.$form-select-height-sm;
  padding-top: variables.$form-select-padding-y-sm;
  padding-bottom: variables.$form-select-padding-y-sm;
  padding-left: variables.$form-select-padding-x-sm;
  @include rfs.font-size(variables.$form-select-font-size-sm);
}

.form-select-lg {
  height: variables.$form-select-height-lg;
  padding-top: variables.$form-select-padding-y-lg;
  padding-bottom: variables.$form-select-padding-y-lg;
  padding-left: variables.$form-select-padding-x-lg;
  @include rfs.font-size(variables.$form-select-font-size-lg);
}
