// scss/forms/_no-spinners.scss

.no-spinners {
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &::-webkit-clear-button,
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}
