<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
        {% include ads.html %}
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                {% include nav-customize.html %}
              {% elsif page.slug == "about" %}
                {% include nav-about.html %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

    </div>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
