<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body class="{% if page.slug == "customize" %}bs-twbs-show{% endif %}">
    <script type="text/javascript">
      if (localStorage && localStorage.hide_twbs === 'no') document.body.setAttribute('class', 'bs-twbs-show')
    </script>
    
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
        {% include ads.html %}
      </div>
    </div>

    <!-- Callout for the old docs link -->
    {% include old-bs-docs.html %}

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "css" %}
                {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                {% include nav-javascript.html %}
              {% elsif page.slug == "customize" %}
                {% include nav-customize.html %}
              {% elsif page.slug == "about" %}
                {% include nav-about.html %}
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          {% if page.slug != "customize" %}
            <div class="bs-callout bs-callout-info bs-twbs-toggle">
              Are you already familiar with Twitter Bootstrap?

              <div class="btn-group pull-right" data-toggle="buttons">
                <label class="btn btn-default">
                  <input type="radio" name="show-twbs" value="yes"> Yes
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="show-twbs" value="no"> No
                </label>
              </div>
            </div>
          {% endif %}

          {{ content }}
        </div>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        {% include social-buttons.html %}

        <p>Jasny Bootstrap is a fork of <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>. This fork is developed and maintained by <a href="http://twitter.com/ArnoldDaniels" target="_blank">Arnold Daniels</a>.</p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li>Currently v{{ site.current_version }}</li>
          <li class="muted">&middot;</li>
          <li><a href="{{ page.base_url }}2.3.1/">Bootstrap 2.3.1 docs</a></li>
          <li class="muted">&middot;</li>
          <li><a href="http://www.jasny.net">Jasny.net</a></li>
          <li class="muted">&middot;</li>
          <li><a href="{{ site.repo }}/issues?state=open">Issues</a></li>
          <li class="muted">&middot;</li>
          <li><a href="{{ site.repo }}/releases">Releases</a></li>
        </ul>
      </div>
    </footer>

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
