<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
</head>
<body>
<a class="sr-only" href="#content">Skip navigation</a>

<!-- Docs master nav -->
{% include nav-main.html %}

<div class="container main-container content">
     {{ content }}
</div>

<!-- Footer
================================================== -->
<footer class="footer" role="contentinfo">
    {% include footer.html %}
</footer>

</body>
</html>
