<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
</head>
<body>
<a class="sr-only" href="#content">Skip navigation</a>

<!-- Docs master nav -->
{% include nav-main.html %}

<div class="content-wrapper">
  <div class="container hidden-xs hidden-sm">
    <div class="row">
      <ol class="breadcrumb fs-small" itemprop="breadcrumb">
      	<li><a href="/mb">U.S.</a></li>
        <li><a href="/mb_51_ALL_A0M/west_bloomfield_mi">West Bloomfield, MI</a></li>
        <li><a href="/mb_53_F2_A0M/educational_services/west_bloomfield_mi">Educational Services</a></li>
        <li><a href="/mb_54_F212B_A0M/schools_and_educational_services_nec/west_bloomfield_mi">Schools and Educational Services, NEC</a></li>
        <li><a href="/mb_55_F212B05K_A0M/educational_services/west_bloomfield_mi">West Bloomfield Educational Cooperative Organizations</a></li>
        <li>Science &amp; "Stuff"</li>
      </ol>
    </div>
  </div>
  <div class="container content">
     {{ content }}
  </div>
</div>

<!-- Footer
================================================== -->
<footer class="footer" role="contentinfo">
    {% include footer.html %}
</footer>

</body>
</html>
