// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff
.modal-open {
  // Kill the scroll on the body
  .modal {
  }
}
// Container that the modal scrolls within
.modal {
  right: 0;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
}
// Shell div to position the modal with bottom padding
.modal-dialog {
  // allow clicks to pass through for custom click handling to close modal
  // When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
  }
  .modal.show & {
  }
  // When trying to close, animate focus to scale
  .modal.modal-static & {
  }
}
.modal-dialog-scrollable {
  .modal-content {
  }
  .modal-body {
  }
}
.modal-dialog-centered {
}
// Actual modal
.modal-content {
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow-xs);
  // Remove focus outline from opened modal
}
// Modal background
.modal-backdrop {
  right: 0;
  // Fade for backdrop
}
// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  @include border-top-radius($modal-content-inner-border-radius);
  .btn-close {
  }
}
// Title text within header
.modal-title {
}
// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  // when there should be a fixed height on `.modal-dialog`.
}
// Footer (for actions)
.modal-footer {
  justify-content: flex-end; // left align buttons with flex property because text-align doesn't work on flex items
  @include border-bottom-radius($modal-content-inner-border-radius);
  // Place margin between footer elements
  // This solution is far from ideal because of the universal selector usage,
  > * {
  }
}
// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
}
// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
  }
  .modal-dialog-scrollable {
  }
  .modal-dialog-centered {
  }
  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }
}
@include media-breakpoint-up(lg) {
  .modal-lg,
  .modal-xl {
  }
}
@include media-breakpoint-up(xl) {
}
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    .modal-fullscreen#{$postfix} {
      .modal-content {
        @include border-radius(0);
      }
      .modal-header {
        @include border-radius(0);
      }
      .modal-body {
      }
      .modal-footer {
        @include border-radius(0);
      }
    }
  }
}
