.popover {
  right: 0 #{"/* rtl:ignore */"};
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  @include font-size($popover-font-size);
  // Allow breaking very long words so they don't overflow the popover's bounds
  @include border-radius($popover-border-radius);
  @include box-shadow($popover-box-shadow);
  .popover-arrow {
    &::before,
    &::after {
    }
  }
}
.bs-popover-top {
  // Overrule margin set by popper.js
  > .popover-arrow {
    &::before {
    }
    &::after {
    }
  }
}
.bs-popover-end {
  // Overrule margin set by popper.js
  margin-right: $popover-arrow-height !important; // stylelint-disable-line declaration-no-important
  > .popover-arrow {
    right: subtract(-$popover-arrow-height, $popover-border-width);
    &::before {
      right: 0;
      border-left-color: $popover-arrow-outer-color;
    }
    &::after {
      right: $popover-border-width;
      border-left-color: $popover-arrow-color;
    }
  }
}
.bs-popover-bottom {
  // Overrule margin set by popper.js
  > .popover-arrow {
    &::before {
    }
    &::after {
    }
  }
  // This will remove the popover-header's border just below the arrow
  .popover-header::before {
    right: 50%;
    margin-right: -$popover-arrow-width / 2;
  }
}
.bs-popover-start {
  // Overrule margin set by popper.js
  margin-left: $popover-arrow-height !important; // stylelint-disable-line declaration-no-important
  > .popover-arrow {
    left: subtract(-$popover-arrow-height, $popover-border-width);
    &::before {
      left: 0;
      border-right-color: $popover-arrow-outer-color;
    }
    &::after {
      left: $popover-border-width;
      border-right-color: $popover-arrow-color;
    }
  }
}
.bs-popover-auto {
  &[data-popper-placement^="top"] {
    @extend .bs-popover-top;
  }
  &[data-popper-placement^="left"] {
    @extend .bs-popover-end;
  }
  &[data-popper-placement^="bottom"] {
    @extend .bs-popover-bottom;
  }
  &[data-popper-placement^="right"] {
    @extend .bs-popover-start;
  }
}
// Offset the popover to account for the popover arrow
.popover-header {
  @include font-size($font-size-base);
  @include border-top-radius($popover-inner-border-radius);
  &:empty {
  }
}
.popover-body {
}
