@mixin caret-down {
  border-left: $caret-width solid transparent;
  border-right: $caret-width solid transparent;
}
@mixin caret-up {
  border-left: $caret-width solid transparent;
  border-right: $caret-width solid transparent;
}
@mixin caret-end {
  border-left: 0;
  border-right: $caret-width solid;
}
@mixin caret-start {
  border-left: $caret-width solid;
}
  @if $enable-caret {
    &::after {
      margin-right: $caret-spacing;
      @if $direction == down {
        @include caret-down();
      } @else if $direction == up {
        @include caret-up();
      } @else if $direction == end {
        @include caret-end();
      }
    }
    @if $direction == start {
      &::after {
      }
      &::before {
        margin-left: $caret-spacing;
        @include caret-start();
      }
    }
    &:empty::after {
      margin-right: 0;
    }
  }
}
