---
export const title = 'Offcanvas navbar template'
export const extra_css = ['offcanvas-navbar.css']
export const extra_js = [{ src: 'offcanvas-navbar.js' }]
export const body_class = 'bg-body-tertiary'
export const aliases = '/docs/[[config:docs_version]]/examples/offcanvas/'

// TODO(HiDeoo) Finish porting this, I just needed this page to test example aliases
---

<div>
  Ahoy
</div>
