@use "../../../scss/mixins/border-radius" as *;

// stylelint-disable selector-max-id, declaration-no-important

//
// Carbon ads
//

@layer custom {
  #carbon-responsive .carbon-responsive-wrap {
    padding: 1rem !important;
    background-color: var(--bs-bg-1) !important;
    border: 0 !important;
    @include border-radius(var(--bs-border-radius-lg) !important);
  }
  #carbon-responsive a,
  .carbon-description {
    color: var(--bs-fg-1) !important;
  }
  .carbon-img {
    position: relative;
    overflow: hidden;
    @include border-radius(var(--bs-border-radius));

    &::after {
      position: absolute;
      inset: 0;
      display: block;
      content: "";
      border: 1px solid var(--bs-border-color-translucent);
      @include border-radius(var(--bs-border-radius));
    }
  }
}
