@use "../../../scss/layout/breakpoints" as *;

@layer custom {
  .bd-masthead {
    padding-block: 3rem;
    // stylelint-disable
    background-image: linear-gradient(180deg, color-mix(in oklch, var(--bs-bg-body) 1%, transparent), var(--bs-bg-body) 85%),
                      radial-gradient(ellipse at top left, color-mix(in oklch, var(--bs-blue-500) 50%, transparent), transparent 50%),
                      radial-gradient(ellipse at top right, color-mix(in oklch, var(--bd-accent) 50%, transparent), transparent 50%),
                      radial-gradient(ellipse at center right, color-mix(in oklch, var(--bd-violet) 50%, transparent), transparent 50%),
                      radial-gradient(ellipse at center left, color-mix(in oklch, var(--bs-pink-500) 50%, transparent), transparent 50%);
    // stylelint-enable

    h1 {
      --bs-heading-color: var(--bs-fg-body);
      font-size: var(--bs-font-size-3xl);
      letter-spacing: -.025em;

      @include media-breakpoint-up(lg) {
        font-size: var(--bs-font-size-4xl);
      }
    }

    .btn-clipboard {
      position: absolute;
      top: -.625rem;
      right: 0;
      background-color: transparent;
    }

    .btn-styled {
      box-shadow: var(--bs-box-shadow), var(--bs-btn-shadow);
    }

    #carbonads { // stylelint-disable-line selector-max-id
      max-width: 400px;
      margin-block-start: 3rem;
    }

    @include media-breakpoint-up(md) {
      display: grid;
      place-items: center;
      height: calc(100vh - var(--bd-navbar-offset));
    }
  }
}
