.animation-direction-normal{
  animation-direction: normal;
}
.animation-direction-reverse{
  animation-direction: reverse;
}
.animation-direction-alternate{
  animation-direction: alternate;
}
.animation-direction-alternate-reverse{
  animation-direction: alternate-reverse;
}
