@use "../functions" as *;
@use "../mixins/tokens" as *;

// scss-docs-start stretched-link-pseudo-element
$stretched-link-pseudo-element: after !default;
// scss-docs-end stretched-link-pseudo-element

$stretched-link-tokens: () !default;

// scss-docs-start stretched-link-tokens
// stylelint-disable-next-line scss/dollar-variable-default
$stretched-link-tokens: defaults(
  (
    --stretched-link-z-index: 1,
  ),
  $stretched-link-tokens
);
// scss-docs-end stretched-link-tokens

@layer helpers {
  .stretched-link {
    @include tokens($stretched-link-tokens);

    &::#{$stretched-link-pseudo-element} {
      position: absolute;
      inset: 0;
      z-index: var(--stretched-link-z-index);
      content: "";
    }
  }
}
