@icomoon-font-path: "../fonts";

@icon-ach: "\e900";
@icon-add-profile: "\e901";
@icon-add: "\e902";
@icon-alert-circle: "\e903";
@icon-alert: "\e904";
@icon-bank: "\e905";
@icon-chart: "\e906";
@icon-briefcase: "\e907";
@icon-camera: "\e908";
@icon-card: "\e909";
@icon-chat-pending: "\e90a";
@icon-check-circle: "\e90b";
@icon-check: "\e90c";
@icon-close-circle: "\e90d";
@icon-close: "\e90e";
@icon-collapse: "\e90f";
@icon-chat: "\e910";
@icon-chats: "\e911";
@icon-delete-profile: "\e912";
@icon-document: "\e913";
@icon-documents: "\e914";
@icon-down-arrow: "\e915";
@icon-down: "\e916";
@icon-download: "\e917";
@icon-edit: "\e918";
@icon-expand: "\e919";
@icon-eye: "\e91a";
@icon-facebook-inverse: "\e91b";
@icon-facebook: "\e91c";
@icon-fast-flag: "\e91d";
@icon-gift: "\e91e";
@icon-globe: "\e91f";
@icon-google: "\e920";
@icon-help-circle: "\e921";
@icon-help: "\e922";
@icon-home: "\e923";
@icon-id: "\e924";
@icon-joint-account: "\e925";
@icon-left-arrow: "\e926";
@icon-left: "\e927";
@icon-line-graph: "\e928";
@icon-link: "\e929";
@icon-lock: "\e92a";
@icon-login: "\e92b";
@icon-logout: "\e92c";
@icon-man: "\e92d";
@icon-menu: "\e92e";
@icon-message: "\e92f";
@icon-mobile: "\e930";
@icon-money: "\e931";
@icon-notification: "\e932";
@icon-pdf: "\e933";
@icon-pending: "\e934";
@icon-profile: "\e935";
@icon-receipt: "\e936";
@icon-request: "\e937";
@icon-right-arrow: "\e938";
@icon-right: "\e939";
@icon-search: "\e93a";
@icon-send: "\e93b";
@icon-setting: "\e93c";
@icon-transfer: "\e93d";
@icon-trash: "\e93e";
@icon-twitter: "\e93f";
@icon-unlock: "\e940";
@icon-up-arrow: "\e941";
@icon-up: "\e942";
@icon-upload: "\e943";
@icon-verification: "\e944";
@icon-whatsapp: "\e945";
@icon-woman: "\e946";
