@use "sass:color";
@use "../config" as *;
@use "../colors" as *;
@use "../variables" as *;
@use "../functions" as *;
@use "../forms/form-variables" as *;

// scss-docs-start btn-variables
$btn-color:                   var(--#{$prefix}fg-body) !default;
$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-xs:            .125rem !default;
$btn-padding-x-xs:            .375rem !default;
$btn-font-size-xs:            var(--#{$prefix}font-size-xs) !default;
$btn-line-height-xs:          1.125rem !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-font-size-sm:            var(--#{$prefix}font-size-sm) !default;
$btn-line-height-sm:          1.125rem !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-font-size-lg:            16px !default;
$btn-line-height-lg:          1.25rem !default;

// Intentionally left for folks who want it
// $btn-padding-y-xl:            .75rem !default;
// $btn-padding-x-xl:            1.25rem !default;
// $btn-font-size-xl:            var(--#{$prefix}font-size-lg) !default;
// $btn-line-height-xl:          1.5rem !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-normal !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-color:              var(--#{$prefix}link-color) !default;
$btn-link-hover-color:        var(--#{$prefix}link-hover-color) !default;
$btn-link-disabled-color:     var(--#{$prefix}fg-3) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           var(--#{$prefix}border-radius) !default;
$btn-border-radius-xs:        var(--#{$prefix}border-radius-sm) !default;
$btn-border-radius-sm:        var(--#{$prefix}border-radius-sm) !default;
$btn-border-radius-lg:        var(--#{$prefix}border-radius-lg) !default;
$btn-border-radius-xl:        var(--#{$prefix}border-radius-lg) !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
// scss-docs-end btn-variables
