@use "sass:color";
@use "../config" as *;
@use "../colors" as *;
@use "../variables" as *;
@use "../functions" as *;
@use "../forms/form-variables" as *;

// scss-docs-start btn-variables
$btn-color:                   var(--fg-body) !default;
$btn-padding-y:               .375rem !default;
$btn-padding-x:               .75rem !default;
$btn-font-size:               var(--font-size-base) !default;
$btn-line-height:             var(--line-height-base) !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-xs:            .125rem !default;
$btn-padding-x-xs:            .375rem !default;
$btn-font-size-xs:            var(--font-size-xs) !default;
$btn-line-height-xs:          1.125rem !default;

$btn-padding-y-sm:            .25rem !default;
$btn-padding-x-sm:            .5rem !default;
$btn-font-size-sm:            var(--font-size-sm) !default;
$btn-line-height-sm:          1.125rem !default;

$btn-padding-y-lg:            .5rem !default;
$btn-padding-x-lg:            1rem !default;
$btn-font-size-lg:            var(--font-size-md) !default;
$btn-line-height-lg:          1.25rem !default;

// Intentionally left for folks who want it
// $btn-padding-y-xl:            .75rem !default;
// $btn-padding-x-xl:            1.25rem !default;
// $btn-font-size-xl:            var(--font-size-lg) !default;
// $btn-line-height-xl:          1.5rem !default;

$btn-border-width:            var(--border-width) !default;

$btn-font-weight:             var(--font-weight-normal) !default;
$btn-disabled-opacity:        .65 !default;

$btn-link-color:              var(--link-color) !default;
$btn-link-hover-color:        var(--link-hover-color) !default;
$btn-link-disabled-color:     var(--fg-3) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           var(--border-radius) !default;
$btn-border-radius-xs:        var(--border-radius-sm) !default;
$btn-border-radius-sm:        var(--border-radius-sm) !default;
$btn-border-radius-lg:        var(--border-radius-lg) !default;
$btn-border-radius-xl:        var(--border-radius-lg) !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
// scss-docs-end btn-variables
