@use "../config" as *;
@use "../colors" as *;
@use "../variables" as *;
@use "../mixins/border-radius" as *;
@use "../mixins/color-mode" as *;
@use "../mixins/focus-ring" as *;

// scss-docs-start close-variables
$btn-close-size:             1.25rem !default;
$btn-close-color:            var(--#{$prefix}fg-body) !default;
$btn-close-opacity:          .5 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-opacity:    .85 !default;
$btn-close-disabled-opacity: .25 !default;
// scss-docs-end close-variables

// Transparent background and border properties included for button version.
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

@layer components {
  .btn-close {
    // scss-docs-start close-css-vars
    --#{$prefix}btn-close-size: #{$btn-close-size};
    --#{$prefix}btn-close-color: #{$btn-close-color};
    --#{$prefix}btn-close-opacity: #{$btn-close-opacity};
    --#{$prefix}btn-close-hover-opacity: #{$btn-close-hover-opacity};
    --#{$prefix}btn-close-focus-opacity: #{$btn-close-focus-opacity};
    --#{$prefix}btn-close-disabled-opacity: #{$btn-close-disabled-opacity};
    // scss-docs-end close-css-vars

    box-sizing: content-box;
    width: var(--#{$prefix}btn-close-size);
    height: var(--#{$prefix}btn-close-size);
    padding: 0;
    color: var(--#{$prefix}btn-close-color);
    background: transparent;
    border-radius: var(--#{$prefix}border-radius-sm);
    border: 0; // for button elements
    opacity: var(--#{$prefix}btn-close-opacity);

    > svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentcolor;
    }

    // Override <a>'s hover style
    &:hover {
      color: var(--#{$prefix}btn-close-color);
      text-decoration: none;
      opacity: var(--#{$prefix}btn-close-hover-opacity);
    }

    &:focus {
      @include focus-ring();
      opacity: var(--#{$prefix}btn-close-focus-opacity);
    }

    &:disabled,
    &.disabled {
      pointer-events: none;
      user-select: none;
      opacity: var(--#{$prefix}btn-close-disabled-opacity);
    }
  }
}
